<div class="container pagewrapper">
  <div class="row">
    <div class="col-md-12  headerdiv">
      <div class="outer_heading">
        <div class="heading" *ngIf="router.url == '/post-auth/project-list'">
          <h1>{{'Project.ProjectList'|translate}} <span></span></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container formbody">
  <!-- <div class="row multibutt">
        <div class="col-md-12">
            <ul>
                <li><a [routerLink]="['/post-auth/project-add']"><i class="fa fa-plus" aria-hidden="true"></i> {{'Project.Add'|translate}}</a></li>
            </ul>
        </div>
    </div> -->
  <div class="row entity-srchbox formbody">
    <div class="col-md-9">
      <div class="form-group">
        <input type="text" id="" [(ngModel)]="searchString" placeholder="{{ 'PROPOSAL_LIST.Enterthesearchfield' | translate}}">
      </div>
    </div>
    <div class="col-md-1">
      <input name="register" type="button" value="{{ 'PROPOSAL_LIST.Search' | translate}}" (click)="projectSearch()" class="serchbutt">
    </div>
    <div class="col-md-2 multibutt" *ngIf="createtatus">
      <ul>
        <li><a [routerLink]="['/post-auth/project-add']"><i class="fa fa-plus" aria-hidden="true"></i> {{'Project.Add'|translate}}</a></li>
      </ul>
    </div>
  </div>
  <div class="row entrysrch_table">
    <div class="col-md-12 p-0 restable">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th width="25%">{{'Project.ProjectName(English)'|translate}}</th>
            <th width="25%">{{'Project.ProjectName(Spanish)'|translate}}</th>
            <th width="15%">{{'Project.StartDate'|translate}}</th>
            <th width="15%">{{'Project.EndDate'|translate}}</th>
            <th width="15%">{{'Project.Period'|translate}}</th>
            <th width="15%">{{'Project.Status'|translate}}</th>
            <th width="15%">{{'Project.Action'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of projectData | paginate: {itemsPerPage: itemsPerPage, currentPage: p, totalItems: length}">
            <td>
              <p>{{data.projectNameEn}}</p>
            </td>
            <td>
              <p>{{data.projectNameEs}}</p>
            </td>
            <td>
              <p> {{data.startDate}} </p>
            </td>
            <td>
              <p> {{data.endDate}} </p>
            </td>
            <td>
              <p> {{data.period}} </p>
            </td>
            <td>
              <p *ngIf="language =='en'">{{data.status == 1 ? "Active" : "Inactive"}}</p>
              <p *ngIf="language =='es'">{{data.status == 1 ? "Activo" : "Inactivo"}}</p>
            </td>
            <td>
              <a  *ngIf="editstatus" href="javascript:void(0)" class="edit" routerLink="/post-auth/project-edit/{{data.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div align="center" *ngIf="length == 0">{{'NEWS_LIST.NoRecordsFound' | translate}}</div>
  <div *ngIf="length > 0" class="row paginationdiv">
    <div class="col-md-12">
      <pagination-controls (pageChange)="paginationFeed($event)"></pagination-controls>
    </div>
  </div>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
