<div class="container pagewrapper">
    <div class="row">
        <div class="col-md-12  headerdiv">
            <div class="outer_heading">
                <div class="heading" >
                    <h1>{{'CMS.CMS'|translate}}<span></span></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="formbody bodywrapper">
    
    <form class="example-form" [formGroup]="cmsForm" (ngSubmit)="addCms(cmsForm.value)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{'CMS.title(English)'|translate}} </label>
                        <input type="hidden" name="UpdatedBy" value="1">
                        <input type="text" class="form-control" formControlName="titleEn" id=""
                        placeholder="{{'CMS.Entertitle(English)'|translate}}">
                        <small *ngIf="formSubmit && titleEn.errors || (titleEn.errors && (titleEn.dirty || titleEn.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{'CMS.title(Spanish)'|translate}}</label>
                        <input type="hidden" name="UpdatedBy" value="1">
                        <input type="text" class="form-control" formControlName="titleEs" id=""
                        placeholder="{{'CMS.Entertitle(Spanish)'|translate}}">
                        <small *ngIf="formSubmit && titleEs.errors || (titleEs.errors && (titleEs.dirty || titleEs.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{'CMS.Description(English)'|translate}}</label>
                        <ck-editor name="editor1" placeholder="Describe..." formControlName="descriptionEn" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
                        <small *ngIf="formSubmit && descriptionEn.errors || (descriptionEn.errors && (descriptionEn.dirty || descriptionEn.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{'CMS.Description(Spanish)'|translate}}</label>
                        <ck-editor name="editor1" placeholder="Describe..." formControlName="descriptionEs" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
                        <small *ngIf="formSubmit && descriptionEs.errors || (descriptionEs.errors && (descriptionEs.dirty || descriptionEs.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{'CMS.link_en'|translate}} </label>
                        <input type="text" class="form-control" formControlName="link_en">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{'CMS.link_es'|translate}}</label>
                        <input type="text" class="form-control" formControlName="link_es">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{'Project.Status'|translate}}</label>
                        <div class="custom-control custom-radio custom-control-inline statediv">
                            <input type="radio" formControlName="status" class="custom-control-input" id="Active" value="1">
                            <label class="custom-control-label" for="Active">{{'Project.Active'|translate}}</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline statediv">
                            <input type="radio" class="custom-control-input" id="Inactive" formControlName="status" value="0">
                            <label class="custom-control-label" for="Inactive">{{'Project.Inactive'|translate}}</label>
                        </div>
                        <br>
                        <small *ngIf="formSubmit && status.errors || (status.errors && (status.dirty || status.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>

                    </div>
                </div>
            </div>
            <input name="register" type="submit" value="{{'CMS.Save'|translate}}" class="registerbutt newspub">
        </div>
    </form>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>

