<div class="container pagewrapper">
  <div class="row">
    <div class="col-md-12  headerdiv">
      <div class="outer_heading">
        <div class="heading">
          <h1> {{ 'PROPOSAL.TITLE' | translate }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="formbody prop_body">
  <div class="container">
    <form [formGroup]="proposalFormAction">
      <div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>{{ 'PROPOSAL.ENTITY' | translate }}</label>
              <input type="text" id="" formControlName="entityName" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>{{ 'PROPOSAL.APP_DATE' | translate }}</label>
              <input type="text" id="" placeholder="" formControlName="applicationDate" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>{{ 'PROPOSAL.GRANT_REQ' | translate }}</label>
              <input type="text" id="" placeholder="" formControlName="requested_grant" readonly>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="loggedUserRole==='system-admin' || loggedUserRole==='analysts'">
          <div class="col-md-3">
            <div class="form-group">
              <label>{{ 'PROPOSAL.GRANT_SUGGEST' | translate }}</label>
              <input type="text" id="" placeholder="" formControlName="donation_grant" disabled>
            </div>
          </div>
          <div class="col-md-3" *ngIf="loggedUserRole==='system-admin'">
            <div class="form-group">
              <label>{{ 'PROPOSAL.GRANT_FINAL' | translate }}</label>
              <input type="text" id="" placeholder="" formControlName="approved_grant" disabled>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="loggedUserType===0">
          <div class="col-md-4">
            <div class="form-group">
              <label>{{ 'PROPOSAL.ID' | translate }}</label>
              <input type="text" id="" formControlName="proposalUniqueId" disabled>
            </div>
          </div>
          <div class="col-md-1" *ngIf="proposal.application_status == 4">
            <div class="form-group">
              <label class="opentxt">&nbsp;</label>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="open_status" value="1" disabled>
                <label class="custom-control-label" for="customCheck1">Open</label>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label>{{ 'PROPOSAL.ASSIGN_USER' | translate }}</label>
              <div class="select-style newselect-style">
                <!-- <select formControlName="assigned_user" class="city" disabled>
                  <option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
                  <option *ngFor="let item of adminUserlisting" [value]="item.id">{{item.admin_last_name}} {{item.admin_first_name}} - {{item.role.roleName}}</option>
                </select> -->
                <select formControlName="assigned_user" class="city" disabled="">
                    <option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
                    <optgroup *ngFor="let role of adminUserlisting" label="{{role.roleName}}">
                        <option *ngFor="let user of role.users" [value]="user.id">{{user.name}} </option>
                    </optgroup>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container pagewrapper">
  <div class="row">
    <div class="col-md-12 p-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="javascript:" (click)="back1()" [ngClass]="{'active': active1}"><span>1</span>{{ 'PROPOSAL.START' | translate }} </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:" (click)="back2()" [ngClass]="{'active': active2}"><span>2</span>{{ 'PROPOSAL.PROGRAM' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:" (click)="back3()" [ngClass]="{'active': active3}"><span>3</span>{{ 'PROPOSAL.EVALUATION' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:" (click)="backProp()" [ngClass]="{'active': activeProp}"><span>4</span>{{ 'PROPOSAL.PROPERTY' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:" (click)="backBudget()" [ngClass]="{'active': activeBudget}"><span>5</span>{{ 'PROPOSAL.BUDGET' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:" (click)="backLegal()" [ngClass]="{'active': activeLegal}"><span>6</span>{{ 'PROPOSAL.LEGAL' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:" (click)="backReq()" [ngClass]="{'active': activeReq}"><span>7</span>{{ 'PROPOSAL.REQUIREMENTS' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:" (click)="backEvidence()" [ngClass]="{'active': activeEvidence}"><span>8</span>{{ 'PROPOSAL.EVIDENCE' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:" (click)="backSubmit()" [ngClass]="{'active': activeSubmit}"><span>9</span>{{ 'PROPOSAL.SUBMIT' | translate }}</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="formbody bodywrapper prop_body">
  <!-- START -->
  <div class="proposal_step1" *ngIf="show1">
    <form [formGroup]="proposalForm_1" (ngSubmit)="toggle1(proposalForm_1.value)">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="download_butt toppopdown">
              <a href="{{ apiBaseUrl }}/api/getPdf/{{proposal_id}}/{{language}}"><img src="assets/images/download.png"><span>{{ 'PROPOSAL.DOWNLOAD_LINK' | translate }}</span></a>
            </div>
            <div class="form-group topprj">
              <label style="margin-bottom:10px;">{{ 'PROPOSAL.PROJECT' | translate }}</label>
              <div class="select-style newselect-style">
                <select formControlName="project_id" class="city" disabled>
                  <option value="">{{ 'PROPOSAL.ALLPROJECT' | translate }}</option>
                  <option *ngFor="let item of Projectlisting" [value]="item.id">{{item.projectNameEn}}</option>
                </select>
                <small *ngIf="(f1.project_id.errors && f1.project_id.touched) || (f1submitted && f1.project_id.errors)" class="text-danger">{{ 'PROPOSAL.PROJECT_ERR' | translate }}</small>
              </div>
              <div class="spacer"></div>
            </div>
            <div class="form-group">
              <label style="margin-bottom:10px;">{{ 'PROPOSAL.CITY' | translate }}</label>
              <div class="select-style newselect-style">
                <select formControlName="city" class="city" disabled>
                  <option value="">{{ 'PROPOSAL.ALLCITY' | translate }}</option>
                  <option *ngFor="let item of Citylisting" [value]="item.id">{{item.city}}</option>
                </select>
                <small *ngIf="(f1.city.errors && f1.city.touched) || (f1submitted && f1.city.errors)" class="text-danger">{{ 'PROPOSAL.CITY_ERR' | translate }}</small>
              </div>
              <div class="spacer"></div>
            </div>
            <h1>{{ 'PROPOSAL.START_TITLE' | translate }}</h1>
            <p>{{ 'PROPOSAL.START_SUB_TITLE' | translate }}</p>
            <p class="allfields">{{ 'PROPOSAL.MANDATORY_MSG' | translate }}</p>
            <div class="form-group">
              <label>{{ 'PROPOSAL.COMMUNITY' | translate }}</label>
              <input type="text" formControlName="community" class="form-control" [ngClass]="{ 'is-invalid': f1submitted && f1.community.errors }" required placeholder="{{ 'PROPOSAL.COMMUNITY_LVL' | translate }}" disabled>
              <span class="inctxt">{{ 'PROPOSAL.COMMUNITY_MSG' | translate }}</span>
            </div>
            <div class="populationtxt">
              <h4>{{ 'PROPOSAL.POPULATION' | translate }}</h4>
              <p>{{ 'PROPOSAL.POPULATION_LVL' | translate }}</p>
            </div>
            <div class="form-group">
              <label class="container-in" for="male">{{ 'PROPOSAL.MALE' | translate }}
                <input type="radio" name="categories" id="male" value="0" formControlName="categories" disabled>
                <span class="checkmark checkmarkM"></span>
              </label>
              <label class="container-in contF" for="female">{{ 'PROPOSAL.FEMALE' | translate }}
                <input type="radio" name="categories" id="female" value="1" formControlName="categories" disabled>
                <span class="checkmark checkmarkF"></span>
              </label>
              <label class="container-in" for="both">{{ 'PROPOSAL.BOTH' | translate }}
                <input type="radio" name="categories" id="both" value="2" formControlName="categories" disabled>
                <span class="checkmark checkmarkB"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="row sectionbor">
          <div class="col-md-10">
            <div class="form-group">
              <label>{{ 'PROPOSAL.AGEGROUP' | translate }} </label>
              <ul class="agegroup">
                <li *ngFor="let data of ageGroupArr">
                  <label class="container-agegroup" for="{{data.value}}">{{data.value}}
                    <input type="checkbox" id="{{data.value}}" formControlName="ageGroup_{{data.id}}" (change)="onAgeSelect(data.value, $event.target.checked)" disabled>
                    <span class="checkmarks"></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class=" row  protoppad">
          <div class="col-xl-8">
            <h2>{{ 'PROPOSAL.NECESSITY_STMT' | translate }}</h2>
            <p class="destxt">{{ 'PROPOSAL.NECESSITY_STMT_DESC' | translate }}</p>
            <h5 class="necetxt">{{ 'PROPOSAL.NECESSITY_DOC_UPLOAD_TITLE' | translate }}</h5>
            <div class="form-group secpad">
              <input type="text" formControlName="necessity_statement" class="form-control" [ngClass]="{ 'is-invalid': f1submitted && f1.necessity_statement.errors }" required placeholder="{{ 'PROPOSAL.ENTER_NECESSITY_STMT' | translate }}" disabled>
            </div>
            <div class="uploadwrap" *ngIf="loggedUserType===1">
              <div class="wrap-temp" *ngFor="let eachfile of upFiles['necessity_statement_file']">{{eachfile.name}}<a href="javascript:" (click)="removefile(eachfile ,'necessity_statement_file')">X</a></div>
            </div>
          </div>
          <div class="col-md-3 leftbor">
            <h5 class="down_txt">{{ 'PROPOSAL.DOWNLOADS' | translate }}</h5>
            <ul class="downloadsec">
              <li><a href="javascript:">{{ 'PROPOSAL.PUERTO_RICO_STS_INS' | translate}}</a></li>
              <li><a href="javascript:">{{ 'PROPOSAL.SUBS_ABUSE' | translate}}</a></li>
              <li><a href="javascript:">{{ 'PROPOSAL.YOUTH_DEV_INS' | translate}}</a></li>
              <li><a href="javascript:">{{ 'PROPOSAL.PREHCO' | translate}}</a></li>
            </ul>
          </div>
        </div>
        <!-- section listing -->
        <div class="row sectionbor listingtable">
          <div class="col-md-12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="uploadtable">
              <tr *ngFor="let url of proposal.proposal_documents">
                <td *ngIf="url.document_type == 'necessity_statement_file'">
                  <p><span>{{ 'PROPOSAL.CLASSIFICATION' | translate }}</span>
                    {{ 'PROPOSAL.NECESSITY_STMT' | translate }}</p>
                </td>
                <td *ngIf="url.document_type == 'necessity_statement_file'">
                  <p><span>{{ 'PROPOSAL.DOCUMENT' | translate }}</span> {{url.org_file_name}}</p>
                </td>
                <td *ngIf="url.document_type == 'necessity_statement_file' && loggedUserType===0">
                  <div class="download_butt" style="margin-bottom: 0px;">
                    <a href="{{fileBaseUrl}}{{url.file_path}}" target="_blank"><img src="assets/images/download.png"><span>{{ 'GLOBAL.DOWNLOAD' | translate }}</span></a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- section listing -->
        <div class="row protoppad sec-four">
          <div class="col-md-8">
            <div class="wrapdiv">
              <h2 class="prgaproch">{{ 'PROPOSAL.PRO_APPR' | translate }}</h2>
              <p class="newtxt">{{ 'PROPOSAL.PRO_APPR_DESC' | translate }}</p>
              <div class="select-style newselect-style">
                <select formControlName="programmatic_approach" disabled>
                  <option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
                  <option value="prog_opt1">{{ 'PROPOSAL.PRO_APPR_OPT1' | translate }}</option>
                  <option value="prog_opt2">{{ 'PROPOSAL.PRO_APPR_OPT2' | translate }}</option>
                  <option value="prog_opt3">{{ 'PROPOSAL.PRO_APPR_OPT3' | translate }}</option>
                </select>
                <small *ngIf="(f1.programmatic_approach.errors && f1.programmatic_approach.touched) || (f1submitted && f1.programmatic_approach.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
              </div>
            </div>
          </div>
          <div class="col-md-4 rightbotpan">
            <p>{{ 'PROPOSAL.PRO_APPR_DESC2' | translate }}</p>
          </div>
        </div>
        <!-- Pareo Registration Div -->
        <div class="row protoppad sec-four">
          <div class="col-md-12">
            <h2 class="prgaproch">{{ 'PROPOSAL.PAREO' | translate }}</h2>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{ 'PROPOSAL.TYPE' | translate }}</label>
                  <div class="select-style newselect-style">
                  <select formControlName="pareo_type" disabled>
                      <option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
                      <option *ngFor="let item of Pareotypelisting" [value]="item.id">
                        {{ ('PROPOSAL.' + item.type_name ) | translate }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'PROPOSAL.ORIGIN' | translate }}</label>
                  <textarea class="form-control" formControlName="pareo_origin" placeholder="{{ 'PROPOSAL.DESCRIBE' | translate }}" disabled></textarea>
                </div>
                <div class="form-group">
                  <label>{{ 'PROPOSAL.CATEGORY' | translate }}</label>
                  <div class="select-style newselect-style">
                    <select formControlName="pareo_category" disabled>
                      <option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
                      <option *ngFor="let item of Pareocategorylisting" [value]="item.id">{{ ('PROPOSAL.' + item.category_name ) | translate }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group" *ngIf="proposal.requested_grant>0">
                  <label>{{ 'PROPOSAL.PAREO_CALC' | translate }}</label>
                  <input type="text" formControlName="pareoCal" readonly currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" style="padding-right: 20px;">
                </div>
                <div class="form-group" *ngIf="proposal.approved_grant>0">
                  <label>{{ 'PROPOSAL.APPROVEDGRANT' | translate }}</label>
                  <input type="text" formControlName="pareo_approved_grant" readonly currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" style="padding-right: 20px;">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <ul class="foot_butt_class">
              <li><input name="" type="submit" value="{{ 'PROPOSAL.NEXT' | translate }}" class="button" /></li>
            </ul>
          </div>
        </div>
        <!-- Pareo Registration Div -->
      </div>
    </form>
  </div>
  <!-- START -->
  <!-- PROGRAM -->
  <div class="proposal_step2" *ngIf="show2">
    <form [formGroup]="proposalForm_2" (ngSubmit)="toggle2()">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xl-8 prog">
            <h5>{{ 'PROPOSAL.GOAL_LVL' | translate }}</h5>
          </div>
          <div class="col-md-12 col-xl-4">
            <div class="download_butt mar-off">
              <a href="javascript:"><img src="assets/images/download.png"><span>{{ 'PROPOSAL.DOWNLOAD_LINK' | translate }}</span></a>
            </div>
          </div>
        </div>
        <div class="row  prog sectionbor ">
          <div class="col-md-12">
            <p>{{ 'PROPOSAL.GOAL_INFO' | translate }}</p>
            <div class="form-group">
              <textarea class="form-control" formControlName="goal_to_achieve" placeholder="{{ 'PROPOSAL.DESCRIBE' | translate }}" disabled></textarea>
              <small *ngIf="(f2.goal_to_achieve.errors && f2.goal_to_achieve.touched) || (f2submitted && f2.goal_to_achieve.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
            </div>
          </div>
        </div>
        <div class="row  prog sectionbor">
          <div class="col-md-12 prosectwo">
            <h5>{{ 'PROPOSAL.BENEFITS_LVL' | translate }}</h5>
            <p>{{ 'PROPOSAL.BENEFITS_INFO' | translate }}</p>
            <ul>
              <li>{{ 'PROPOSAL.BENEFITS_LIST1' | translate }}</li>
              <li>{{ 'PROPOSAL.BENEFITS_LIST2' | translate }}</li>
              <li>{{ 'PROPOSAL.BENEFITS_LIST3' | translate }}</li>
              <li>{{ 'PROPOSAL.BENEFITS_LIST4' | translate }}</li>
              <li>{{ 'PROPOSAL.BENEFITS_LIST5' | translate }}</li>
            </ul>
            <div class="form-group">
              <textarea class="form-control" formControlName="changes_or_benefits" placeholder="{{ 'PROPOSAL.DESCRIBE' | translate }}" disabled></textarea>
              <small *ngIf="(f2.changes_or_benefits.errors && f2.changes_or_benefits.touched) || (f2submitted && f2.changes_or_benefits.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
            </div>
          </div>
        </div>
        <div class="row  prog sectionbor expsec">
          <div class="col-md-6">
            <h5>{{ 'PROPOSAL.ACTIVITIES_LVL' | translate }}</h5>
            <p>{{ 'PROPOSAL.ACTIVITIES_INFO' | translate }}</p>
            <div class="form-group">
              <textarea class="form-control" formControlName="specific_activities" placeholder="{{ 'PROPOSAL.DESCRIBE' | translate }}" disabled></textarea>
              <small *ngIf="(f2.specific_activities.errors && f2.specific_activities.touched) || (f2submitted && f2.specific_activities.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
            </div>
          </div>
          <div class="col-md-6  rigttxt">
            <h5>{{ 'PROPOSAL.WHO_WILL_LVL' | translate }}</h5>
            <p>{{ 'PROPOSAL.WHO_WILL_INFO' | translate }}</p>
            <div class="form-group">
              <textarea class="form-control" formControlName="who_will_affected" placeholder="{{ 'PROPOSAL.DESCRIBE' | translate }}" disabled></textarea>
              <small *ngIf="(f2.who_will_affected.errors && f2.who_will_affected.touched) || (f2submitted && f2.who_will_affected.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
            </div>
          </div>
        </div>
        <div class="row  prog sectionbor expsec">
          <div class="col-md-6 lfttxt">
            <h5>{{ 'PROPOSAL.HOW_WILL_LVL' | translate }}</h5>
            <div class="form-group">
              <textarea class="form-control" formControlName="how_will_pay" placeholder="{{ 'PROPOSAL.DESCRIBE' | translate }}" disabled></textarea>
              <small *ngIf="(f2.how_will_pay.errors && f2.how_will_pay.touched) || (f2submitted && f2.how_will_pay.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }} </small>
            </div>
          </div>
          <div class="col-md-6">
            <h5>{{ 'PROPOSAL.RESOURCES_REQUIRED_LVL' | translate }}</h5>
            <p>{{ 'PROPOSAL.RESOURCES_REQUIRED_INFO' | translate }}</p>
            <div class="form-group">
              <textarea class="form-control" formControlName="resources_required" placeholder="{{ 'PROPOSAL.DESCRIBE' | translate }}" disabled></textarea>
              <small *ngIf="(f2.resources_required.errors && f2.resources_required.touched) || (f2submitted && f2.resources_required.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
            </div>
          </div>
        </div>
        <div class=" row smprog">
          <div class="col-md-7">
            <h5>{{ 'PROPOSAL.WORK_PLAN_LVL' | translate }} </h5>
            <h5 class="necetxt">{{ 'GLOBAL.UPLOAD_DOCUMENTS' | translate }}</h5>
            <div class="uploadwrap" *ngIf="loggedUserType===1">
              <div class="wrap-temp" *ngFor="let eachfile of upFiles['work_plan_file']">{{eachfile.name}}<a href="javascript:" (click)="removefile(eachfile ,'work_plan_file')">X</a></div>
            </div>
          </div>
          <div class="col-md-5 leftbor">
            <h3>{{ 'PROPOSAL.WORK_PLAN_SAMPLE' | translate }}</h3>
            <a href="javascript:" class="downloadpdf"><span><img src="assets/images/download.png" /></span>{{ 'PROPOSAL.WORK_PLAN_DOWNLOADPDF' | translate }}</a>
            <a href="javascript:" class="down_temp"><span><img src="assets/images/download.png" /></span>{{ 'PROPOSAL.WORK_PLAN_DOWNLOAD' | translate }}</a>
          </div>
        </div>
        <div class="row sectionbor listingtable">
          <div class="col-md-12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="uploadtable">
              <tr *ngFor="let url of proposal.proposal_documents">
                <td *ngIf="url.document_type == 'work_plan_file'">
                  <p><span>{{ 'PROPOSAL.CLASSIFICATION' | translate }}</span> {{ 'PROPOSAL.WORK_PLAN' | translate }}</p>
                </td>
                <td *ngIf="url.document_type == 'work_plan_file'">
                  <p><span>{{ 'PROPOSAL.DOCUMENT' | translate }}</span> {{url.org_file_name}}</p>
                </td>
                <td *ngIf="url.document_type == 'work_plan_file' && loggedUserType===0">
                  <div class="download_butt" style="margin-bottom: 0px;">
                    <a href="{{fileBaseUrl}}{{url.file_path}}" target="_blank"><img src="assets/images/download.png"><span>{{ 'GLOBAL.DOWNLOAD' | translate }}</span></a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <ul class="foot_butt_class proposaltwo">
          <li><input name="" type="button" value="{{ 'PROPOSAL.PREVIOUS' | translate }}" class="button" (click)="back1()" /></li>
          <li><input name="" type="submit" value="{{ 'PROPOSAL.NEXT' | translate }}" class="button" /></li>
        </ul>
      </div>
    </form>
  </div>
  <!-- PROGRAM -->
  <!-- Evalution -->
  <div class="proposal_step3" *ngIf="show3">
    <form [formGroup]="proposalForm_3" (ngSubmit)="toggle3()">
      <div class="container">
        <div class="row evlsecone sectionbor">
          <div class="col-md-12 col-xl-6">
            <h1>{{ 'PROPOSAL.EVALUTION_LVL1' | translate }}</h1>
            <div class="form-group">
              <label>{{ 'PROPOSAL.EVALUTION_LVL2' | translate }}</label>
              <input type="text" formControlName="collecting_relevant_data" class="form-control" [ngClass]="{ 'is-invalid': f3submitted && f3.collecting_relevant_data.errors }" required placeholder="{{ 'PROPOSAL.DESCRIBE' | translate }}" disabled>
              <small *ngIf="(f3.collecting_relevant_data.errors && f3.collecting_relevant_data.touched) || (f3submitted && f3.collecting_relevant_data.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
            </div>
            <div class="form-group">
              <label>{{ 'PROPOSAL.EVALUTION_LVL3' | translate }}</label>
              <input type="text" formControlName="who_evaluates" class="form-control" [ngClass]="{ 'is-invalid': f3submitted && f3.who_evaluates.errors }" required placeholder="{{ 'PROPOSAL.DESCRIBE' | translate }}" disabled>
              <small *ngIf="(f3.who_evaluates.errors && f3.who_evaluates.touched) || (f3submitted && f3.who_evaluates.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
            </div>
          </div>
          <div class="col-md-12 col-xl-6">
            <div class="download_butt">
              <a href="#"><img src="assets/images/download.png"><span>{{ 'PROPOSAL.DOWNLOAD_LINK' | translate }}</span></a>
            </div>
            <div class="form-group">
              <label>{{ 'PROPOSAL.EVALUTION_LVL4' | translate }} </label>
              <input type="text" formControlName="how_often_organization_evaluates" class="form-control" [ngClass]="{ 'is-invalid': f3submitted && f3.how_often_organization_evaluates.errors }" required placeholder="{{ 'PROPOSAL.DESCRIBE' | translate }}" disabled>
              <small *ngIf="(f3.how_often_organization_evaluates.errors && f3.how_often_organization_evaluates.touched) || (f3submitted && f3.how_often_organization_evaluates.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
            </div>
          </div>
        </div>
        <div class="row evlsectwo sectionbor">
          <div class="col-md-12 col-xl-8">
            <div class="form-group">
              <label class="firslabel">{{ 'PROPOSAL.EVALUTION_LVL5' | translate }}</label>
              <ul class="agegroup">
                <li *ngFor="let data of typeEvaluationsArr">
                  <label class="container-agegroup" for="{{data.value}}">{{ ('PROPOSAL.' + data.label ) | translate }}
                    <input type="checkbox" id="{{data.value}}" formControlName="typeEvaluation_{{data.id}}" (change)="onEvaluationSelect(data.value, $event.target.checked)" disabled>
                    <span class="checkmarks"></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- section 3 -->
        <div class="row evlsecthree">
          <div class="col-md-4">
            <div class="form-group">
              <label> {{ 'PROPOSAL.EVALUTION_LVL6' | translate }}</label>
              <div class="select-style newselect-style">
                <select formControlName="type_of_evaluation" disabled>
                  <option value="MM">{{ 'GLOBAL.SELECT' | translate }}</option>
                  <option value="Process evaluation (fulfillment of the Work Plan with activities)">{{ 'PROPOSAL.EVALUTION_LVL6_OPT1' | translate }}</option>
                  <option value="Evaluation of results (evaluation that includes the results in the indicators)">{{ 'PROPOSAL.EVALUTION_LVL6_OPT2' | translate }}</option>
                </select>
                <small *ngIf="(f3.type_of_evaluation.errors && f3.type_of_evaluation.touched) || (f3submitted && f3.type_of_evaluation.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label> {{ 'PROPOSAL.EVALUTION_LVL7' | translate }}</label>
              <div class="select-style newselect-style">
                <select formControlName="type_of_data" disabled>
                  <option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
                  <option value="Numerical Data (quantitative)">{{ 'PROPOSAL.EVALUTION_LVL7_OPT1' | translate }}</option>
                  <option value="Descriptive Data (qualitative)">{{ 'PROPOSAL.EVALUTION_LVL7_OPT2' | translate }}</option>
                </select>
                <small *ngIf="(f3.type_of_data.errors && f3.type_of_data.touched) || (f3submitted && f3.type_of_data.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label> {{ 'PROPOSAL.EVALUTION_LVL8' | translate }}</label>
              <div class="select-style newselect-style">
                <select formControlName="type_of_evaluator" disabled>
                  <option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
                  <option value="External">{{ 'PROPOSAL.EVALUTION_LVL8_OPT1' | translate }}</option>
                  <option value="Interns">{{ 'PROPOSAL.EVALUTION_LVL8_OPT2' | translate }}</option>
                </select>
                <small *ngIf="(f3.type_of_evaluator.errors && f3.type_of_evaluator.touched) || (f3submitted && f3.type_of_evaluator.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
              </div>
            </div>
          </div>
        </div>
        <!-- section 3 -->
        <ul class="foot_butt_class proposaltwo">
          <li><input name="" type="button" value="{{ 'PROPOSAL.PREVIOUS' | translate }}" class="button" (click)="back2()" /></li>
          <li><input name="" type="submit" value="{{ 'PROPOSAL.NEXT' | translate }}" class="button" /></li>
        </ul>
      </div>
    </form>
  </div>
  <!-- Evalution -->
  <!-- Property  -->
  <div class="proposal_step5" *ngIf="showProp">
    <div class="container">
      <form [formGroup]="proposalFormProp" (ngSubmit)="toggle3()">
        <div class="row">
          <div class="col-md-12 col-xl-7 reqireone">
            <h1>{{ 'PROPOSAL.INVENTORY_DESC' | translate }}</h1>
          </div>
          <div class="col-md-12 col-xl-5">
            <div class="download_butt">
              <a href="#"><img src="assets/images/download.png"><span>{{ 'PROPOSAL.DOWNLOAD_LINK' | translate }}</span></a>
            </div>
          </div>
        </div>
        <!-- section listing -->
        <div class="row sectionbor listingtable">
          <div class="col-md-12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="uploadtable">
              <tr *ngFor="let url of proposal.proposal_documents">
                <td *ngIf="url.document_type == 'property_inventory_file'">
                  <p><span>{{ 'PROPOSAL.CLASSIFICATION' | translate }}</span> {{url.desc}}</p>
                </td>
                <td *ngIf="url.document_type == 'property_inventory_file'">
                  <p><span>{{ 'PROPOSAL.DOCUMENT' | translate }}</span> {{url.org_file_name}}</p>
                </td>
                <td *ngIf="url.document_type == 'property_inventory_file' && loggedUserType===0">
                  <div class="download_butt" style="margin-bottom: 0px;">
                    <a href="{{fileBaseUrl}}{{url.file_path}}" target="_blank"><img src="assets/images/download.png"><span>{{ 'GLOBAL.DOWNLOAD' | translate }}</span></a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- section listing -->
      </form>
      <ul class="foot_butt_class proposaltwo">
        <li><input name="" type="button" value="{{ 'PROPOSAL.PREVIOUS' | translate }}" class="button" (click)="back3()" /></li>
        <li><input name="" type="button" value="{{ 'PROPOSAL.NEXT' | translate }}" class="button" (click)="toggleProp()" />
        </li>
      </ul>
    </div>
  </div>
  <!-- Property -->
  <!-- Budget -->
  <div class="proposal_step6" *ngIf="showBudget">
    <div class="container">
      <form [formGroup]="proposalFormBudget">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <a href="javascript:void(0)" class=" btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{ 'REPORT.ADMINISTRATIVE' | translate }}
                </a>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <!-- section listing -->
                <div class="row sectionbor listingtable">
                  <div class="col-md-12">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="uploadtable">
                      <tr *ngFor="let url of proposal.proposal_documents">
                        <td *ngIf="url.document_type == 'adm_expence_file'">
                          <p><span>{{ 'PROPOSAL.CLASSIFICATION' | translate }}</span> {{url.desc}}</p>
                        </td>
                        <td *ngIf="url.document_type == 'adm_expence_file'">
                          <p><span>{{ 'PROPOSAL.DOCUMENT' | translate }}</span> {{url.org_file_name}}</p>
                        </td>
                        <td *ngIf="url.document_type == 'adm_expence_file' && loggedUserType===0">
                          <div class="download_butt" style="margin-bottom: 0px;">
                            <a href="{{fileBaseUrl}}{{url.file_path}}" target="_blank"><img src="assets/images/download.png"><span>{{ 'GLOBAL.DOWNLOAD' | translate }}</span></a>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- section listing -->
                <div class="row entrysrch_table" formArrayName="admExpences">
                  <div class="col-12">
                    <p class="desc">{{ 'PROPOSAL.ADMISTRATIVE_TXT' | translate }}</p>
                    <p class="tabtotal">{{ 'GLOBAL.TOTAL' | translate }}
                      <span>{{administrativeExpenses}}</span>
                    </p>
                    <table>
                      <thead>
                        <tr>
                          <th>{{ 'PROPOSAL.EXPENDITURE_ITEM' | translate }}</th>
                          <th>{{ 'PROPOSAL.EST_EXPENSE' | translate }}</th>
                          <th *ngIf="tightBudgetStatus">{{ 'PROPOSAL.TIGHT_BUDGET' | translate }}</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let admData of admExpenceFormGroup.controls; let i = index;">
                        <tr [formGroupName]="i">
                          <td>
                            <input type="hidden" value="" formControlName="budget_type" />
                            <input type="hidden" value="" formControlName="id" />
                            <input type="hidden" value="" formControlName="proposal_id" />
                            <input type="hidden" value="" formControlName="created_at" />
                            <input type="hidden" value="" formControlName="updated_at" />
                            <input type="text" value="" formControlName="description" disabled/>
                          </td>
                          <td>
                            <input type="text" value="" formControlName="budget_amount" disabled/>
                          </td>
                          <td *ngIf="tightBudgetStatus">
                            <input type="text" value="" formControlName="tight_budget" disabled>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <a href="javascript:void(0)" class=" btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  {{ 'REPORT.DIRECT' | translate }}
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <!-- section listing -->
                <div class="row sectionbor listingtable">
                  <div class="col-md-12">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="uploadtable">
                      <tr *ngFor="let url of proposal.proposal_documents">
                        <td *ngIf="url.document_type == 'direct_expence_file'">
                          <p><span>{{ 'PROPOSAL.CLASSIFICATION' | translate }}</span> {{url.desc}}</p>
                        </td>
                        <td *ngIf="url.document_type == 'direct_expence_file'">
                          <p><span>{{ 'PROPOSAL.DOCUMENT' | translate }}</span> {{url.org_file_name}}</p>
                        </td>
                        <td *ngIf="url.document_type == 'direct_expence_file' && loggedUserType===0">
                          <div class="download_butt" style="margin-bottom: 0px;">
                            <a href="{{fileBaseUrl}}{{url.file_path}}" target="_blank"><img src="assets/images/download.png"><span>{{ 'GLOBAL.DOWNLOAD' | translate }}</span></a>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- section listing -->
                <div class="row entrysrch_table" formArrayName="directExpences">
                  <div class="col-12">
                    <p class="desc">{{ 'PROPOSAL.DIRECT_TXT' | translate }}</p>
                    <p class="tabtotal">{{ 'GLOBAL.TOTAL' | translate }}
                      <span>{{directExpenses}}</span>
                    </p>
                    <table>
                      <thead>
                        <tr>
                          <th>{{ 'PROPOSAL.EXPENDITURE_ITEM' | translate }}</th>
                          <th>{{ 'PROPOSAL.EST_EXPENSE' | translate }}</th>
                          <th *ngIf="tightBudgetStatus">{{ 'PROPOSAL.TIGHT_BUDGET' | translate }}</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let directData of directExpenceFormGroup.controls; let i = index;">
                        <tr [formGroupName]="i">
                          <td>
                            <input type="hidden" [(ngModel)]="directExpanceId" value="" formControlName="budget_type" readonly />
                            <input type="hidden" value="" formControlName="id" />
                            <input type="hidden" value="" formControlName="proposal_id" />
                            <input type="hidden" value="" formControlName="created_at" />
                            <input type="hidden" value="" formControlName="updated_at" />
                            <input type="text" value="" formControlName="description" disabled/>
                          </td>
                          <td>
                            <input type="text" value="" formControlName="budget_amount" disabled/>
                          </td>
                          <td *ngIf="tightBudgetStatus">
                            <input type="text" value="" formControlName="tight_budget" disabled>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="foot_butt_class proposaltwo">
          <li *ngIf="budgetPrevStatus"><input name="" type="button" value="{{ 'PROPOSAL.PREVIOUS' | translate }}" class="button" (click)="backProp()" /></li>
          <li *ngIf="budgetPrevStatus"><input name="" type="button" value="{{ 'PROPOSAL.NEXT' | translate }}" class="button" (click)="toggleBudget()" /></li>
          <li *ngIf="loggedUserType===1 && !budgetPrevStatus"><input name="" type="button" value="{{ 'GLOBAL.SAVE' | translate }}" class="button" (click)="toggleBudget(true)" /></li>
        </ul>
      </form>
    </div>
  </div>
  <!-- Budget -->
  <!-- Legal -->
  <div class="proposal_step3" *ngIf="showLegal">
    <form [formGroup]="proposalFormLegal" (ngSubmit)="toggleLegal()">
      <div class="container">
        <div class="row evlsec3 sectionbor">
          <div class="col-md-12 col-xl-8">
            <div class="form-group">
              <label class="firslabel">{{ 'PROPOSAL.LEGAL_INFO' | translate }}</label>
              <ul class="agegroup">
                <li *ngFor="let data of legalArr">
                  <label class="container-agegroup" for="{{data.value}}">{{ ('PROPOSAL.' + data.label ) | translate }}
                    <input type="checkbox" id="{{data.value}}" formControlName="legal_{{data.id}}" disabled>
                    <span class="checkmarks"></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <ul class="foot_butt_class proposaltwo">
          <li><input name="" type="button" value="{{ 'PROPOSAL.PREVIOUS' | translate }}" class="button" (click)="backBudget()" /></li>
          <li><input name="" type="submit" value="{{ 'PROPOSAL.NEXT' | translate }}" class="button" /></li>
        </ul>
      </div>
    </form>
  </div>
  <!-- Legal -->
  <!-- Requirements-->
  <div class="proposal_step4" *ngIf="showReq">
    <div class="container">
      <form [formGroup]="proposalFormReq">
        <div class="row">
          <div class="col-md-12 col-xl-6 reqireone">
            <h1>{{ 'PROPOSAL.REQUIREMENT' | translate }}
              <span>{{ 'PROPOSAL.nxt_line' | translate }}</span>
            </h1>
          </div>
          <div class="col-md-12 col-xl-6">
            <div class="download_butt">
              <a href="#"><img src="assets/images/download.png"><span>{{ 'PROPOSAL.DOWNLOAD_LINK' | translate }}</span></a>
            </div>
          </div>
        </div>
        <div class="row sectionbor listingtable">
          <div class="col-md-12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="uploadtable">
              <tr *ngFor="let url of proposal.proposal_documents">
                <!-- puerto_rico_state_department -->
                <td *ngIf="url.document_type == 'puerto_rico_state_department'">
                  <p><span>{{ 'PROPOSAL.CLASSIFICATION' | translate }}</span>DEPARTAMENTO DE ESTADO DE PUERTO RICO</p>
                </td>
                <td *ngIf="url.document_type == 'puerto_rico_state_department'">
                  <p><span>{{ 'PROPOSAL.DOCUMENT' | translate }}</span> {{url.org_file_name}}</p>
                </td>
                <td *ngIf="url.document_type == 'puerto_rico_state_department' && loggedUserType===0">
                  <div class="download_butt" style="margin-bottom: 0px;">
                    <a href="{{fileBaseUrl}}{{url.file_path}}" target="_blank"><img src="assets/images/download.png"><span>{{ 'GLOBAL.DOWNLOAD' | translate }}</span></a>
                  </div>
                </td>
                <!-- department_of_finance -->
                <td *ngIf="url.document_type == 'department_of_finance'">
                  <p><span>{{ 'PROPOSAL.CLASSIFICATION' | translate }}</span>DEPARTAMENTO DE HACIENDA</p>
                </td>
                <td *ngIf="url.document_type == 'department_of_finance'">
                  <p><span>{{ 'PROPOSAL.DOCUMENT' | translate }}</span> {{url.org_file_name}}</p>
                </td>
                <td *ngIf="url.document_type == 'department_of_finance' && loggedUserType===0">
                  <div class="download_butt" style="margin-bottom: 0px;">
                    <a href="{{fileBaseUrl}}{{url.file_path}}" target="_blank"><img src="assets/images/download.png"><span>{{ 'GLOBAL.DOWNLOAD' | translate }}</span></a>
                  </div>
                </td>
                <!-- puerto_rico_state_insurance_fund_corporation -->
                <td *ngIf="url.document_type == 'puerto_rico_state_insurance_fund_corporation'">
                  <p><span>{{ 'PROPOSAL.CLASSIFICATION' | translate }}</span>CORPORACIÓN DEL FONDO DEL SEGURO DEL ESTADO
                    DE PUERTO RICO</p>
                </td>
                <td *ngIf="url.document_type == 'puerto_rico_state_insurance_fund_corporation'">
                  <p><span>{{ 'PROPOSAL.DOCUMENT' | translate }}</span> {{url.org_file_name}}</p>
                </td>
                <td *ngIf="url.document_type == 'puerto_rico_state_insurance_fund_corporation' && loggedUserType===0">
                  <div class="download_butt" style="margin-bottom: 0px;">
                    <a href="{{fileBaseUrl}}{{url.file_path}}" target="_blank"><img src="assets/images/download.png"><span>{{ 'GLOBAL.DOWNLOAD' | translate }}</span></a>
                  </div>
                </td>
                <!-- municipal_income_collection_center -->
                <td *ngIf="url.document_type == 'municipal_income_collection_center'">
                  <p><span>{{ 'PROPOSAL.CLASSIFICATION' | translate }}</span>CENTRO DE RECAUDACIONES DE INGRESOS
                    MUNICIPALES</p>
                </td>
                <td *ngIf="url.document_type == 'municipal_income_collection_center'">
                  <p><span>{{ 'PROPOSAL.DOCUMENT' | translate }}</span> {{url.org_file_name}}</p>
                </td>
                <td *ngIf="url.document_type == 'municipal_income_collection_center' && loggedUserType===0">
                  <div class="download_butt" style="margin-bottom: 0px;">
                    <a href="{{fileBaseUrl}}{{url.file_path}}" target="_blank"><img src="assets/images/download.png"><span>{{ 'GLOBAL.DOWNLOAD' | translate }}</span></a>
                  </div>
                </td>
                <!-- osfl -->
                <td *ngIf="url.document_type == 'osfl'">
                  <p><span>{{ 'PROPOSAL.CLASSIFICATION' | translate }}</span>OSFL</p>
                </td>
                <td *ngIf="url.document_type == 'osfl'">
                  <p><span>{{ 'PROPOSAL.DOCUMENT' | translate }}</span> {{url.org_file_name}}</p>
                </td>
                <td *ngIf="url.document_type == 'osfl' && loggedUserType===0">
                  <div class="download_butt" style="margin-bottom: 0px;">
                    <a href="{{fileBaseUrl}}{{url.file_path}}" target="_blank"><img src="assets/images/download.png"><span>{{ 'GLOBAL.DOWNLOAD' | translate }}</span></a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </form>
      <ul class="foot_butt_class proposaltwo">
        <li><input name="" type="button" value="{{ 'PROPOSAL.PREVIOUS' | translate }}" class="button" (click)="backLegal()" /></li>
        <li><input name="" type="button" value="{{ 'PROPOSAL.NEXT' | translate }}" class="button" (click)="toggleReq()" />
        </li>
      </ul>
    </div>
  </div>
  <!-- Requirements -->
  <!-- Evidence-->
  <div class="proposal_step8" *ngIf="showEvidence">
    <div class="container">
      <form [formGroup]="proposalFormEvidence">
        <div class="row">
          <div class="col-md-12 col-xl-12 reqireone">
            <h1>{{ 'PROPOSAL.EVIDENCE_LVL' | translate }}</h1>
          </div>
        </div>
        <!-- section listing -->
        <div class="row sectionbor listingtable">
          <div class="col-md-12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="uploadtable">
              <tr *ngFor="let url of proposal.proposal_documents">
                <td *ngIf="url.document_type == 'evidence_doc_file'">
                  <p><span>{{ 'PROPOSAL.CLASSIFICATION' | translate }}</span> {{ ('EVIDENCE.' + url.desc )  | translate }}</p>
                </td>
                <td *ngIf="url.document_type == 'evidence_doc_file'">
                  <p><span>{{ 'PROPOSAL.DOCUMENT' | translate }}</span> {{url.org_file_name}}</p>
                </td>
                <td *ngIf="url.document_type == 'evidence_doc_file' && loggedUserType===0">
                  <div class="download_butt" style="margin-bottom: 0px;">
                    <a href="{{fileBaseUrl}}{{url.file_path}}" target="_blank"><img src="assets/images/download.png"><span>{{ 'GLOBAL.DOWNLOAD' | translate }}</span></a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- section listing -->
      </form>
      <ul class="foot_butt_class proposaltwo">
        <li><input name="" type="button" value="{{ 'PROPOSAL.PREVIOUS' | translate }}" class="button" (click)="backReq()" /></li>
        <li><input name="" type="button" value="{{ 'PROPOSAL.NEXT' | translate }}" class="button" (click)="toggleEvidence()" />
        </li>
      </ul>
    </div>
  </div>
  <!-- evidence -->
  <!-- Submit-->
  <div class="proposal_step7" *ngIf="showSubmit">
    <form [formGroup]="proposalFormSubmit" (ngSubmit)="toggle7()">
      <div class="container">
        <div class="row submitform">
          <div class="col-md-12">
            <h1>{{ 'PROPOSAL.SUBMIT' | translate }}</h1>
            <div class="custom-control custom-checkbox form-group">
              <input id="proposalAgree" type="checkbox" class="disabled custom-control-input" [ngClass]="{'has-error': agreeChk }" formControlName="proposalAgree" value="1" disabled>
              <label class="custom-control-label" for="proposalAgree">{{ 'PROPOSAL.ACCEPT_TERMS' | translate }}</label>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label>{{ 'PROPOSAL.NAME' | translate }} </label>
              <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': f7submitted && f7.name.errors }" required placeholder="Enter Your Name" disabled>
            </div>
          </div>
          <div class="col-md-4">
            <label>{{ 'PROPOSAL.DATE' | translate }} </label>
            <mat-form-field>
              <input matInput [matDatepicker]="myDatepicker" [min]="minDate" [max]="maxDate" placeholder="MM/DD/YYYY" formControlName="date" readonly>
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
              <mat-error>
                {{ 'PROPOSAL.DATE_ERR' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <ul class="foot_butt_class proposal">
            <li><input name="" type="button" value="Back" class="button" (click)="backEvidence()" /></li>
          </ul>
        </div>
        <div class="spacer"></div>
      </div>
    </form>
  </div>
  <!-- Submit -->
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
