/*header*/
.logo {
    margin-bottom: 40px;
    width: 20%;
    position: absolute;
    top: 10px;
    left: 39px;
}
.premium-calculation ul{
	text-align:center;
	display:table;
	table-layout:fixed;
    width:100%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
}
.premium-calculation ul li{
	display:table-cell;
	width:33%;
	text-align:center;
	position:relative;
}
.premium-calculation ul li span{
	display:block;
	padding-top:15px;
	color:#aeaeae;
	font-weight:400;
    font-size:12px;
    text-transform: uppercase;
    font-weight:600;
}
.premium-calculation ul li.active span, .premium-calculation ul li.alreadyactive span{
	color:#000;
	
}

.premium-calculation ul li .number{
	width:25px;
	height:25px;
	border-radius:28px;
	border:solid 1px #a6a6a6;
	color:#a9a9a9;
	font-size:12px;
	line-height:22px;
	text-align:center;
	display:inline-block;
	background-color:#fff;
	position:relative;
	z-index:9;
}
.premium-calculation ul li .reactive{
    color:#000;
    border:solid 1px #000;
	/* background-color:#298fd7; */
}
.premium-calculation ul li:after{
	content:"";
 	width:50%;
	height:1px;
	background-color:#e5e5e5;
	position:absolute;
	right:0;
	top:23%;
}
.premium-calculation ul li:nth-child(2):after{
	width:100%;
}
.premium-calculation ul li:nth-child(3):after{
	width:100%;
}
.premium-calculation ul li:nth-child(4):after{
	width:100%;
}
.premium-calculation ul li:nth-child(5):after{
	width:100%;
}
.premium-calculation ul li:nth-child(6):after{
	width:100%;
}
.premium-calculation ul li:nth-child(7):after{
	width:100%;
}
.premium-calculation ul li:nth-child(8):after{
	width:100%;
}
.premium-calculation ul li:nth-child(9):after{
	width:100%;
}
.premium-calculation ul li:nth-child(10):after{
	width:100%;
}
.premium-calculation ul li:last-child:after{
	right:auto;
	left:0;
}

.premium-calculation ul li.active:before, .premium-calculation ul li.alreadyactive:before{
	content: "";
	/* width: 23%; */
	 /* height: 4px;
	background-color: #298fd7;  */
	position: absolute;
	left:55%;
	top: 26%;
	z-index: 99;
}


.premium-calculation ul li.alreadyactive:before{
	width: 90%;
	color:#222222;
	
}
.premium-calculation ul li:last-child:before{
	display:none;
}

.headerdiv{
	// background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
	height: 100%;
	
}

.sectionbor{
    padding-bottom: 0px;
}

.uploadtable tr{
    border-bottom: none;
}

@media (min-width: 360px) and (max-width: 768px) {
	.logo {
		width:30%;
		left:14px;
	}
}
/*header*/  

/*navbar*/
.navbar{
    padding: 0;
    margin: 30px 0 0 0;
    background:url(src/assets/images/navbg.png) no-repeat 0 0 !important;
    height: 64px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    // background-color: inherit!important;
}
 ul.navbar-nav{
    display: table;
    width: 100%;
    table-layout: fixed;

}
ul.navbar-nav li{
    display: table-cell;
    text-align: center;
}

li.nav-item{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    background:url(src/assets/images/divider.png) no-repeat 100% 0;
    z-index: 999;
   
}

li.nav-item:last-child{
    background-image: none;
}

li.nav-item a.nav-link{
    color:#fff;
        line-height: 49px;
        // padding: 0 24px 0 21px;
        text-transform: uppercase;
        display: block;
}

a.nav-link span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display:inline-block;
    line-height: 20px;
    text-align: center;
    font-weight: 300;
    color: #fff;
   margin-right: 6px;
}
li.nav-item a.nav-link:hover span, li.nav-item a.active span{
    color: #000;
    background-color: #fff;
}

@media (min-width: 1200px) and (max-width: 1318px) {
    li.nav-item a.nav-link{
    padding: 0 0 0 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
    ul.navbar-nav{
        padding-left: 0;
        table-layout:inherit;
    }

    li.nav-item a.nav-link{
        padding: 0 0 0 0;
        font-size: 13px;
    }
    a.nav-link span{
        margin-right: 3px;
    }
}



@media (min-width: 320px) and (max-width: 991px) {

    ul.navbar-nav{
        display: inherit;
        width: auto;
        table-layout:inherit;
    
    }
    ul.navbar-nav li{
        display: inherit;
        text-align: center;
    }
    .navbar{
        position: relative;
        width: 90%;
        margin:0 auto;
    }
    .navbar-collapse{
        background-color: #9d9d9d;
        padding:20px 0;
        z-index: 9;
        margin-top: 64px;
    }
    .navbar-light .navbar-toggler{
        color: #fff!important;
        border: none;
    }
    .navbar-light .navbar-toggler-icon{
        background-image: none!important;
    }
    .navbar-toggler{
        line-height: 3px!important;
        position: absolute;
        right: 3px;
        top:19px;
    }

    li.nav-item{
        background-image: none;
    }
    li.nav-item a.nav-link{
        line-height: 39px;
        padding: 0 20px;
    }
    li.nav-item a.nav-link:hover{
        background-color: #c1c1c1;
    }

    .formbody{
        padding-top: 20px;
    }
  
} 
/*navbar*/  

h1{
    font-size: 18px;
    font-weight: 600;
}
h1 span{
    display: block;
}
p{
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
}
p.allfields{
   color:#2050b1;
}
.newselect-style{
    margin-bottom: 30px;
}
.newselect-style select{
    padding-left: 21px;
    padding-right: 40px;
     //white-space:nowrap;
    text-overflow:ellipsis;
    // overflow:hidden;
}

 ul.citytxt li{
    display:inline-block;
    width: 47%;
    color:#4160b7!important;
    vertical-align: top;
	font-size:10px;
	font-weight:300;
	border-radius:0;
	padding: 15px  18px 15px 21px;
	margin:0 13px 0 0;
	border:none;
	border:solid 1px #b4c8d2;
	border-radius: 6px;
	text-align:left;
	-webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
}
ul.citytxt li a{
    background-color: #a3000d;
    color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    float: right;
}
span.inctxt{
    color:#8c8c8c;
    font-size: 10px;
    padding-top: 12px;
    display: block;
}

.form-group{
    margin-bottom: 33px;
}
.populationtxt h4{
    font-weight:600;
    font-size:16px;

}
.populationtxt p{
    font-size: 12px;
}

/* The container */
.container-in {
    display: inline-block;
    position: relative;
    padding-right: 0;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: normal;
    padding-top: 98px;
    margin-right:20px;
    text-align: center;
    width: 90px;
    
    }

    .contF{
        margin-right:20px;
        padding-left: 0;
    }
  
  /* Hide the browser's default checkbox */
  .container-in input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border:solid 1px #b4c8d2;
  }
  .checkmarkM{
    background:#ffffff url(src/assets/images/male.png) no-repeat 50% 50%;
  }
  .checkmarkF{
    background:#ffffff url(src/assets/images/female.png) no-repeat 50% 50%;
    
  }
  .checkmarkB{
    background:#ffffff url(src/assets/images/both.png) no-repeat 50% 50%;
   
  }
  
  /* On mouse-over, add a grey background color */
  .container-in:hover input ~ .checkmark.checkmarkM ,
  .container-in input:checked ~ .checkmark.checkmarkM {
    background:url(src/assets/images/male-active.png) no-repeat 50% 50%;
    }

  .container-in:hover input ~ .checkmark.checkmarkF ,
  .container-in input:checked ~ .checkmark.checkmarkF {
    background:url(src/assets/images/female-active.png) no-repeat 50% 50%;
    }

.container-in:hover input ~ .checkmark.checkmarkB ,
 .container-in input:checked ~ .checkmark.checkmarkB {
       background:url(src/assets/images/both-active.png) no-repeat 50% 50%;
     }

  
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-in input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-in .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .download_butt{
      margin-bottom: 22px;
      position: relative;
    
  }
  .download_butt a{
   
//    background: rgb(40,131,201);
//    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%);

    font-family: 'Poppins', sans-serif;
    height: 25px;
    display: block;
    font-size: 16px;
    line-height: 21px;
    color: #000;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: 500;
   
  }
  .download_butt a span{
      padding-left:30px;
      display: inline-block;
  }
  .download_butt a  img{
    position: absolute;
    left: -15px;
    top: 7px;
  }
  ul.agegroup{
      padding-left: 0px;
  }
   ul.agegroup li{
       float: left;
       padding: 0 28px 20px 0;
   }

.topprj{
    padding-top: 17px;
}
.container-agegroup{
    display: inline-block;
    position: relative;
    padding-left: 0;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: normal;
    margin-right: 0;
    text-align: center;
    padding-top: 0;
    padding-left: 67px;
    padding-right: 20px;
    line-height: 44px;
    height: 49px;
    border: solid 1px #90a9b5;
    border-radius:6px;
    
    
}
.container-agegroup input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmarks {
    position: absolute;
    top: 0;
    left: 0;
    height: 47px;
    width: 49px;
    border-right:solid 1px #b4c8d2;
    background-color: #4160b7;
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
    background: url(src/assets/images/chkbox-normal.jpg) no-repeat 0 0;

    
}
    

  
  /* On mouse-over, add a grey background color */
  .container-agegroup:hover input ~ .checkmarks {
    background-color: #ccc;
   
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-agegroup input:checked ~ .checkmarks {
    background-color: #2196F3;
    background: url(src/assets/images/chkbox-img.jpg) no-repeat 0 0;
   
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmarks:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-agegroup input:checked ~ .checkmarks:after {
    display: block;
  }
  .protoppad{
      padding-top: 70px;
     
  }
  .secpad{
      padding-right:100px;
  }

  .leftbor{
      border-left: solid 1px #e5e5e5;
      padding-left: 55px;
  }
  .leftbor h5{
      font-size: 16px;
      padding-bottom: 50px;
  }
  .necetxt{
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 20px;
  }
  p.destxt{
      padding-bottom:30px;
  }

  ul.downloadsec{
      padding-left: 0px;
      text-align: left;
  }
  
  ul.downloadsec li{
      padding: 0;
      margin: 0;
      background: url(src/assets/images/arrow.png) no-repeat 9px 50%;
      width: 330px;
      padding-right: 17px;
  }
  ul.downloadsec li a{
      color:#282828;
      font-size: 14px;
      padding: 18px 0 18px 37px;
      display: block;
      border: solid 1px #fff;
  }
  ul.downloadsec li a:hover{
    background: url(src/assets/images/down_img.png) no-repeat 95% 50%;
    color: #11369e;
    font-weight: bold;
    border: solid 1px #a8adbb;
    border-radius: 6px;
    transition: none;
    
  }
  h2{
     padding-bottom: 45px; 
  }
  .uploaddoc{
    width: 236px;
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
    display:inline-block;
  }
  .wrap-temp{
    display:inline-block;
    color:#4160b7!important;
	font-size:10px;
	font-weight:300;
	border-radius:0;
	padding: 15px  18px 15px 21px;
	margin:0 13px 0 0;
	border:none;
	border:solid 1px #b4c8d2;
	border-radius: 6px;
	text-align:left;
	-webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
    width: 53%;
    margin-left: 20px;
    vertical-align: top;
  }
  .wrap-temp a{
    background-color: #a3000d;
    color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    float: right;
}
.rightbotpan p{
    font-size: 14px;
    list-style: 22px;
    color:#646464;
}
h2.prgaproch{
 padding-bottom: 10px;
}
.destxt{
    padding-bottom: 15px;
}
.newtxt{
    padding-bottom: 25px;
}
.wrapdiv{
    // width: 86%;
}
.foot_butt_class {
    // width: 450px;
    margin:0 auto;
    padding-top: 70px;
}
.foot_butt_class li{
   display:inline-block;
    padding-right: 20px;
}
.foot_butt_class li input.button{
    
    background: rgb(40,131,201);
    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%);
     color: #fff;
    display: block;
    font-size: 13px;
    height: 47px;
    line-height: 47px;
    padding: 0 20px;
    border-radius:4px;
    text-transform: uppercase;
    font-weight: 600;
    border:none;
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
   
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
     background: url(src/assets/images/upload.png) no-repeat 4px 2px;
     height: 25px;
    display: block;
    font-size: 14px;
    // width: 235px;
    line-height: 25px;
    color: #000;
    padding-left:49px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    }
  .browserupload{
    //  background: url(src/assets/images/uploadbg.png) no-repeat 0 0;
    background: url(src/assets/images/upload.png) no-repeat 4px 2px;
    width: 100%;
    padding-left: 63px;
    border-top-right-radius: 6px;
    
  }
  
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .budgetform p{
    padding-bottom: 45px;
}
.budget_download{
    margin-bottom: 0px;
}
.budgetuploadwrap{
    width:70% ;
}

.download_butt{
    margin-bottom: 22px;
    position: relative;
  
}
.download_butt a{
font-family: 'Poppins', sans-serif;
  height: 21px;
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #000;
  padding-left: 0;
  text-transform: uppercase;
  font-weight: 500;
 
}
.download_butt a span{
    padding-left:30px;
    display: inline-block;
}
.download_butt a  img{
  position: absolute;
  left: -15px;
  top: 7px;
}

p.tabtotal{
    text-align: right;
    font-size: 16px;
    font-weight: bold;
   
}
p.tabtotal span{
    color: #013b85;
}

.desc{
    padding-top: 25px;
}
.card-header .btn-link{
    border:none;
}
ul.budaddbutt{
    float: right;
    margin-top: 20px;
}
ul.budaddbutt li a{
    display: inline-block;
    background: url('src/assets/images/addnew_bg.jpg') no-repeat 0 0;
    width:110px;
    height: 47px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    vertical-align: top;
    border-radius:3px;
    border: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 2px;
    line-height: 47px;
}
a.view, a.edit{
    width:28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    margin: 0 1px;
}
a.view{
    background-color: #2c2c2c;
}
a.view:hover{
    background-color: #413f3f;  
}
a.edit{
    background-color: #1f4aae;
}
a.edit:hover{
    background-color: #2259da;  
}

  // table in responsive
table {
    // border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    // background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding: .35em;
  }
  table th{
       color: #013b85;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: left;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
     
    }
  
    // table caption {
    //   font-size: 1.3em;
    // }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 12px;
      text-align: right;
    }
    
    table td::before {
     content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }

    .budgetuploadwrap{
        width: 100%;
        margin-bottom: 30px;
    }
    .download_butt span{
        padding-left: 39px!important;
    }
    .download_butt img{
        left:0!important;
        top:0!important;
    }
    .browserupload{
        padding-left: 40px;
    }
  }


  .prog h5{
      font-weight: 500;
      padding-right: 30px;
      line-height: 30px;
  }
  .mar-off{
      margin-bottom:50px;
     

  }
  .prog p{
      padding-bottom: 50px;
  }
  .prosectwo h5{
      padding-bottom: 25px;
      padding-top: 70px;
  }
  .prosectwo p{
      padding-bottom: 25px;
  }
  .prosectwo ul {
      padding-bottom: 40px;
      text-align: left;
     
  }
  .prosectwo ul li{
    background: url(src/assets/images/arrow.png) no-repeat 0 50%;
    padding: 0 0 0 27px;
    line-height: 30px;
   display: inline-block;
    width: 50%;
  }

  .expsec{
      padding-top: 70px;
  }
  .expsec h5{
      padding-bottom: 20px;
  }
  .expsec p{
      padding-bottom: 20px;
  }
  .expsec .rigttxt p{
    padding-bottom:43px;
  }
  .expsec textarea{
      height:70px;
      padding:25px 0 0 22px;
  }
  .expsec .lfttxt h5{
    padding-bottom:92px;
  }
.smprog{
    padding: 70px 0;
}
.smprog h5{
    font-weight: 500;
    line-height: 30px;
    padding-right: 20px;
}
.smprog h3{
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 18px;
}

.downloadpdf{
    // background: url(src/assets/images/downloadbutt.png) no-repeat 0 0;
    // background: rgb(40,131,201);
    // background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%);
    line-height: 25px;
    height: 25px;
    display: block;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 16px;
    margin-bottom: 24px;
    position: relative;
    
}
.downloadpdf span, .down_temp span{
    // background-color:#fff;
    // width: 54px;
    // height: 54px;
    // border-radius: 50%;
    // display: block;
    // border: solid 1px#15389c;
    position: absolute;
    left: -19px;
    top: -2px;
}
.downloadpdf span img, .down_temp span img{
    // width: 52px;
    // height: 46px;
}
.down_temp{
   
    // background: rgb(89,89,90);
    // background: linear-gradient(90deg, rgba(89,89,90,1) 18%, rgba(15,15,16,1) 76%);
    // height: 47px;
    // line-height: 47px;
    display: block;
    color:#000;
    position: relative;
    padding-left:17px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}

.proposaltwo{
    width: 450px;
}

.evlsecone h1{
    padding-bottom: 18px;
}
.evlsecone .download_butt{
    margin-top: 21px;
    margin-bottom:25px;
}
.evlsectwo{
    padding-top: 70px;
}
.evlsectwo .form-group{
    margin-bottom: 0px;
}
.evlsectwo .firslabel{
    padding-bottom: 40px;
}
.evlsectwo ul.agegroup{
   text-align: left; 
}
.evlsectwo ul.agegroup li{
    float: none;
}
.evlsec3 .form-group{
    margin-bottom: 0px;
}
.evlsec3 .firslabel{
    padding-bottom: 40px;
}
.evlsec3 ul.agegroup{
   text-align: left; 
}
.evlsec3 ul.agegroup li{
    float: none;
    display:block
}
.evlsecthree{
    padding-top: 70px;
}


.reqireone h1{
    padding-bottom: 50px;
}
.wraptemptwo{
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-left: 0px;
}
.addnewbutt{
    display: inline-block;
    background: url('src/assets/images/addnew_bg.jpg') no-repeat 0 0;
    // width:110px;
    height: 47px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    vertical-align: top;
    border-radius:3px;
    border: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 2px;
    padding:0 10px;
}
.budgetform p{
    padding-bottom: 45px;
}
.budget_download{
    margin-bottom: 0px;
}
.budgetuploadwrap{
    width:70% ;
}
.custom-control-label{
    font-weight: 400;
}

.submitform .custom-checkbox{
    padding-bottom: 30px;
}
.modal-dialog{
    margin-top:15%;
}
.mod-content{
    text-align:center;
    padding:0 76px;
    font-weight: 500;
}
 .modal-header{
    border-bottom: none;
    
}
.modal-footer{
    border-top: none;
    text-align: center;
    display:block;
    padding-bottom:60px;
}
.nobutt, .yesbutt{
    color:#fff;
    width: 100px;
    height: 42px;
    line-height: 42px;
    font-weight: 500;
    border-radius: 6px;
    border:none!important;
    -webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
}
.nobutt{
   
    background: rgb(89,89,90);
    background: linear-gradient(90deg, rgba(89,89,90,1) 18%, rgba(15,15,16,1) 76%);
    
}
.yesbutt{
   
    background: rgb(40,131,201);
    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%); 
    
}
.reqireone ul{
    padding: 0 0 30px 0;
    margin: 0;
}
.reqireone ul li{
    line-height: 28px;
    padding-bottom: 10px;
    background: url('src/assets/images/arrow.png') no-repeat 0 10px;
    padding-left: 30px;
    
}
.sec-four{
    padding-top: 20px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .leftbor{
        padding-left: 0;
        border-left:0px;
    }    

    .leftbor h5{
        padding-bottom: 0px;
        padding-top: 30px;
    }
    .mar-off{
        margin-top: 25px;
    }
   
}
@media (min-width: 768px) and (max-width: 991px)  {
    .prog h5{
        padding-bottom: 20px;
    }
    .protoppad{
        padding-top: 45px;
    }
    .download_butt{
        margin-bottom: 45px;
    }
    .leftbor {
        border-left: none;
        padding-left: 22px;
    }
    .leftbor h5{
        padding-bottom: 20px;
    }
    .secpad .uploadwrap{
        padding-bottom: 20px;
    }
    .down_txt{
        padding-top: 40px;
    }
    .mar-off{
        margin-top: 25px;
    }
}

@media (min-width: 360px) and (max-width: 768px) {
    
    .download_butt{
        margin-bottom: 25px;
    }
    ul.citytxt li{
        width: 100%;
        margin-bottom: 10px;
    }
    .sectionbor{
        padding-bottom: 50px;
    }
    .protoppad{
        padding-top: 40px;
    }
    .protoppad h2{
        padding-bottom: 20px;
    }
    .secpad{
        padding-right: 0px;
    }
    .wrap-temp{
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .leftbor{
        padding-left: 20px;
        border-left:none;
    }
    .leftbor h5{
        padding-bottom: 0px;
        
    }
    .prog p{
        padding-bottom: 25px;
    }
    .prosectwo h5{
        padding-top:30px;
    }
    .prosectwo ul li{
        width:100%;
        line-height: 25px;
        padding-bottom: 10px;
        background-position: 0 10px;
    }
    .expsec {
        padding-top:20px;
    }
  
    .expsec .lfttxt h5{
      
        padding-bottom: 20px;
    }
    .prog h5{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 0px;
    }
    .smprog{
        padding: 35px 0;
    }
    .uploadwrap{
        margin-bottom: 20px;
    }
    .evlsectwo{
        padding-top: 25px;
    }
    .topage_group .container-agegroup{
        height: 49px;
        font-size: 13px;
        line-height: 22px;
        text-align: left;
        padding-left: 62px;
    }
    .evlsecthree{
        padding-top: 30px;
    }
    .wraptemptwo{
        margin-top: 20px;
    }
    h5.necetxt{
        line-height: 30px;
    }
    .budgetform p{
        padding-bottom: 20px;
    }
    .budgetuploadwrap{
        width: 100%;
    }
    .evlsecone{
        padding-top: 20px;
    }
    .heading h1{
        font-size: 21px;
    }
    
    .heading h1 span{
        font-size: 28px;
    }
    .foot_butt_class{
        padding-left: 0px;

    }
}



//============================================================= search ====================================
.prop_body{
    padding-bottom: 0px;
    padding-top: 40px;
}
.prradio{
    margin-top: 39px;
    margin-bottom: 20px!important;
}
ul{
    display: block;
    text-align: center;
}
ul li{
    display:inline-block;
    padding-right: 3px;
    
}
ul.propsrch li a.approve{
    background: rgb(40,131,201);
    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%); 
}
ul.propsrch li a.reject{
    background: rgb(36,0,0);
background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(242,3,44,1) 100%, rgba(0,212,255,1) 100%);
}
ul.propsrch li a{
    background-color: #2c2c2c;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 44px;
    display: block;
    font-weight: 500;
    padding: 0 23px;
    border-radius: 4px;
    cursor: pointer;
}
.multibutt ul li a i{
    padding-right: 10px;
}
ul.propsrch li a:hover{
    background: rgb(40,131,201);
    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%); 
}

.multibutt{
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 24px;
}

.heading-admin{
    padding-top: 38px;
}

.heading-admin h2{
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding-bottom:0px;
    width: 100%;
}
.heading-admin p{
    font-weight: 300;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.heading-admin p i{
    color: #1f4cae;
}
.accow_arrow{
    text-align: center;
    font-size: 22px;
}
.accow_arrow a{
    color:#4e4e4e;
}
.apphistory{
    font-size: 14px;
    line-height: 47px;
    width: auto;
    padding:0 28px;
}
.select-style select.city{
    // padding:12px 0 12px 21px;
   
}
@media (min-width: 767px) and (max-width: 991px) {
   
    ul.propsrch li a{
        padding:0 16px;
        margin-bottom: 3px;
    }
    .apphistory{
        margin-bottom: 30px;
    }
  
}

@media (min-width: 360px) and (max-width: 766px) {
   
    ul.propsrch li a{
        padding:0 16px;
        margin-bottom: 3px;
    }
    .opentxt{
        display: none;
    }
    .topprj{
        padding-top:0;
    }
    .apphistory{
        margin-bottom: 30px;
    }
}

input:disabled {background: #ccc}

.toppopdown{
    left: 15px;
    padding-bottom: 20px;
}


/*header*/
// .logo {
//     margin-bottom: 40px;
//     width: 20%;
//     position: absolute;
//     top: 10px;
//     left: 39px;
// }
// .premium-calculation ul{
// 	text-align:center;
// 	display:table;
// 	table-layout:fixed;
//     width:100%;
//     font-family: 'Montserrat', sans-serif;
//     padding-top: 40px;
// }
// .premium-calculation ul li{
// 	display:table-cell;
// 	width:33%;
// 	text-align:center;
// 	position:relative;
// }
// .premium-calculation ul li span{
// 	display:block;
// 	padding-top:15px;
// 	color:#aeaeae;
// 	font-weight:400;
//     font-size:12px;
//     text-transform: uppercase;
//     font-weight:600;
// }
// .premium-calculation ul li.active span, .premium-calculation ul li.alreadyactive span{
// 	color:#000;
	
// }

// .premium-calculation ul li .number{
// 	width:25px;
// 	height:25px;
// 	border-radius:28px;
// 	border:solid 1px #a6a6a6;
// 	color:#a9a9a9;
// 	font-size:12px;
// 	line-height:22px;
// 	text-align:center;
// 	display:inline-block;
// 	background-color:#fff;
// 	position:relative;
// 	z-index:9;
// }
// .premium-calculation ul li .reactive{
//     color:#000;
//     border:solid 1px #000;
// 	/* background-color:#298fd7; */
// }
// .premium-calculation ul li:after{
// 	content:"";
//  	width:50%;
// 	height:1px;
// 	background-color:#e5e5e5;
// 	position:absolute;
// 	right:0;
// 	top:23%;
// }
// .premium-calculation ul li:nth-child(2):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(3):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(4):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(5):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(6):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(7):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(8):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(9):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(10):after{
// 	width:100%;
// }
// .premium-calculation ul li:last-child:after{
// 	right:auto;
// 	left:0;
// }

// .premium-calculation ul li.active:before, .premium-calculation ul li.alreadyactive:before{
// 	content: "";
// 	/* width: 23%; */
// 	 /* height: 4px;
// 	background-color: #298fd7;  */
// 	position: absolute;
// 	left:55%;
// 	top: 26%;
// 	z-index: 99;
// }


// .premium-calculation ul li.alreadyactive:before{
// 	width: 90%;
// 	color:#222222;
	
// }
// .premium-calculation ul li:last-child:before{
// 	display:none;
// }

// .headerdiv{
// 	// background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
// 	height: 100%;
// 	overflow:hidden;
// }

// @media (min-width: 360px) and (max-width: 768px) {
// 	.logo {
// 		width:30%;
// 		left:14px;
// 	}
// }
// /*header*/  

// /*navbar*/
// .navbar{
//     padding: 0;
//     margin: 30px 0 0 0;
//     background:url(src/assets/images/navbg.png) no-repeat 0 0 !important;
//     height: 64px;
//     border-top-left-radius: 25px;
//     border-top-right-radius: 25px;
//     // background-color: inherit!important;
// }

// li.nav-item{
//     font-family: 'Poppins', sans-serif;
//     font-size: 14px;
//     font-weight: 600;
//     background:url(src/assets/images/divider.png) no-repeat 100% 0;
//     z-index: 999;
// }

// li.nav-item:last-child{
//     background-image: none;
// }

// li.nav-item a.nav-link{
//     color:#fff;
//         line-height: 64px;
//         padding: 0 43px 0 21px;
//         text-transform: uppercase;
//         display: block;
// }

// a.nav-link span{
//     width: 20px;
//     height: 20px;
//     border-radius: 50%;
//     display:inline-block;
//     line-height: 20px;
//     text-align: center;
//     font-weight: 300;
//     color: #fff;
//     margin-right: 6px;
// }
// li.nav-item a.nav-link:hover span, li.nav-item a.active span{
//     color: #000;
//     background-color: #fff;
// }



// @media (min-width: 992px) and (max-width: 1199px) {
//     ul.navbar-nav{
//         padding-left: 10px;
//     }

//     li.nav-item a.nav-link{
//         padding: 0 33px 0 3px;
//     }
// }

// @media (min-width: 768px) and (max-width: 991px) {
   
// }

// @media (min-width: 320px) and (max-width: 991px) {
//     .navbar{
//         position: relative;
//         width: 90%;
//         margin:0 auto;
//     }
//     .navbar-collapse{
//         background-color: #9d9d9d;
//         padding:20px 0;
//         z-index: 9;
//         margin-top: 64px;
//     }
//     .navbar-light .navbar-toggler{
//         color: #fff!important;
//         border: none;
//     }
//     .navbar-light .navbar-toggler-icon{
//         background-image: none!important;
//     }
//     .navbar-toggler{
//         line-height: 3px!important;
//         position: absolute;
//         right: 3px;
//         top:19px;
//     }

//     li.nav-item{
//         background-image: none;
//     }
//     li.nav-item a.nav-link{
//         line-height: 39px;
//         padding: 0 20px;
//     }
//     li.nav-item a.nav-link:hover{
//         background-color: #c1c1c1;
//     }

//     .formbody{
//         padding-top: 20px;
//     }
  
// } 
// /*navbar*/  

// h1{
//     font-size: 30px;
//     font-weight: 600;
// }
// p{
//    font-size: 16px;
//    font-family: 'Montserrat', sans-serif;
// }
// p.allfields{
//    color:#2050b1;
// }
// .newselect-style{
//     margin-bottom: 30px;
// }
// .newselect-style select{
//     padding-left: 21px;
   
// }

//  ul.citytxt li{
//     display:inline-block;
//     width: 47%;
//     color:#4160b7!important;
//     vertical-align: top;
// 	font-size:10px;
// 	font-weight:300;
// 	border-radius:0;
// 	padding: 15px  18px 15px 21px;
// 	margin:0 13px 0 0;
// 	border:none;
// 	border:solid 1px #b4c8d2;
// 	border-radius: 6px;
// 	text-align:left;
// 	-webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// 	-moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// 	box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// }
// ul.citytxt li a{
//     background-color: #a3000d;
//     color: #fff;
//     width: 16px;
//     height: 16px;
//     border-radius: 50%;
//     display:inline-block;
//     text-align: center;
//     vertical-align: middle;
//     float: right;
// }
// span.inctxt{
//     color:#8c8c8c;
//     font-size: 10px;
//     padding-top: 12px;
//     display: block;
// }

// .form-group{
//     margin-bottom: 33px;
// }
// .populationtxt h4{
//     font-weight:600;
//     font-size:16px;

// }
// .populationtxt p{
//     font-size: 12px;
// }



// /* The container */
// .container-in {
//     display: inline-block;
//     position: relative;
//     padding-left: 0;
//     margin-bottom: 12px;
//     cursor: pointer;
//     font-size: 18px;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     line-height: normal;
//     padding-top: 98px;
//     margin-right: 52px;
//     text-align: center;
//     padding-left: 22px;
//     }

//     .contF{
//         margin-right:39px;
//         padding-left: 11px;
//     }
  
//   /* Hide the browser's default checkbox */
//   .container-in input {
//     position: absolute;
//     opacity: 0;
//     cursor: pointer;
//     height: 0;
//     width: 0;
//   }
  
//   /* Create a custom checkbox */
//   .checkmark {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 90px;
//     width: 90px;
//     border-radius: 50%;
//     border:solid 1px #b4c8d2;
//   }
//   .checkmarkM{
//     background:#ffffff url(src/assets/images/male.png) no-repeat 50% 50%;
//   }
//   .checkmarkF{
//     background:#ffffff url(src/assets/images/female.png) no-repeat 50% 50%;
    
//   }
//   .checkmarkB{
//     background:#ffffff url(src/assets/images/both.png) no-repeat 50% 50%;
   
//   }
  
//   /* On mouse-over, add a grey background color */
//   .container-in:hover input ~ .checkmark.checkmarkM ,
//   .container-in input:checked ~ .checkmark.checkmarkM {
//     background:url(src/assets/images/male-active.png) no-repeat 50% 50%;
//     }

//   .container-in:hover input ~ .checkmark.checkmarkF ,
//   .container-in input:checked ~ .checkmark.checkmarkF {
//     background:url(src/assets/images/female-active.png) no-repeat 50% 50%;
//     }

// .container-in:hover input ~ .checkmark.checkmarkB ,
//  .container-in input:checked ~ .checkmark.checkmarkB {
//        background:url(src/assets/images/both-active.png) no-repeat 50% 50%;
//      }

  
  
//   /* Create the checkmark/indicator (hidden when not checked) */
//   .checkmark:after {
//     content: "";
//     position: absolute;
//     display: none;
//   }
  
//   /* Show the checkmark when checked */
//   .container-in input:checked ~ .checkmark:after {
//     display: block;
//   }
  
//   /* Style the checkmark/indicator */
//   .container-in .checkmark:after {
//     left: 9px;
//     top: 5px;
//     width: 5px;
//     height: 10px;
//     border: solid white;
//     border-width: 0 3px 3px 0;
//     -webkit-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }
//   .download_butt{
//       margin-bottom: 83px;
//       position: relative;
    
//   }
//   .download_butt a{
   
//    background: rgb(40,131,201);
//    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%);

//     font-family: 'Poppins', sans-serif;
//     height: 43px;
//     display: block;
//     font-size: 13px;
//     line-height: 43px;
//     color: #fff;
//     padding-left: 0;
//     text-transform: uppercase;
//     font-weight: 500;
   
//   }
//   .download_butt a span{
//       padding-left: 50px;
//   }
//   .download_butt a  img{
//     position: absolute;
//     left: -15px;
//     top: -7px;
//   }
//   ul.agegroup{
//       padding-left: 0px;
//   }
//    ul.agegroup li{
//        float: left;
//        padding: 0 28px 20px 0;
//    }


// .container-agegroup{
//     display: inline-block;
//     position: relative;
//     padding-left: 0;
//     margin-bottom: 12px;
//     cursor: pointer;
//     font-size: 14px;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     line-height: normal;
//     margin-right: 0;
//     text-align: center;
//     padding-top: 8px;
//     padding-left: 67px;
//     padding-right: 20px;
//     line-height: 16px;
//     height: 49px;
//     border: solid 1px #90a9b5;
//     border-radius:6px;
    
    
// }
// .container-agegroup input {
//     position: absolute;
//     opacity: 0;
//     cursor: pointer;
//     height: 0;
//     width: 0;
//   }

//   .checkmarks {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 46px;
//     width: 50px;
//     border-right:solid 1px #b4c8d2;
//     background-color: #4160b7;
//     border-top-left-radius:6px;
//     border-bottom-left-radius:6px;
//     background: url(src/assets/images/chkbox-normal.jpg) no-repeat 0 0;

    
// }
    

  
//   /* On mouse-over, add a grey background color */
//   .container-agegroup:hover input ~ .checkmarks {
//     background-color: #ccc;
   
//   }
  
//   /* When the checkbox is checked, add a blue background */
//   .container-agegroup input:checked ~ .checkmarks {
//     background-color: #2196F3;
//     background: url(src/assets/images/chkbox-img.jpg) no-repeat 0 0;
   
//   }
  
//   /* Create the checkmark/indicator (hidden when not checked) */
//   .checkmarks:after {
//     content: "";
//     position: absolute;
//     display: none;
//   }
  
//   /* Show the checkmark when checked */
//   .container-agegroup input:checked ~ .checkmarks:after {
//     display: block;
//   }
//   .protoppad{
//       padding-top: 90px;
     
//   }
//   .secpad{
//       padding-right:100px;
//   }

//   .leftbor{
//       border-left: solid 1px #e5e5e5;
//       padding-left: 55px;
//   }
//   .leftbor h5{
//       font-size: 16px;
//       padding-bottom: 50px;
//   }
//   .necetxt{
//       font-size: 16px;
//       font-weight: 500;
//       padding-bottom: 20px;
//   }
//   p.destxt{
//       padding-bottom:30px;
//   }

//   ul.downloadsec{
//       padding-left: 0px;
//   }
  
//   ul.downloadsec li{
//       padding: 0;
//       margin: 0;
//       background: url(src/assets/images/arrow.png) no-repeat 9px 50%;
//       width: 330px;
//       padding-right: 17px;
//   }
//   ul.downloadsec li a{
//       color:#282828;
//       font-size: 14px;
//       padding: 18px 0 18px 37px;
//       display: block;
//       border: solid 1px #fff;
//   }
//   ul.downloadsec li a:hover{
//     background: url(src/assets/images/down_img.png) no-repeat 95% 50%;
//     color: #11369e;
//     font-weight: bold;
//     border: solid 1px #a8adbb;
//     border-radius: 6px;
//     transition: none;
    
//   }
//   h2{
//      padding-bottom: 45px; 
//   }
//   .uploaddoc{
//     width: 236px;
//     border-top-right-radius:6px;
//     border-bottom-right-radius:6px;
//     display:inline-block;
//   }
//   .wrap-temp{
//     display:inline-block;
//     color:#4160b7!important;
// 	font-size:10px;
// 	font-weight:300;
// 	border-radius:0;
// 	padding: 15px  18px 15px 21px;
// 	margin:0 13px 0 0;
// 	border:none;
// 	border:solid 1px #b4c8d2;
// 	border-radius: 6px;
// 	text-align:left;
// 	-webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// 	-moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
//     box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
//     width: 53%;
//     margin-left: 20px;
//     vertical-align: top;
//   }
//   .wrap-temp a{
//     background-color: #a3000d;
//     color: #fff;
//     width: 16px;
//     height: 16px;
//     border-radius: 50%;
//     display:inline-block;
//     text-align: center;
//     vertical-align: middle;
//     float: right;
// }
// .rightbotpan p{
//     font-size: 14px;
//     list-style: 22px;
//     color:#646464;
// }
// h2.prgaproch{
//  padding-bottom: 10px;
// }
// .destxt{
//     padding-bottom: 15px;
// }
// .newtxt{
//     padding-bottom: 25px;
// }
// .wrapdiv{
//     // width: 86%;
// }
// .foot_butt_class {
//     // width: 450px;
//     margin:0 auto;
//     padding-top: 70px;
// }
// .foot_butt_class li{
//     float: left;
//     padding-right: 20px;
// }
// .foot_butt_class li input.button{
    
//     background: rgb(40,131,201);
//     background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%);
//      color: #fff;
//     display: block;
//     font-size: 13px;
//     height: 47px;
//     line-height: 47px;
//     padding: 0 20px;
//     border-radius:4px;
//     text-transform: uppercase;
//     font-weight: 600;
//     border:none;
//     font-family: 'Poppins', sans-serif;
//     -webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// -moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
   
// }

// .upload-btn-wrapper {
//     position: relative;
//     overflow: hidden;
//     display: inline-block;
//   }
  
//   .btn {
//      background: url(src/assets/images/uploadbutt.png) no-repeat 0 0;
//      height: 51px;
//     display: block;
//     font-size: 14px;
//     width: 235px;
//     line-height: 39px;
//     color: #fff;
//     padding-left:49px;
//     text-transform: uppercase;
//     font-weight: 600;
//     font-family: 'Poppins', sans-serif;
//     }
//   .browserupload{
//      background: url(src/assets/images/uploadbg.png) no-repeat 0 0;
//     width: 100%;
//     padding-left: 63px;
//     border-top-right-radius: 6px;
    
//   }
  
  
//   .upload-btn-wrapper input[type=file] {
//     font-size: 100px;
//     position: absolute;
//     left: 0;
//     top: 0;
//     opacity: 0;
//   }

//   .prog h5{
//       font-weight: 500;
//       padding-right: 30px;
//       line-height: 30px;
//   }
//   .mar-off{
//       margin-bottom:50px;
     

//   }
//   .prog p{
//       padding-bottom: 50px;
//   }
//   .prosectwo h5{
//       padding-bottom: 25px;
//       padding-top: 70px;
//   }
//   .prosectwo p{
//       padding-bottom: 25px;
//   }
//   .prosectwo ul {
//       padding-bottom: 40px;
//       text-align: left!important;
     
//   }
//   ul[_ngcontent-oeg-c14]{
//     text-align: left!important; 
//   }
//   .prosectwo ul li{
//     background: url(src/assets/images/arrow.png) no-repeat 0 50%;
//     padding: 0 0 0 27px;
//     line-height: 30px;
//    display: inline-block;
//     width: 50%;
//   }

//   .expsec{
//       padding-top: 70px;
//   }
//   .expsec h5{
//       padding-bottom: 20px;
//   }
//   .expsec p{
//       padding-bottom: 20px;
//   }
//   .expsec .rigttxt p{
//     padding-bottom:43px;
//   }
//   .expsec textarea{
//       height:70px;
//       padding:25px 0 0 22px;
//   }
//   .expsec .lfttxt h5{
//     padding-bottom:92px;
//   }
// .smprog{
//     padding: 70px 0;
// }
// .smprog h5{
//     font-weight: 500;
//     line-height: 30px;
//     padding-right: 20px;
// }
// .smprog h3{
//     font-size: 21px;
//     font-weight: 500;
//     padding-bottom: 18px;
// }

// .downloadpdf{
//     // background: url(src/assets/images/downloadbutt.png) no-repeat 0 0;
//     background: rgb(40,131,201);
//     background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%);
//     line-height: 51px;
//     height: 51px;
//     display: block;
//     color: #fff;
//     font-size: 12px;
//     text-transform: uppercase;
//     font-weight: 600;
//     padding-left: 48px;
//     margin-bottom: 24px;
//     position: relative;
    
// }
// .downloadpdf span, .down_temp span{
//     background-color:#fff;
//     width: 54px;
//     height: 54px;
//     border-radius: 50%;
//     display: block;
//     border: solid 1px#15389c;
//     position: absolute;
//     left: -19px;
//     top: -2px;
// }
// .downloadpdf span img, .down_temp span img{
//     width: 52px;
//     height: 36px;
// }
// .down_temp{
   
//     background: rgb(89,89,90);
//     background: linear-gradient(90deg, rgba(89,89,90,1) 18%, rgba(15,15,16,1) 76%);
//     height: 47px;
//     line-height: 47px;
//     display: block;
//     color:#fff;
//     position: relative;
//     padding-left: 43px;
//     font-size: 13px;
//     text-transform: uppercase;
//     font-weight: 500;
// }

// .proposaltwo{
//     width: 450px;
// }

// .evlsecone h1{
//     padding-bottom: 18px;
// }
// .evlsecone .download_butt{
//     margin-top: 21px;
//     margin-bottom:78px;
// }
// .evlsectwo{
//     padding-top: 70px;
// }
// .evlsectwo .form-group{
//     margin-bottom: 0px;
// }
// .evlsectwo .firslabel{
//     padding-bottom: 40px;
// }
// .evlsectwo ul.agegroup li{
//     float: none;
// }

// .evlsecthree{
//     padding-top: 70px;
// }

// .reqireone h1{
//     padding-bottom: 50px;
// }
// .wraptemptwo{
//     display: block;
//     width: 100%;
//     margin-top: 30px;
//     margin-left: 0px;
// }
// .addnewbutt{
//     display: inline-block;
//     background: url('src/assets/images/addnew_bg.jpg') no-repeat 0 0;
//     width:110px;
//     height: 47px;
//     color: #fff;
//     font-family: 'Poppins', sans-serif;
//     vertical-align: top;
//     border-radius:3px;
//     border: none;
//     margin-left: 20px;
//     font-weight: 500;
//     font-size: 16px;
//     margin-top: 2px;
// }
// .budgetform p{
//     padding-bottom: 45px;
// }
// .budget_download{
//     margin-bottom: 0px;
// }
// .budgetuploadwrap{
//     width:70% ;
// }
// .custom-control-label{
//     font-weight: 400;
// }

// .submitform .custom-checkbox{
//     padding-bottom: 30px;
// }
// .modal-dialog{
//     margin-top:15%;
// }
// .mod-content{
//     text-align:center;
//     padding:0 76px;
//     font-weight: 500;
// }
//  .modal-header{
//     border-bottom: none;
    
// }
// .modal-footer{
//     border-top: none;
//     text-align: center;
//     display:block;
//     padding-bottom:60px;
// }
// .nobutt, .yesbutt{
//     color:#fff;
//     width: 100px;
//     height: 42px;
//     line-height: 42px;
//     font-weight: 500;
//     border-radius: 6px;
//     border:none!important;
//     -webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// 	-moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// 	box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// }
// .nobutt{
   
//     background: rgb(89,89,90);
//     background: linear-gradient(90deg, rgba(89,89,90,1) 18%, rgba(15,15,16,1) 76%);
    
// }
// .yesbutt{
   
//     background: rgb(40,131,201);
//     background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%); 
    
// }
// .reqireone ul{
//     padding: 0 0 30px 0;
//     margin: 0;
// }
// .reqireone ul li{
//     line-height: 28px;
//     padding-bottom: 10px;
//     background: url('src/assets/images/arrow.png') no-repeat 0 10px;
//     padding-left: 30px;
    
// }

// @media (min-width: 992px) and (max-width: 1199px) {
//     .leftbor{
//         padding-left: 0;
//         border-left:0px;
//     }    

//     .leftbor h5{
//         padding-bottom: 0px;
//         padding-top: 30px;
//     }
//     .mar-off{
//         margin-top: 25px;
//     }
   
// }
// @media (min-width: 768px) and (max-width: 991px)  {
//     .prog h5{
//         padding-bottom: 20px;
//     }
//     .protoppad{
//         padding-top: 45px;
//     }
//     .download_butt{
//         margin-bottom: 45px;
//     }
//     .leftbor {
//         border-left: none;
//         padding-left: 22px;
//     }
//     .leftbor h5{
//         padding-bottom: 20px;
//     }
//     .secpad .uploadwrap{
//         padding-bottom: 20px;
//     }
//     .down_txt{
//         padding-top: 40px;
//     }
//     .mar-off{
//         margin-top: 25px;
//     }
// }

// @media (min-width: 360px) and (max-width: 768px) {
    
//     .download_butt{
//         margin-bottom: 25px;
//     }
//     ul.citytxt li{
//         width: 100%;
//         margin-bottom: 10px;
//     }
//     .sectionbor{
//         padding-bottom: 50px;
//     }
//     .protoppad{
//         padding-top: 40px;
//     }
//     .protoppad h2{
//         padding-bottom: 20px;
//     }
//     .secpad{
//         padding-right: 0px;
//     }
//     .wrap-temp{
//         margin-left: 0px;
//         width: 100%;
//         margin-top: 10px;
//         margin-bottom: 25px;
//     }
//     .leftbor{
//         padding-left: 20px;
//         border-left:none;
//     }
//     .leftbor h5{
//         padding-bottom: 0px;
        
//     }
//     .prog p{
//         padding-bottom: 25px;
//     }
//     .prosectwo h5{
//         padding-top:30px;
//     }
//     .prosectwo ul li{
//         width:100%;
//         line-height: 25px;
//         padding-bottom: 10px;
//         background-position: 0 10px;
//     }
//     .expsec {
//         padding-top:20px;
//     }
  
//     .expsec .lfttxt h5{
      
//         padding-bottom: 20px;
//     }
//     .prog h5{
//         padding-top: 20px;
//         padding-bottom: 20px;
//         padding-right: 0px;
//     }
//     .smprog{
//         padding: 35px 0;
//     }
//     .uploadwrap{
//         margin-bottom: 20px;
//     }
//     .evlsectwo{
//         padding-top: 25px;
//     }
//     .topage_group .container-agegroup{
//         height: 49px;
//         font-size: 13px;
//         line-height: 22px;
//         text-align: left;
//         padding-left: 62px;
//     }
//     .evlsecthree{
//         padding-top: 30px;
//     }
//     .wraptemptwo{
//         margin-top: 20px;
//     }
//     h5.necetxt{
//         line-height: 30px;
//     }
//     .budgetform p{
//         padding-bottom: 20px;
//     }
//     .budgetuploadwrap{
//         width: 100%;
//     }
//     .evlsecone{
//         padding-top: 20px;
//     }
//     .heading h1{
//         font-size: 21px;
//     }
    
//     .heading h1 span{
//         font-size: 28px;
//     }
//     .foot_butt_class{
//         padding-left: 0px;

//     }
// }

// /*header*/
// .logo {
//     margin-bottom: 40px;
//     width: 20%;
//     position: absolute;
//     top: 10px;
//     left: 39px;
// }
// .premium-calculation ul{
// 	text-align:center;
// 	display:table;
// 	table-layout:fixed;
//     width:100%;
//     font-family: 'Montserrat', sans-serif;
//     padding-top: 40px;
// }
// .premium-calculation ul li{
// 	display:table-cell;
// 	width:33%;
// 	text-align:center;
// 	position:relative;
// }
// .premium-calculation ul li span{
// 	display:block;
// 	padding-top:15px;
// 	color:#aeaeae;
// 	font-weight:400;
//     font-size:12px;
//     text-transform: uppercase;
//     font-weight:600;
// }
// .premium-calculation ul li.active span, .premium-calculation ul li.alreadyactive span{
// 	color:#000;
	
// }

// .premium-calculation ul li .number{
// 	width:25px;
// 	height:25px;
// 	border-radius:28px;
// 	border:solid 1px #a6a6a6;
// 	color:#a9a9a9;
// 	font-size:12px;
// 	line-height:22px;
// 	text-align:center;
// 	display:inline-block;
// 	background-color:#fff;
// 	position:relative;
// 	z-index:9;
// }
// .premium-calculation ul li .reactive{
//     color:#000;
//     border:solid 1px #000;
// 	/* background-color:#298fd7; */
// }
// .premium-calculation ul li:after{
// 	content:"";
//  	width:50%;
// 	height:1px;
// 	background-color:#e5e5e5;
// 	position:absolute;
// 	right:0;
// 	top:23%;
// }
// .premium-calculation ul li:nth-child(2):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(3):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(4):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(5):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(6):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(7):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(8):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(9):after{
// 	width:100%;
// }
// .premium-calculation ul li:nth-child(10):after{
// 	width:100%;
// }
// .premium-calculation ul li:last-child:after{
// 	right:auto;
// 	left:0;
// }

// .premium-calculation ul li.active:before, .premium-calculation ul li.alreadyactive:before{
// 	content: "";
// 	/* width: 23%; */
// 	 /* height: 4px;
// 	background-color: #298fd7;  */
// 	position: absolute;
// 	left:55%;
// 	top: 26%;
// 	z-index: 99;
// }


// .premium-calculation ul li.alreadyactive:before{
// 	width: 90%;
// 	color:#222222;
	
// }
// .premium-calculation ul li:last-child:before{
// 	display:none;
// }

// .headerdiv{
// 	// background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
// 	height: 100%;
	
// }

// .sectionbor{
//     padding-bottom: 0px;
// }

// .uploadtable tr{
//     border-bottom: none;
// }

// @media (min-width: 360px) and (max-width: 768px) {
// 	.logo {
// 		width:30%;
// 		left:14px;
// 	}
// }
// /*header*/  

// /*navbar*/
// .navbar{
//     padding: 0;
//     margin: 30px 0 0 0;
//     background:url(src/assets/images/navbg.png) no-repeat 0 0 !important;
//     height: 64px;
//     border-top-left-radius: 25px;
//     border-top-right-radius: 25px;
//     // background-color: inherit!important;
// }

// li.nav-item{
//     font-family: 'Poppins', sans-serif;
//     font-size: 14px;
//     font-weight: 600;
//     background:url(src/assets/images/divider.png) no-repeat 100% 0;
//     z-index: 999;
// }

// li.nav-item:last-child{
//     background-image: none;
// }

// li.nav-item a.nav-link{
//     color:#fff;
//         line-height: 64px;
//         padding: 0 24px 0 21px;
//         text-transform: uppercase;
//         display: block;
// }

// a.nav-link span{
//     width: 20px;
//     height: 20px;
//     border-radius: 50%;
//     display:inline-block;
//     line-height: 20px;
//     text-align: center;
//     font-weight: 300;
//     color: #fff;
//     margin-right: 6px;
// }
// li.nav-item a.nav-link:hover span, li.nav-item a.active span{
//     color: #000;
//     background-color: #fff;
// }



// @media (min-width: 992px) and (max-width: 1199px) {
//     ul.navbar-nav{
//         padding-left: 10px;
//     }

//     li.nav-item a.nav-link{
//         padding: 0 14px 0 3px;
//     }
// }

// @media (min-width: 768px) and (max-width: 991px) {
   
// }

// @media (min-width: 320px) and (max-width: 991px) {
//     .navbar{
//         position: relative;
//         width: 90%;
//         margin:0 auto;
//     }
//     .navbar-collapse{
//         background-color: #9d9d9d;
//         padding:20px 0;
//         z-index: 9;
//         margin-top: 64px;
//     }
//     .navbar-light .navbar-toggler{
//         color: #fff!important;
//         border: none;
//     }
//     .navbar-light .navbar-toggler-icon{
//         background-image: none!important;
//     }
//     .navbar-toggler{
//         line-height: 3px!important;
//         position: absolute;
//         right: 3px;
//         top:19px;
//     }

//     li.nav-item{
//         background-image: none;
//     }
//     li.nav-item a.nav-link{
//         line-height: 39px;
//         padding: 0 20px;
//     }
//     li.nav-item a.nav-link:hover{
//         background-color: #c1c1c1;
//     }

//     .formbody{
//         padding-top: 20px;
//     }
  
// } 
// /*navbar*/  

// h1{
//     font-size: 30px;
//     font-weight: 600;
// }
// h1 span{
//     display: block;
// }
// p{
//    font-size: 16px;
//    font-family: 'Montserrat', sans-serif;
// }
// p.allfields{
//    color:#2050b1;
//    padding-bottom: 0px;
// }
// .newselect-style{
//     margin-bottom: 30px;
// }
// .newselect-style select{
//     padding-left: 21px;
   
// }

//  ul.citytxt li{
//     display:inline-block;
//     width: 47%;
//     color:#4160b7!important;
//     vertical-align: top;
// 	font-size:10px;
// 	font-weight:300;
// 	border-radius:0;
// 	padding: 15px  18px 15px 21px;
// 	margin:0 13px 0 0;
// 	border:none;
// 	border:solid 1px #b4c8d2;
// 	border-radius: 6px;
// 	text-align:left;
// 	-webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// 	-moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// 	box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// }
// ul.citytxt li a{
//     background-color: #a3000d;
//     color: #fff;
//     width: 16px;
//     height: 16px;
//     border-radius: 50%;
//     display:inline-block;
//     text-align: center;
//     vertical-align: middle;
//     float: right;
// }
// span.inctxt{
//     color:#8c8c8c;
//     font-size: 10px;
//     padding-top: 12px;
//     display: block;
// }

// .form-group{
//     margin-bottom: 33px;
// }
// .populationtxt h4{
//     font-weight:600;
//     font-size:16px;

// }
// .populationtxt p{
//     font-size: 12px;
// }

// /* The container */
// .container-in {
//     display: inline-block;
//     position: relative;
//     padding-left: 0;
//     margin-bottom: 12px;
//     cursor: pointer;
//     font-size: 18px;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     line-height: normal;
//     padding-top: 98px;
//     margin-right: 52px;
//     text-align: center;
//     padding-left: 22px;
//     }

//     .contF{
//         margin-right:39px;
//         padding-left: 11px;
//     }
  
//   /* Hide the browser's default checkbox */
//   .container-in input {
//     position: absolute;
//     opacity: 0;
//     cursor: pointer;
//     height: 0;
//     width: 0;
//   }
  
//   /* Create a custom checkbox */
//   .checkmark {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 90px;
//     width: 90px;
//     border-radius: 50%;
//     border:solid 1px #b4c8d2;
//   }
//   .checkmarkM{
//     background:#ffffff url(src/assets/images/male.png) no-repeat 50% 50%;
//   }
//   .checkmarkF{
//     background:#ffffff url(src/assets/images/female.png) no-repeat 50% 50%;
    
//   }
//   .checkmarkB{
//     background:#ffffff url(src/assets/images/both.png) no-repeat 50% 50%;
   
//   }
  
//   /* On mouse-over, add a grey background color */
//   .container-in:hover input ~ .checkmark.checkmarkM ,
//   .container-in input:checked ~ .checkmark.checkmarkM {
//     background:url(src/assets/images/male-active.png) no-repeat 50% 50%;
//     }

//   .container-in:hover input ~ .checkmark.checkmarkF ,
//   .container-in input:checked ~ .checkmark.checkmarkF {
//     background:url(src/assets/images/female-active.png) no-repeat 50% 50%;
//     }

// .container-in:hover input ~ .checkmark.checkmarkB ,
//  .container-in input:checked ~ .checkmark.checkmarkB {
//        background:url(src/assets/images/both-active.png) no-repeat 50% 50%;
//      }

  
  
//   /* Create the checkmark/indicator (hidden when not checked) */
//   .checkmark:after {
//     content: "";
//     position: absolute;
//     display: none;
//   }
  
//   /* Show the checkmark when checked */
//   .container-in input:checked ~ .checkmark:after {
//     display: block;
//   }
  
//   /* Style the checkmark/indicator */
//   .container-in .checkmark:after {
//     left: 9px;
//     top: 5px;
//     width: 5px;
//     height: 10px;
//     border: solid white;
//     border-width: 0 3px 3px 0;
//     -webkit-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }
//   .download_butt{
//       margin-bottom: 22px;
//       position: relative;
    
//   }
//   .download_butt a{
   
// //    background: rgb(40,131,201);
// //    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%);

//     font-family: 'Poppins', sans-serif;
//     height: 25px;
//     display: block;
//     font-size: 16px;
//     line-height: 21px;
//     color: #000;
//     padding-left: 0;
//     text-transform: uppercase;
//     font-weight: 500;
   
//   }
//   .download_butt a span{
//       padding-left:30px;
//       display: inline-block;
//   }
//   .download_butt a  img{
//     position: absolute;
//     left: -15px;
//     top: 7px;
//   }
//   ul.agegroup{
//       padding-left: 0px;
//   }
//    ul.agegroup li{
//        float: left;
//        padding: 0 28px 20px 0;
//    }


// .container-agegroup{
//     display: inline-block;
//     position: relative;
//     padding-left: 0;
//     margin-bottom: 12px;
//     cursor: pointer;
//     font-size: 14px;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     line-height: normal;
//     margin-right: 0;
//     text-align: center;
//     padding-top: 8px;
//     padding-left: 67px;
//     padding-right: 20px;
//     line-height: 16px;
//     height: 49px;
//     border: solid 1px #90a9b5;
//     border-radius:6px;
    
    
// }
// .container-agegroup input {
//     position: absolute;
//     opacity: 0;
//     cursor: pointer;
//     height: 0;
//     width: 0;
//   }

//   .checkmarks {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 46px;
//     width: 50px;
//     border-right:solid 1px #b4c8d2;
//     background-color: #4160b7;
//     border-top-left-radius:6px;
//     border-bottom-left-radius:6px;
//     background: url(src/assets/images/chkbox-normal.jpg) no-repeat 0 0;

    
// }
    

  
//   /* On mouse-over, add a grey background color */
//   .container-agegroup:hover input ~ .checkmarks {
//     background-color: #ccc;
   
//   }
  
//   /* When the checkbox is checked, add a blue background */
//   .container-agegroup input:checked ~ .checkmarks {
//     background-color: #2196F3;
//     background: url(src/assets/images/chkbox-img.jpg) no-repeat 0 0;
   
//   }
  
//   /* Create the checkmark/indicator (hidden when not checked) */
//   .checkmarks:after {
//     content: "";
//     position: absolute;
//     display: none;
//   }
  
//   /* Show the checkmark when checked */
//   .container-agegroup input:checked ~ .checkmarks:after {
//     display: block;
//   }
//   .protoppad{
//       padding-top: 70px;
     
//   }
//   .secpad{
//       padding-right:100px;
//   }

//   .leftbor{
//       border-left: solid 1px #e5e5e5;
//       padding-left: 55px;
//   }
//   .leftbor h5{
//       font-size: 16px;
//       padding-bottom: 50px;
//   }
//   .necetxt{
//       font-size: 16px;
//       font-weight: 500;
//       padding-bottom: 20px;
//   }
//   p.destxt{
//       padding-bottom:30px;
//   }

//   ul.downloadsec{
//       padding-left: 0px;
//       text-align: left;
//   }
  
//   ul.downloadsec li{
//       padding: 0;
//       margin: 0;
//       background: url(src/assets/images/arrow.png) no-repeat 9px 50%;
//       width: 330px;
//       padding-right: 17px;
//   }
//   ul.downloadsec li a{
//       color:#282828;
//       font-size: 14px;
//       padding: 18px 0 18px 37px;
//       display: block;
//       border: solid 1px #fff;
//   }
//   ul.downloadsec li a:hover{
//     background: url(src/assets/images/down_img.png) no-repeat 95% 50%;
//     color: #11369e;
//     font-weight: bold;
//     border: solid 1px #a8adbb;
//     border-radius: 6px;
//     transition: none;
    
//   }
//   h2{
//      padding-bottom: 45px; 
//   }
//   .uploaddoc{
//     width: 236px;
//     border-top-right-radius:6px;
//     border-bottom-right-radius:6px;
//     display:inline-block;
//   }
//   .wrap-temp{
//     display:inline-block;
//     color:#4160b7!important;
// 	font-size:10px;
// 	font-weight:300;
// 	border-radius:0;
// 	padding: 15px  18px 15px 21px;
// 	margin:0 13px 0 0;
// 	border:none;
// 	border:solid 1px #b4c8d2;
// 	border-radius: 6px;
// 	text-align:left;
// 	-webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// 	-moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
//     box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
//     width: 53%;
//     margin-left: 20px;
//     vertical-align: top;
//   }
//   .wrap-temp a{
//     background-color: #a3000d;
//     color: #fff;
//     width: 16px;
//     height: 16px;
//     border-radius: 50%;
//     display:inline-block;
//     text-align: center;
//     vertical-align: middle;
//     float: right;
// }
// .rightbotpan p{
//     font-size: 14px;
//     list-style: 22px;
//     color:#646464;
// }
// h2.prgaproch{
//  padding-bottom: 10px;
// }
// .destxt{
//     padding-bottom: 15px;
// }
// .newtxt{
//     padding-bottom: 25px;
// }
// .wrapdiv{
//     // width: 86%;
// }
// .foot_butt_class {
//     // width: 450px;
//     margin:0 auto;
//     padding-top: 70px;
// }
// .foot_butt_class li{
//     float: left;
//     padding-right: 20px;
// }
// .foot_butt_class li input.button{
    
//     background: rgb(40,131,201);
//     background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%);
//      color: #fff;
//     display: block;
//     font-size: 13px;
//     height: 47px;
//     line-height: 47px;
//     padding: 0 20px;
//     border-radius:4px;
//     text-transform: uppercase;
//     font-weight: 600;
//     border:none;
//     font-family: 'Poppins', sans-serif;
//     -webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// -moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
   
// }

// .upload-btn-wrapper {
//     position: relative;
//     overflow: hidden;
//     display: inline-block;
//   }
  
//   .btn {
//      background: url(src/assets/images/uploadbutt.png) no-repeat 0 0;
//      height: 51px;
//     display: block;
//     font-size: 14px;
//     width: 235px;
//     line-height: 39px;
//     color: #fff;
//     padding-left:49px;
//     text-transform: uppercase;
//     font-weight: 600;
//     font-family: 'Poppins', sans-serif;
//     }
//   .browserupload{
//      background: url(src/assets/images/uploadbg.png) no-repeat 0 0;
//     width: 100%;
//     padding-left: 63px;
//     border-top-right-radius: 6px;
    
//   }
  
  
//   .upload-btn-wrapper input[type=file] {
//     font-size: 100px;
//     position: absolute;
//     left: 0;
//     top: 0;
//     opacity: 0;
//   }

//   .prog h5{
//       font-weight: 500;
//       padding-right: 30px;
//       line-height: 30px;
//   }
//   .mar-off{
//       margin-bottom:50px;
     

//   }
//   .prog p{
//       padding-bottom: 50px;
//   }
//   .prosectwo h5{
//       padding-bottom: 25px;
//       padding-top: 70px;
//   }
//   .prosectwo p{
//       padding-bottom: 25px;
//   }
//   .prosectwo ul {
//       padding-bottom: 40px;
//       text-align: left;
     
//   }
//   .prosectwo ul li{
//     background: url(src/assets/images/arrow.png) no-repeat 0 50%;
//     padding: 0 0 0 27px;
//     line-height: 30px;
//    display: inline-block;
//     width: 50%;
//   }

//   .expsec{
//       padding-top: 70px;
//   }
//   .expsec h5{
//       padding-bottom: 20px;
//   }
//   .expsec p{
//       padding-bottom: 20px;
//   }
//   .expsec .rigttxt p{
//     padding-bottom:43px;
//   }
//   .expsec textarea{
//       height:70px;
//       padding:25px 0 0 22px;
//   }
//   .expsec .lfttxt h5{
//     padding-bottom:92px;
//   }
// .smprog{
//     padding: 70px 0;
// }
// .smprog h5{
//     font-weight: 500;
//     line-height: 30px;
//     padding-right: 20px;
// }
// .smprog h3{
//     font-size: 21px;
//     font-weight: 500;
//     padding-bottom: 18px;
// }

// .downloadpdf{
//     // background: url(src/assets/images/downloadbutt.png) no-repeat 0 0;
//     // background: rgb(40,131,201);
//     // background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%);
//     line-height: 25px;
//     height: 25px;
//     display: block;
//     color: #000;
//     font-size: 12px;
//     text-transform: uppercase;
//     font-weight: 600;
//     padding-left: 16px;
//     margin-bottom: 24px;
//     position: relative;
    
// }
// .downloadpdf span, .down_temp span{
//     // background-color:#fff;
//     // width: 54px;
//     // height: 54px;
//     // border-radius: 50%;
//     // display: block;
//     // border: solid 1px#15389c;
//     position: absolute;
//     left: -19px;
//     top: -2px;
// }
// .downloadpdf span img, .down_temp span img{
//     // width: 52px;
//     // height: 46px;
// }
// .down_temp{
   
//     // background: rgb(89,89,90);
//     // background: linear-gradient(90deg, rgba(89,89,90,1) 18%, rgba(15,15,16,1) 76%);
//     // height: 47px;
//     // line-height: 47px;
//     display: block;
//     color:#000;
//     position: relative;
//     padding-left:17px;
//     font-size: 13px;
//     text-transform: uppercase;
//     font-weight: 500;
// }

// .proposaltwo{
//     width: 450px;
// }

// .evlsecone h1{
//     padding-bottom: 18px;
// }
// .evlsecone .download_butt{
//     margin-top: 21px;
//     margin-bottom:78px;
// }
// .evlsectwo{
//     padding-top: 70px;
// }
// .evlsectwo .form-group{
//     margin-bottom: 0px;
// }
// .evlsectwo .firslabel{
//     padding-bottom: 40px;
// }
// .evlsectwo ul.agegroup{
//    text-align: left; 
// }
// .evlsectwo ul.agegroup li{
//     float: none;
// }

// .evlsecthree{
//     padding-top: 70px;
// }

// .reqireone h1{
//     padding-bottom: 50px;
// }
// .wraptemptwo{
//     display: block;
//     width: 100%;
//     margin-top: 30px;
//     margin-left: 0px;
// }
// .addnewbutt{
//     display: inline-block;
//     background: url('src/assets/images/addnew_bg.jpg') no-repeat 0 0;
//     width:110px;
//     height: 47px;
//     color: #fff;
//     font-family: 'Poppins', sans-serif;
//     vertical-align: top;
//     border-radius:3px;
//     border: none;
//     margin-left: 20px;
//     font-weight: 500;
//     font-size: 16px;
//     margin-top: 2px;
// }
// .budgetform p{
//     padding-bottom: 45px;
// }
// .budget_download{
//     margin-bottom: 0px;
// }
// .budgetuploadwrap{
//     width:70% ;
// }
// .custom-control-label{
//     font-weight: 400;
// }

// .submitform .custom-checkbox{
//     padding-bottom: 30px;
// }
// .modal-dialog{
//     margin-top:15%;
// }
// .mod-content{
//     text-align:center;
//     padding:0 76px;
//     font-weight: 500;
// }
//  .modal-header{
//     border-bottom: none;
    
// }
// .modal-footer{
//     border-top: none;
//     text-align: center;
//     display:block;
//     padding-bottom:60px;
// }
// .nobutt, .yesbutt{
//     color:#fff;
//     width: 100px;
//     height: 42px;
//     line-height: 42px;
//     font-weight: 500;
//     border-radius: 6px;
//     border:none!important;
//     -webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// 	-moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// 	box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
// }
// .nobutt{
   
//     background: rgb(89,89,90);
//     background: linear-gradient(90deg, rgba(89,89,90,1) 18%, rgba(15,15,16,1) 76%);
    
// }
// .yesbutt{
   
//     background: rgb(40,131,201);
//     background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%); 
    
// }
// .reqireone ul{
//     padding: 0 0 30px 0;
//     margin: 0;
// }
// .reqireone ul li{
//     line-height: 28px;
//     padding-bottom: 10px;
//     background: url('src/assets/images/arrow.png') no-repeat 0 10px;
//     padding-left: 30px;
    
// }
// .sec-four{
//     padding-top: 20px;
// }

// @media (min-width: 992px) and (max-width: 1199px) {
//     .leftbor{
//         padding-left: 0;
//         border-left:0px;
//     }    

//     .leftbor h5{
//         padding-bottom: 0px;
//         padding-top: 30px;
//     }
//     .mar-off{
//         margin-top: 25px;
//     }
   
// }
// @media (min-width: 768px) and (max-width: 991px)  {
//     .prog h5{
//         padding-bottom: 20px;
//     }
//     .protoppad{
//         padding-top: 45px;
//     }
//     .download_butt{
//         margin-bottom: 45px;
//     }
//     .leftbor {
//         border-left: none;
//         padding-left: 22px;
//     }
//     .leftbor h5{
//         padding-bottom: 20px;
//     }
//     .secpad .uploadwrap{
//         padding-bottom: 20px;
//     }
//     .down_txt{
//         padding-top: 40px;
//     }
//     .mar-off{
//         margin-top: 25px;
//     }
// }

// @media (min-width: 360px) and (max-width: 768px) {
    
//     .download_butt{
//         margin-bottom: 25px;
//     }
//     ul.citytxt li{
//         width: 100%;
//         margin-bottom: 10px;
//     }
//     .sectionbor{
//         padding-bottom: 50px;
//     }
//     .protoppad{
//         padding-top: 40px;
//     }
//     .protoppad h2{
//         padding-bottom: 20px;
//     }
//     .secpad{
//         padding-right: 0px;
//     }
//     .wrap-temp{
//         margin-left: 0px;
//         width: 100%;
//         margin-top: 10px;
//         margin-bottom: 25px;
//     }
//     .leftbor{
//         padding-left: 20px;
//         border-left:none;
//     }
//     .leftbor h5{
//         padding-bottom: 0px;
        
//     }
//     .prog p{
//         padding-bottom: 25px;
//     }
//     .prosectwo h5{
//         padding-top:30px;
//     }
//     .prosectwo ul li{
//         width:100%;
//         line-height: 25px;
//         padding-bottom: 10px;
//         background-position: 0 10px;
//     }
//     .expsec {
//         padding-top:20px;
//     }
  
//     .expsec .lfttxt h5{
      
//         padding-bottom: 20px;
//     }
//     .prog h5{
//         padding-top: 20px;
//         padding-bottom: 20px;
//         padding-right: 0px;
//     }
//     .smprog{
//         padding: 35px 0;
//     }
//     .uploadwrap{
//         margin-bottom: 20px;
//     }
//     .evlsectwo{
//         padding-top: 25px;
//     }
//     .topage_group .container-agegroup{
//         height: 49px;
//         font-size: 13px;
//         line-height: 22px;
//         text-align: left;
//         padding-left: 62px;
//     }
//     .evlsecthree{
//         padding-top: 30px;
//     }
//     .wraptemptwo{
//         margin-top: 20px;
//     }
//     h5.necetxt{
//         line-height: 30px;
//     }
//     .budgetform p{
//         padding-bottom: 20px;
//     }
//     .budgetuploadwrap{
//         width: 100%;
//     }
//     .evlsecone{
//         padding-top: 20px;
//     }
//     .heading h1{
//         font-size: 21px;
//     }
    
//     .heading h1 span{
//         font-size: 28px;
//     }
//     .foot_butt_class{
//         padding-left: 0px;

//     }
// }


// .topprj{
//     padding-top:0px;
// }




// //============================================================= search ====================================
// .prop_body{
//     padding-bottom: 0px;
//     padding-top: 40px;
// }
// .prradio{
//     margin-top: 39px;
//     margin-bottom: 20px!important;
// }
// ul{
//     display: block;
//     text-align: center;
// }
// ul li{
//     display:inline-block;
//     padding-right: 3px;
    
// }
// ul.propsrch li a{
//     background-color: #2c2c2c;
//     color: #fff;
//     text-transform: uppercase;
//     font-family: 'Poppins', sans-serif;
//     font-size: 14px;
//     line-height: 44px;
//     display: block;
//     font-weight: 500;
//     padding: 0 23px;
//     border-radius: 4px;
// }
// .multibutt ul li a i{
//     padding-right: 10px;
// }
// ul.propsrch li a:hover{
//     background: rgb(40,131,201);
//     background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%); 
// }

// .multibutt{
//     border-bottom: solid 1px #e5e5e5;
//     padding-bottom: 24px;
// }

// .heading-admin{
//     padding-top: 38px;
// }

// .heading-admin h2{
//     text-transform: uppercase;
//     font-weight: 600;
//     display: block;
//     padding-bottom:0px;
//     width: 100%;
// }
// .heading-admin p{
//     font-weight: 300;
//     font-size: 16px;
//     font-family: 'Montserrat', sans-serif;
// }
// .heading-admin p i{
//     color: #1f4cae;
// }
// .accow_arrow{
//     text-align: center;
//     font-size: 22px;
// }
// .accow_arrow a{
//     color:#4e4e4e;
// }
// .apphistory{
//     font-size: 14px;
//     line-height: 47px;
//     width: auto;
//     padding:0 28px;
// }
// .select-style select.city{
//     // padding:12px 0 12px 21px;
   
// }
// @media (min-width: 767px) and (max-width: 991px) {
   
//     ul.propsrch li a{
//         padding:0 16px;
//         margin-bottom: 3px;
//     }
  
// }

// @media (min-width: 360px) and (max-width: 766px) {

//     .topprj{
//         padding-top:0;
//     }

//     ul.propsrch li a{
//         padding:0 16px;
//         margin-bottom: 3px;
//     }
//     .opentxt{
//         display: none;
//     }
// }

// input:disabled {background: #ccc}

// .toppopdown{
//     left: 15px;
//     padding-bottom: 20px;
// }



