<app-menu></app-menu>
<app-innear-header></app-innear-header>
<div class="container searchDetails">
  <div class="row">
    <div class="col-2">
      <img [src]="imageUrl+serachDtls.logo_name" alt="logo" />
    </div>
    <div class="col-10">
      <h3>{{serachDtls.entity_name}}</h3>
      <p class="mb-0">Orci varius natoque</p>
      <p class="location"><span class="icon-placeholder"></span>{{serachDtls.physicaladdr1}}</p>
     <!--  <p><a href="#">{{ 'WEBSITE.GETDIRECTION' | translate }}</a></p> -->
      <p>{{serachDtls.service_description}}</p>
      <!-- <p class="timePan">
        <span class="icon-clock"></span>
        <span class="txt">
          Mon - Sun
          <strong>9:00 AM - 10:30 PM</strong>
        </span>
      </p> -->
      <h5>{{ 'EditProfile.Services_lbl' | translate}}</h5>
      <!-- <div class="row">
        <div class="col-6">
          <ul>
            <li>Sed pellentesque ex et dui viverra porta.</li>
            <li>Suspendisse non tortor egestas, efficitur odio sed, eleifend velit.</li>
            <li>Etiam placerat libero at urna aliquet ultrices.</li>
            <li>Sed consectetur sapien non vehicula tincidunt.</li>
            <li>Nunc id lacus mollis, feugiat augue quis, gravida sapien.</li>
            <li>Aliquam ac purus vel arcu mollis consequat vel nec sapien.</li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li>Sed pellentesque ex et dui viverra porta.</li>
            <li>Suspendisse non tortor egestas, efficitur odio sed, eleifend velit.</li>
            <li>Etiam placerat libero at urna aliquet ultrices.</li>
            <li>Sed consectetur sapien non vehicula tincidunt.</li>
            <li>Nunc id lacus mollis, feugiat augue quis, gravida sapien.</li>
            <li>Aliquam ac purus vel arcu mollis consequat vel nec sapien.</li>
          </ul>
        </div>
      </div> -->
      <p>{{serachDtls.service_offered}}</p>
      <ul class="contactInfoList">
        <li><span class="icon icon-arroba-symbol"></span><strong>{{ 'WEBSITE.EMAILUS' | translate }} : </strong><a href="{{'mailto:'+serachDtls.email}}">{{serachDtls.email}}</a></li>
        <li><span class="icon icon-call"></span><strong>{{ 'WEBSITE.CALLUS' | translate }} : </strong><a href="{{'tel:'+serachDtls.phone}}">{{serachDtls.phone}}</a></li>
        <li *ngIf="serachDtls.website"><span class="icon icon-internet"></span><strong>Website:</strong>{{serachDtls.website}}</li>
      </ul>
    </div>
    <div class="col-12 contactLeft">
      <p> {{ 'WEBSITE.SEARCH_CONTACT_INFO' | translate }}</p>
      <form class="example-form" [formGroup]="addContactform" (ngSubmit)="sendContact(addContactform.value)">
        <input type="hidden" formControlName="contactEmail">
        <div class="inside_left">
          <!-- <h3>{{ 'CONTACT.CONTACT' | translate }}</h3> -->
          <div class="form-group">
            <input type="text" class="form-control" formControlName="name" placeholder="{{'CONTACT.NAME'|translate}}">
            <small *ngIf="formSubmit && name.errors || (name.errors && (name.dirty || name.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="ofsl_name" placeholder="{{ 'CONTACT.OFSL' | translate }}">
            <small *ngIf="formSubmit && ofsl_name.errors || (ofsl_name.errors && (ofsl_name.dirty || ofsl_name.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <div class="customSelect">
                  <select class="form-control" *ngIf="Citylisting.length > 0" formControlName="town">
                    <option value="">{{ 'CONTACT.SELECTTOWN' | translate }}</option>
                    <option *ngFor="let item of Citylisting" [value]="item.city">{{item.city}}</option>
                  </select>
                  <small *ngIf="formSubmit && town.errors || (town.errors && (town.dirty || town.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="form-group">
                <input type="number" class="form-control" formControlName="telephone" placeholder="{{ 'CONTACT.TELEPHONE' | translate }}">
                <small *ngIf="formSubmit && telephone.errors || (telephone.errors && (telephone.dirty || telephone.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="email" placeholder="{{ 'CONTACT.EMAIL' | translate }}">
            <p *ngIf="formSubmit && email.errors || ( email.errors &&(email.dirty || email.touched))"><small class="text-danger" *ngIf="email.errors.required  ">{{ 'PROPOSAL.REQUIRED' | translate }}</small><small class="text-danger" *ngIf=" email.errors.pattern">{{ 'PROPOSAL.VALIDEMAIL' | translate }}</small></p>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="3" formControlName="comment" placeholder="{{ 'CONTACT.COMMENT' | translate }}"></textarea>
          </div>
          <div class="form-group btnWrap">
            <button type="submit" class="btn btn-default">{{ 'GLOBAL.SUBMIT' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer-website></app-footer-website>
