.searchDetails{
    padding: 27px 30px;
    border: solid 1px #cecece;
    border-radius: 10px;
    margin: 60px auto;
    h3{
        font-size: 20px;
        line-height: 24px;
        text-transform: none;
        font-weight: 600;
        color: #38a4fd;
        margin-bottom: 0;
    }
    p{
        font-weight: 300;
        color: #7e7e7e;
        font-size: 15px;
        line-height: 24px;
        &.location{
            color: #2e2e2e;
            font-weight: 400;
            margin-bottom: 0;
            .icon-placeholder{
                color: #000;
                margin-right: 3px;
            }
        }
        &.timePan{
            font-weight: 500;
            color: #2e2e2e;
            padding: 10px 0 20px;
            .icon-clock{
                margin-right: 2px;
                width: 20px;
                display: inline-block;
                vertical-align: top;
                margin-top: 5px;
            }
            strong{
                font-weight: 300;
                display: block;
            }
            .txt{
                display: inline-block;
                vertical-align: top;
                width: calc(100% - 25px);

            }
        }
    }

    h5{
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        color: #2e2e2e;
        margin-bottom: 15px;
    }

    ul{
        list-style-type: none;
        font-weight: 300;
        color: #7e7e7e;
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 20px;
        li{
            padding-bottom: 12px;
            padding-left: 18px;
            background: url("/assets/images/bullet.png") 0 5px no-repeat;
            
        }
    }
}


.contactLeft{
    h3{
        margin-bottom: 45px;
    }
}
.contactWrap{
    min-height: 100%;
    min-height: 100vh;
    border-top: solid 1px #cecece;
    padding: 2% 5% 0 5%;
     //padding: calc(5px + 5vw) calc(5px + 5vw) 0 calc(10px + 10vw);
    
}
.contactLeft{
    // padding: 7% 5% 0 5%;
    // padding: calc(5px + 5vw) calc(5px + 5vw) 0 calc(10px + 10vw);
    

    input[type="text"], 
    textarea{
        padding: 8px 0 8px 5px;
        border: 0;
        border-bottom: solid 1px #bebebe;
        width: 100%;
        font-size: 17px;
        line-height: 20px;
        color: #363636;
        font-weight: 300;
        border-radius: 0;
        margin-bottom: 20px;
    }
    .btn{
        background: #fcbc35;
        color: #363636;
        border-radius: 50px;
        padding: 0 60px;
        line-height: 62px;
        font-size: 18px;
        font-weight: 600;
        margin-top: 40px;
        float: right;
       
    }
    .form-control:focus {
        border-color: #000;
        box-shadow: none;
    }
    .inside_left{
        background: #2D4C9C;
        padding:30px;
       
        overflow: hidden;
    }
}



// Start 768px to 300px
@media screen and (max-width:768px) and (min-width:300px) {

    .contactWrap{
        min-height: auto;
    }
    .contactRight{
        min-height: auto;
    }
    .contactLeft{
        padding-left: 15px;
        padding-right: 15px;
        overflow: hidden;
        h3{
            margin-bottom: 25px;
        }
        .btnWrap{
            text-align: center;
            .btn{
                margin-top: 20px;
                padding: 0 30px;
                line-height: 50px;
                font-size: 14px;
            }
        }
        input[type="text"], 
        textarea{
            font-size: 14px;
            line-height: 20px;
        }
    }
    
}
// End 768px to 300px

