<!-- content -->
<mat-dialog-content >
    <h3 class="text-center" mat-dialog-title>Are you sure, you want to delete this?</h3>
</mat-dialog-content>
  <!-- actions -->
<mat-dialog-actions fxLayoutAlign="center start">
    <button mat-raised-button mat-dialog-close color="primary">{{ 'GLOBAL.NO' | translate }}</button>
    <button (click)="deleteCms()" mat-raised-button color="accent">{{ 'GLOBAL.YES' | translate }}</button>
</mat-dialog-actions>

