<app-menu></app-menu>
<app-innear-header></app-innear-header>
<div *ngIf="language == 'en'" [innerHTML]="commissionData[0]?.description_en"></div>
<div *ngIf="language == 'es'" [innerHTML]="commissionData[0]?.description_es"></div>

<!-- <div class="container py-5">
    <div class="row botMar">
        <div class="col-7">
            <h3>Hon. Antonio "Tony" Soto Torres</h3>
            <p>Co-Chair Special Joint Commission of Legislative Funds for Community Impact</p>
            <p>Chairman of the Committee on Finance, Budget and PROMESA <br>
                House of Representatives
            </p>
            <a href="https://senado.pr.gov/Pages/Senators/HON--MIGDALIA-PADILLA-ALVELO.aspx" target="_blank" class="btn">View profile</a>
        </div>
        <div class="col-5"><img src="assets/images/fotorepantoniosototorres.jpg" alt="" /></div>
    </div>
    <div class="row">
        <div class="col-5"><img src="assets/images/img-20180309-wa0005.jpg" alt="" /></div>
        <div class="col-7">
            <h3>Hon. Migdalia Padilla Alvelo</h3>
            <p>Co-Chair Special Joint Commission of Legislative Funds for Community Impact</p>
            <p>President of the Finance Commission Puerto Rico Senate</p>
            <a href="http://tucamarapr.org/dnncamara/web/ComposiciondelaCamara/biografia.aspx?rep=61" target="_blank" class="btn">View profile</a>
        </div>
    </div>
</div> -->
<app-contact></app-contact>
<app-footer-website></app-footer-website>
