<div class="container pagewrapper">
  <div class="row">
    <div class="col-xl-12 footerbg">
      <p class="copyrighttxt">© {{ 'GLOBAL.TXT_COPYRIGHT' | translate }} {{toYear | date:'yyyy'}} {{ 'GLOBAL.ALLRIGHTSRESERVED' | translate }}</p>
    </div>
  </div>
</div>
