<div class="container pagewrapper">
  <div class="row">
    <div class="col-md-12  headerdiv">
      <div class="outer_heading">
        <div class="heading">
          <h1>{{ 'QUATERLY_REPORT.TITLE' | translate}}
            <span></span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="formbody bodywrapper">
  <form class="example-form" [formGroup]="quaterlyReportform" (ngSubmit)="addReport(quaterlyReportform.value)">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'REPORT.ENTITY_NAME' | translate}}</label>
            <input type="text" class="form-control" formControlName="entity_name" placeholder="" readonly>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'REPORT.ENTITY_CODE' | translate}}</label>
            <input type="text" class="form-control" formControlName="entity_code" placeholder="" readonly>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'REPORT.APPLICATION_DATE' | translate}}</label>
            <input type="text" class="form-control" formControlName="created_at" placeholder="" readonly>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'REPORT.PROPOSAL_ID' | translate}}</label>
            <input type="text" class="form-control" formControlName="proposal_unique_id" placeholder="" readonly>
          </div>
        </div>
      </div>
      <!-- <div class="row">
                                    <div class="col-md-12">
                                            <div class="form-group">
                                                    <label>User name*</label>
                                                    <input type="text" class="form-control" formControlName="entity_name" placeholder="Enter Necessity Statement.">
                                                    <p *ngIf="f1submitted && f1.entity_name.errors || ( f1.entity_name.errors &&(f1.entity_name.dirty))">
                                                            <small *ngIf="(f1.entity_name.errors && f1.entity_name.touched) || (f1submitted && f1.entity_name.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                                    </p>
                                            </div>
                                    </div>
                            </div> -->
      <div class="row exp-table">
        <div class="col-md-12" style="overflow-x:auto;">
          <h4>{{ 'REPORT.EXPENSE_SUMMARY' | translate}}</h4>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th align="center">
                  <strong>{{ 'REPORT.BUDGET' | translate}}</strong>
                </th>
                <th align="center">
                  <strong>{{ 'REPORT.Q1' | translate}}</strong>
                </th>
                <th align="center">
                  <strong>{{ 'REPORT.Q2' | translate}}</strong>
                </th>
                <th align="center">
                  <strong>{{ 'REPORT.Q3' | translate}}</strong>
                </th>
                <!-- <th align="center">
                    <strong>{{ 'REPORT.Q4' | translate}}</strong>
                    </th> -->
                <th align="center">
                  <strong>{{ 'REPORT.TOTALS' | translate}}</strong>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td valign="top">{{ 'REPORT.ADMINISTRATIVE' | translate}}</td>
                <td valign="top">
                  <input *ngIf="loggedUserType===1" type="number" class="form-control" formControlName="administrative_budget" [(ngModel)]="administrative_budget" keyboardType="number" (keyup)="calculate($event)">
                  <input *ngIf="loggedUserType===0" type="number" class="form-control" formControlName="administrative_budget" [(ngModel)]="administrative_budget" keyboardType="number" readonly>
                </td>
                <td valign="top">
                  <input *ngIf="loggedUserType===1" type="number" class="form-control" formControlName="ab_c1" hint="Number 1" [(ngModel)]="ab_c1" keyboardType="number" (keyup)="calculate($event)" readonly>
                  <input *ngIf="loggedUserType===0" type="number" class="form-control" formControlName="ab_c1" hint="Number 1" [(ngModel)]="ab_c1" keyboardType="number" readonly>
                </td>
                <td valign="top">
                  <input *ngIf="loggedUserType===1" type="number" class="form-control" formControlName="ab_c2" hint="Number 2" [(ngModel)]="ab_c2" keyboardType="number" (keyup)="calculate($event)" readonly>
                  <input *ngIf="loggedUserType===0" type="number" class="form-control" formControlName="ab_c2" hint="Number 2" [(ngModel)]="ab_c2" keyboardType="number" readonly>
                </td>
                <td valign="top">
                  <input *ngIf="loggedUserType===1" type="number" class="form-control" formControlName="ab_c3" hint="Number 3" [(ngModel)]="ab_c3" keyboardType="number" (keyup)="calculate($event)" readonly>
                  <input *ngIf="loggedUserType===0" type="number" class="form-control" formControlName="ab_c3" hint="Number 3" [(ngModel)]="ab_c3" keyboardType="number" readonly>
                </td>
                <!-- <td valign="top">
                    <input *ngIf="loggedUserType===1" type="number" class="form-control" formControlName="ab_c4"
                        hint="Number 4" [(ngModel)]="ab_c4" keyboardType="number" (keyup)="calculate($event)">

                    <input *ngIf="loggedUserType===0" type="number" class="form-control" formControlName="ab_c4"
                        hint="Number 4" [(ngModel)]="ab_c4" keyboardType="number" readonly>

                    </td> -->
                <td valign="top">
                  <input type="number" class="form-control" formControlName="ab_total" hint="Number 4" [(ngModel)]="ab_total" keyboardType="number" (keyup)="calculate($event)" readonly>
                </td>
              </tr>
              <tr>
                <td valign="top">{{ 'REPORT.DIRECT' | translate}}</td>
                <td valign="top">
                  <input *ngIf="loggedUserType===1" type="number" class="form-control" formControlName="direct_budget" [(ngModel)]="direct_budget" keyboardType="number" (keyup)="calculate($event)">
                  <input *ngIf="loggedUserType===0" type="number" class="form-control" formControlName="direct_budget" [(ngModel)]="direct_budget" keyboardType="number" readonly>
                </td>
                <td valign="top">
                  <input *ngIf="loggedUserType===1" type="number" class="form-control" formControlName="db_c1" [(ngModel)]="db_c1" keyboardType="number" (keyup)="calculate($event)" readonly>
                  <input *ngIf="loggedUserType===0" type="number" class="form-control" formControlName="db_c1" [(ngModel)]="db_c1" keyboardType="number" readonly>
                </td>
                <td valign="top">
                  <input *ngIf="loggedUserType===1" type="number" class="form-control" formControlName="db_c2" [(ngModel)]="db_c2" keyboardType="number" (keyup)="calculate($event)" readonly>
                  <input *ngIf="loggedUserType===0" type="number" class="form-control" formControlName="db_c2" [(ngModel)]="db_c2" keyboardType="number" readonly>
                </td>
                <td valign="top">
                  <input *ngIf="loggedUserType===1" type="number" class="form-control" formControlName="db_c3" [(ngModel)]="db_c3" keyboardType="number" (keyup)="calculate($event)" readonly>
                  <input *ngIf="loggedUserType===0" type="number" class="form-control" formControlName="db_c3" [(ngModel)]="db_c3" keyboardType="number" readonly>
                </td>
                <!-- <td valign="top">
                    <input *ngIf="loggedUserType===1" type="number" class="form-control" formControlName="db_c4"
                        [(ngModel)]="db_c4" keyboardType="number" (keyup)="calculate($event)">

                    <input *ngIf="loggedUserType===0" type="number" class="form-control" formControlName="db_c4"
                        [(ngModel)]="db_c4" keyboardType="number" readonly>

                    </td> -->
                <td valign="top">
                  <input type="number" class="form-control" formControlName="db_total" [(ngModel)]="db_total" keyboardType="number" (keyup)="calculate($event)" readonly>
                </td>
              </tr>
              <tr>
                <td valign="top">{{ 'REPORT.TOTALS' | translate}}</td>
                <td valign="top">
                  <input type="number" class="form-control" formControlName="gross" [(ngModel)]="gross" keyboardType="number" readonly>
                </td>
                <td valign="top">
                  <input type="number" class="form-control" formControlName="q1total" [(ngModel)]="q1total" keyboardType="number" readonly>
                </td>
                <td valign="top">
                  <input type="number" class="form-control" formControlName="q2total" [(ngModel)]="q2total" keyboardType="number" readonly>
                </td>
                <td valign="top">
                  <input type="number" class="form-control" formControlName="q3total" [(ngModel)]="q3total" keyboardType="number" readonly>
                </td>
                <!-- <td valign="top">
                    <input type="number" class="form-control" formControlName="q4total" [(ngModel)]="q4total"
                        keyboardType="number" readonly>
                    </td> -->
                <td valign="top">
                  <input type="number" class="form-control" formControlName="alltotal" [(ngModel)]="alltotal" keyboardType="number" readonly>
                </td>
              </tr>
              <tr>
                <td valign="top">{{ 'REPORT.INFORMED' | translate}}</td>
                <td valign="top">
                  <input type="number" class="form-control" formControlName="alltotal" [(ngModel)]="alltotal" keyboardType="number" readonly>
                </td>
                <td valign="top">&nbsp;</td>
                <td valign="top">&nbsp;</td>
                <td valign="top">&nbsp;</td>
                <!-- <td valign="top">&nbsp;</td> -->
                <td valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td valign="top">{{ 'REPORT.NET' | translate}}</td>
                <td valign="top">
                  <input type="number" class="form-control" formControlName="net" [(ngModel)]="net" keyboardType="number" readonly>
                </td>
                <td valign="top">&nbsp;</td>
                <td valign="top">&nbsp;</td>
                <td valign="top">&nbsp;</td>
                <!-- <td valign="top">&nbsp;</td> -->
                <td valign="top">&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" *ngIf="loggedUserType===1">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'REPORT.NAME' | translate}} </label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter Name.">
            <p *ngIf="f1submitted && f1.name.errors || ( f1.name.errors &&(f1.name.dirty))">
              <small *ngIf="(f1.name.errors && f1.name.touched) || (f1submitted && f1.name.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'REPORT.DATE' | translate}} </label>
            <mat-form-field>
              <input matInput [matDatepicker]="myDatepicker1" formControlName="currentdate" placeholder="MM/DD/YYYY">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker1></mat-datepicker>
            </mat-form-field>
            <p *ngIf="f1submitted && f1.currentdate.errors || ( f1.currentdate.errors &&(f1.currentdate.dirty))">
              <small class="text-danger" *ngIf="f1.currentdate.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
            </p>
          </div>
        </div>
      </div>
      <input *ngIf="loggedUserType===1" name="register" type="submit" value="{{ 'REPORT.SAVE' | translate}} " class="registerbutt" (click)="onActivate($event)">
    </div>
  </form>
  <div class="container">
    <!-- accordian -->
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <a class=" btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{ 'REPORT.AdministrativeBudget' | translate}}</a>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <form [formGroup]="administativeExpenditureForm" (ngSubmit)="onSubmit(administativeExpenditureForm.value)">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>{{ 'REPORT.Quarter' | translate}}</label>
                    <div class="select-style newselect-style">
                      <select class="city" formControlName="quarter">
                        <option value="Q1">Q1</option>
                        <option value="Q2">Q2</option>
                        <option value="Q3">Q3</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>{{ 'REPORT.Expenditure' | translate}}</label>
                    <div class="select-style newselect-style">
                      <select class="city" formControlName="expenditure">
                        <option *ngFor="let data of expenditureData" [value]="data.id">{{data.description}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>{{ 'REPORT.Date' | translate}}</label>
                    <mat-form-field>
                      <input matInput [matDatepicker]="myDatepicker" placeholder="MM/DD/YYYY" formControlName="dateofincorporationAdmintrator">
                      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                      <mat-datepicker #myDatepicker></mat-datepicker>
                    </mat-form-field>
                    <div class="spacer"></div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>{{ 'REPORT.ChequeNo' | translate}}</label>
                    <input type="text" formControlName="chequeNo" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>{{ 'REPORT.Infavorof' | translate}}</label>
                    <input type="text" formControlName="inFavourOf" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>{{ 'REPORT.Amount' | translate}} $</label>
                    <input type="number" formControlName="amount" class="form-control">
                  </div>
                </div>
                <input class="registerbutt" type="submit" value="{{ 'GLOBAL.ADD'|translate}}" (click)="onActivate($event)">
              </div>
            </form>
            <div class="row">
              <div class="col-12">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>{{ 'REPORT.Date' | translate}}</th>
                      <th>{{ 'REPORT.Check' | translate}}</th>
                      <th>{{ 'REPORT.Expenditure' | translate}}</th>
                      <th>{{ 'REPORT.Infavorof' | translate}}</th>
                      <th>{{ 'REPORT.Amount' | translate}}</th>
                      <th>{{ 'REPORT.Action' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of admExpenceData">
                      <td>{{data.id}}</td>
                      <td>{{data.date}}</td>
                      <td>{{data.no_check}}</td>
                      <td>{{data.description}}</td>
                      <td>{{data.infavourof}}</td>
                      <td>${{data.expense_amount}}</td>
                      <td><a href="javascript:void(0)" class="view"><i class="fa fa-trash-o" (click)="onClickDeleteAdminExpance(data.id)" aria-hidden="true"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <a class=" btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">{{ 'REPORT.DirectBudget' | translate}}</a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <form [formGroup]="directExpenditureForm" (ngSubmit)="onSubmitDirect(directExpenditureForm.value)">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>{{ 'REPORT.Quarter' | translate}}</label>
                    <div class="select-style newselect-style">
                      <select class="city" formControlName="quarter">
                        <option value="Q1">Q1</option>
                        <option value="Q2">Q2</option>
                        <option value="Q3">Q3</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>{{ 'REPORT.Expenditure' | translate}}</label>
                    <div class="select-style newselect-style">
                      <select class="city" formControlName="expenditure">
                        <option *ngFor="let data of directExpenditureData" [value]="data.id">{{data.description}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>{{ 'REPORT.Date' | translate}}</label>
                    <mat-form-field>
                      <input matInput [matDatepicker]="myDatepicker1" placeholder="MM/DD/YYYY" formControlName="dateofincorporationDirect">
                      <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
                      <mat-datepicker #myDatepicker1></mat-datepicker>
                    </mat-form-field>
                    <div class="spacer"></div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>{{ 'REPORT.ChequeNo' | translate}}</label>
                    <input type="hidden" name="UpdatedBy" value="1">
                    <input type="text" formControlName="chequeNo" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>{{ 'REPORT.Infavorof' | translate}}</label>
                    <input type="hidden" name="UpdatedBy" value="1">
                    <input type="text" formControlName="inFavourOf" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>{{ 'REPORT.Amount' | translate}} $</label>
                    <input type="number" formControlName="amount" class="form-control">
                  </div>
                </div>
                <input class="registerbutt" type="submit" value="{{ 'GLOBAL.ADD'|translate}}" (click)="onActivate($event)">
              </div>
            </form>
            <div class="row">
              <div class="col-12">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>{{ 'REPORT.Date' | translate}}</th>
                      <th>{{ 'REPORT.Check' | translate}}</th>
                      <th>{{ 'REPORT.Expenditure' | translate}}</th>
                      <th>{{ 'REPORT.Infavorof' | translate}}</th>
                      <th>{{ 'REPORT.Amount' | translate}}</th>
                      <th>{{ 'REPORT.Action' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of directExpenceData">
                      <td>{{data.id}}</td>
                      <td>{{data.date}}</td>
                      <td>{{data.no_check}}</td>
                      <td>{{data.description}}</td>
                      <td>{{data.infavourof}}</td>
                      <td>${{data.expense_amount}}</td>
                      <td><a href="javascript:void(0)" (click)="onClickDeleteDirectExpance(data.id)" class="view"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <a class=" btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              {{ 'REPORT.Evidence' | translate}}
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <form [formGroup]="evidenceForm" (ngSubmit)="onSubmitEvidence(evidenceForm.value)">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label>{{ 'REPORT.Classification' | translate}}</label>
                    <div class="select-style newselect-style">
                      <select class="city" formControlName="classification" (change)="onChangeClassification($event.target.value)">
                        <option value="">{{ 'PROPOSAL.SELECT_EVIDENCE' | translate }}</option>
                        <option *ngFor="let data of classificationData" [value]="data.id">{{ 'QUATERLY_REPORT.' + data.evidence | translate}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="download_butt downpad_top">
                    <a href="#">
                      <img src="assets/images/download.png">
                      <span>Click here to download template </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h5 class="necetxt">{{ 'GLOBAL.UPLOAD_DOCUMENTS' | translate }}</h5>
                  <div class="uploadwrap">
                    <div class="upload-btn-wrapper">
                      <button class="btn browserupload">{{ 'PROPOSAL.BROWSEUPLOADDOCUMENT'|translate }}</button>
                      <input name="" type="file" multiple class="form-control" (change)="fileChangeEvent($event)" />
                    </div>
                    <button type="submit" class="addnewbutt" [disabled]="loadingFile">{{ 'GLOBAL.UPLOAD' | translate }}<i class="fa fa-refresh fa-spin" style="margin-left: 5px" *ngIf="loadingFile"></i></button>
                    <div class="wrap-temp" *ngFor="let eachfile of upFiles">
                      {{eachfile.name}}<a href="javascript:" (click)="removeFile(eachfile)">X</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="row evidence_table">
              <div class="col-12">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>{{ 'REPORT.Evidence' | translate}}</th>
                      <th>R/O</th>
                      <th>{{ 'REPORT.Document' | translate}}</th>
                      <th>{{ 'REPORT.Action' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of evidenceData">
                      <td>{{data.id}}</td>
                      <td>{{ 'QUATERLY_REPORT.' + data.evidence | translate}}</td>
                      <td>{{data.RO}}</td>
                      <td><a href="{{fileUrl}}/{{data.file_path}}">{{data.org_file_name}}</a></td>
                      <td><a href="javascript:void(0)" (click)="onClickDeleteEvidence(data.id)" class="view"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- accordian -->
  </div>
</div>
<div *ngIf="showLoader" class="not-found top placeholder" fxLayout="column" fxLayoutAlign="center center">
  <img class="logo-loader" src="assets/images/icon/loader.gif" height="32px" width="32px">
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
