<div class="headerBanner scrollSection" id="header">
  <div class="d-flex flex-row px-4 topHeader">
    <div class="mr-auto logo">
      <a href="/">
        <img src="assets/images/CECFLLOGO.png" alt="logo" />
      </a>
    </div>
    <div class="topTxt">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let latestProject of projectData | slice:0:3">
          <h2 *ngIf="language == 'en'">
            <span [innerHTML]="latestProject.projectNameEn"></span>
            <span>Submit your proposal for funding</span>
            <span class="sub_txt">Submission Dates: {{latestProject.startDate | date:'MMMM dd'}} - {{latestProject.endDate |
              date:'MMMM dd, yyyy'}}</span>
          </h2>
          <h2 *ngIf="language == 'es'">
            <span [innerHTML]="latestProject.projectNameEs"></span>
            <span>Envía tu propuesta de financiación</span>
            <span class="sub_txt">Fechas de envío: {{latestProject.startDate | date:'MMMM dd , yyyy'}} - {{latestProject.endDate | date:'MMMM
              dd, yyyy'}}</span>
          </h2>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="ml-auto topHeaderRight">
      <div class="headerRightNav">
        <div id="panel1" *ngIf="showTopNav">
          <div class="langWrap">
            <ul>
              <li>
                <a href="javascript:void(0)" class="nav-link active" [class.active]="language ==='en'" (click)="changeLang('en')">EN
                  <img src="assets/images/USA.svg" alt="USA" /> </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="nav-link" [class.active]="language ==='es'" (click)="changeLang('es')">ES
                  <img src="assets/images/PRI.svg" alt="PRI" />
                </a>
              </li>
            </ul>
          </div>
          <nav class="navbar navbar-expand p-0">
            <a href="javascript:void(0)" class="navbar-toggler fa fa-bars" (click)="menuToggle()"></a>
            <div class="navbarWrap" id="menu">
              <ul class="navbar-nav">
                <li *ngIf="!userInfo" class="nav-item">
                  <a class="nav-link" href="javascript:void(0)" (click)="navigateRegister()">{{ 'LOGIN.REGISTER_TXT' | translate }}</a>
                </li>
                <li *ngIf="!userInfo" class="nav-item">
                  <a class="nav-link" href="javascript:void(0)" (click)="navigateLogin()">{{ 'LOGIN.LOGIN_TXT' | translate }}</a>
                </li>
                <li *ngIf="userInfo" class="nav-item">
                  <a href="{{ projectUrl }}post-auth/dashboard" *ngIf="userInfo.user.user_type===0">{{userInfo.user.admin_first_name | titlecase}} {{userInfo.user.admin_last_name | titlecase}}</a>
                  <a href="{{ projectUrl }}post-auth/dashboard" *ngIf="userInfo.user.user_type===1">{{userInfo.user.entity_name | titlecase}}</a>
                </li>
                <!-- <li *ngIf="userInfo" class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)" (click)="logOut()">{{'HEADER.LOGOUT' | translate}}</a>
                                </li>  -->
                <li class="nav-item">
                  <a class="nav-link" href="#">{{ 'WEBSITE.HELP' | translate }}</a>
                </li>
              </ul>
            </div>
          </nav>
          <!-- <div class="searchIcon">
            <a class="nav-link" href="javascript:void(0)" (click)="toggleSearch()" id="searchClick">
              <i class="fa fa-search"></i>
            </a>
          </div> -->
        </div>
        <div class="searchWrap" id="fullSearchPan" *ngIf="showSearch">
          <div class="searchInner">
            <input type="text" placeholder="Search" />
            <button type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <a href="javascript:void(0)" class="cancel fa fa-times" (click)="toggleSearch()"></a>
        </div>
      </div>
      <div class="headerRightCounter">
        <div class="row headerCountPan">
          <div class="col">
            {{remainDays}}
            <span>{{ 'WEBSITE.DAYS' | translate }}</span>
          </div>
          <div class="col">
            {{remainHrs}}
            <span>{{ 'WEBSITE.HRS' | translate }}</span>
          </div>
          <div class="col">
            {{remainMin}}
            <span>{{ 'WEBSITE.MIN' | translate }}</span>
          </div>
          <div class="col">
            {{remainSec}}
            <span>{{ 'WEBSITE.SEC' | translate }}</span>
          </div>
        </div>
        <div class="topBtnPan">
          <a class="btn btn-primary" href="javascript:void(0)" (click)="navigateLogin()">{{ 'WEBSITE.APPLYNOW' | translate }}</a>
          <a href="javascript:void(0)" (click)="navigateLogin()"><span>{{ 'WEBSITE.WHOELEGIBLE' | translate }}</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="headerSlider">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/images/slide3.jpg" alt="Random first slide">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/slide2.jpg" alt="Random second slide">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/slide1.jpg" alt="Random third slide">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/slide4.jpg" alt="Random first slide">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/slide5.jpg" alt="Random second slide">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/slide6.jpg" alt="Random second slide">
      </ng-template>
    </ngb-carousel>
  </div>
</div>
