.topBtnPan a span{
    display: block;
    font-size: 12px;
    color: #fff;
    padding-top: 15px;
}

.langWrap ul li img{
    width: 25px;
    float: right;
    margin-left: 8px;
    vertical-align: top;
    margin-top: 3px;
}
.navbar-expand .navbar-nav .nav-link{
    padding-top: 0px;
}