<div [ngSwitch]="extraData.type">
  <div *ngSwitchCase="'success'">
    <mat-icon color="accent">done</mat-icon>
    <span class="aligned-with-icon">{{extraData.message}}</span>
  </div>
  <div *ngSwitchCase="'error'">
    <mat-icon color="accent">error_outline</mat-icon>
    <span class="aligned-with-icon">{{extraData.message}}</span>
  </div>
  <div *ngSwitchCase="'warning'">
    <mat-icon color="primary">warning</mat-icon>
    <span class="aligned-with-icon">{{extraData.message}}</span>
  </div>
</div>
