<div class="container-fluid resourcesBg faqBg scrollSection" id="faq">

    <!-- <div *ngFor="let data of commissionData" class="row"> -->
    <!-- <div class="titleWrap">
           <h2 *ngIf="language== 'en'">{{data.title_en}}</h2>
            <h2 *ngIf="language== 'es'">{{data.title_es}}</h2>
        </div> -->
    <!-- <div *ngIf="language== 'en'" [innerHTML]="data.description_en"></div>
        <div *ngIf="language== 'es'" [innerHTML]="data.description_es"></div> -->
    <div class="row">
        <div class="titleWrap">
            <h2>{{ 'WEBSITE.FAQTITLE' | translate}}</h2>
        </div>
        <div class="faqPan row">
            <div class="col-12 col-lg-6 col-xl-6 faqLeft">
                <p (click)="faq1Show()"><a href ="javascript:void(0);">{{ 'WEBSITE.FAQ1' | translate}}</a></p>

                <p (click)="faq2Show()"><a href ="javascript:void(0);">{{ 'WEBSITE.FAQ2' | translate}}</a></p>

                <p (click)="faq3Show()"><a href ="javascript:void(0);">{{ 'WEBSITE.FAQ3' | translate}}</a></p>
            </div>

            <div class="col-12 col-lg-6 col-xl-6 faqRight" *ngIf="isShown1">
                <div>{{ 'WEBSITE.FAQDETAILS1' | translate}}</div>
            </div>

            <div class="col-12 col-lg-6 col-xl-6 faqRight" *ngIf="isShown2">
                <div>{{ 'WEBSITE.FAQDETAILS2' | translate}}
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-6 faqRight" *ngIf="isShown3">
                    <div>
                        {{ 'WEBSITE.FAQDETAILS3' | translate}}
                    </div>
                </div>



            <div class="btnContainer">
                <a class="btn btn2" href="javascript:void(0);" (click)="navigate('/faq-details')" ><span class="icon-comission"></span>{{ 'WEBSITE.FAQKNOWMORE' | translate}}</a>
            </div>


        </div>
    </div>

