<mat-toolbar color="primary">
  <span class="mat-title m-a-0">{{ 'ROLETYPE.ADD_ROLE.TITLE' | translate }}</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<form class="example-form" [formGroup]="addRoleform" (ngSubmit)="addRole(addRoleform.value)">
  <mat-dialog-content class="p-y">
    <!-- roleName start -->

    <div fxLayout.gt-xs="row" fxLayout.xs="column">
      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder="{{ 'ROLETYPE.ADD_ROLE.ROLE_NAME' | translate }} *" formControlName="roleName">
        <mat-error>
          {{ 'ROLETYPE.ADD_ROLE.ERROR_ROLE_NAME' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column">
      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder="{{ 'ROLETYPE.ADD_ROLE.ROLE_DESC' | translate }} *" formControlName="roleDescription">
        <mat-error>
          {{ 'ROLETYPE.ADD_ROLE.ERROR_ROLE_DESC' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- <button type="button" mat-button fxFlex (click)="addpermition()">Add Management Permition</button> -->
    


   <!--  <div formArrayName="facility">
      <label class="d-block mat-body-2">{{ 'ROLETYPE.MANAGEMENT_NAME' | translate }}</label>
      <div fxLayout.gt-xs="row" fxLayout.xs="column" [formGroupName]="i"
        *ngFor="let item of facility.controls; let i=index">
        <label class="d-block mat-body-2">{{ item.controls.name.value}}</label>
        <span fxFlex="5" fxHide.xs></span>
        <mat-radio-group formControlName="status" class="m-b">
          <mat-radio-button value="1">Enable</mat-radio-button>
          <mat-radio-button value="0" class="m-l">Disable</mat-radio-button>
        </mat-radio-group>
        <span fxFlex="5" fxHide.xs></span>
        <div fxFlex formArrayName="permission" fxLayout="row">
          <div fxLayout.gt-xs="row" fxLayout.xs="column" class="m-r" [formGroupName]="j"
            *ngFor="let permission of addRoleform.get('facility')['controls'][i]['controls'].permission.controls; let j=index">
            <span fxFlex="5" fxHide.xs></span>
            <mat-checkbox formControlName="status" class="m-b" labelPosition="before">
              <mat-icon *ngIf="permission.controls.permissionName.value == 'edit'" matTooltip="edit">edit</mat-icon>
              <mat-icon *ngIf="permission.controls.permissionName.value == 'view'" matTooltip="view">visibility
              </mat-icon>
              <mat-icon *ngIf="permission.controls.permissionName.value == 'create'" matTooltip="Add">add</mat-icon>
              <mat-icon *ngIf="permission.controls.permissionName.value == 'delete'" matTooltip="Delete">delete
              </mat-icon>
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>
 -->


    <div formArrayName="facility">
      <strong class="d-block mat-body-2">{{ 'ROLETYPE.MANAGEMENT_NAME' | translate }}</strong>
      <mat-card class="border m-t"  [formGroupName]="i" *ngFor="let item of facility.controls; let i=index">
        <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center">
          <label fxFlex="20" class="d-block mat-body-2 text-primary">{{ item.controls.name.value | titlecase}}</label>
          <span fxFlex="5" fxHide.xs></span>
          <mat-radio-group fxFlex="30" formControlName="status" class="m-b">
            <mat-radio-button value="1">{{ 'ROLETYPE.ENABLE' | translate }}</mat-radio-button>
            <mat-radio-button value="0" class="m-l">{{ 'ROLETYPE.DISABLE' | translate }}</mat-radio-button>
          </mat-radio-group>
          <span fxFlex="2" fxHide.xs></span>
          <div fxFlex formArrayName="permission" fxLayout="row">
            <div fxLayout.gt-xs="row" fxLayout.xs="column" class="m-r" [formGroupName]="j"
              *ngFor="let permission of addRoleform.get('facility')['controls'][i]['controls'].permission.controls; let j=index">
              <span fxFlex="2" fxHide.xs></span>
              <mat-checkbox formControlName="status" labelPosition="after">
                {{permission.controls.permissionName.value | titlecase}}
              </mat-checkbox>
            </div>
          </div>
          <span fxFlex="3" fxHide.xs></span>
        </div>
      </mat-card>
    </div>






  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end start">
    <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
    <button mat-raised-button color="accent">{{ 'GLOBAL.SUBMIT' | translate }}</button>
  </mat-dialog-actions>
</form>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
