<div class="newsWrap ">
  <div class="row">
    <h3 class="col-9 pr-0">{{ 'WEBSITE.LATESTNEWS' | translate }}</h3>
    <div class="col-3 text-right pl-0"><a href="#" class="whiteLink">{{ 'WEBSITE.VIEWALL' | translate }}</a></div>
  </div>
  <div class="newsSlider">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let news of newsData | slice:0:3">
        <div class="row">
          <div class="col-12 col-xl-5 col-lg-5 newsSlider">
            <img [src]="getImgUrl(news.news_documents[0]?.doc_path)" alt="Random first slide">
          </div>
          <div class="col-12 col-xl-7 col-lg-7">
            <div class="newsPan">
              <span class="newsDate">{{news.updated_at | date:'dd-MMMM-yyyy'}}</span>
              <div class="newsTxt">
                <h4 *ngIf="language == 'en'">{{news.NewsTitle}}</h4>
                <h4 *ngIf="language == 'es'">{{news.NewsTitleSpanish}}</h4>
                <p *ngIf="language == 'en'" [innerHTML]="news.NewsBody"></p>
                <p *ngIf="language == 'es'" [innerHTML]="news.NewsBodySpanish"></p>
                <a href="#">{{ 'WEBSITE.READMORE' | translate }}</a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
