
.newsWrap{
    .slideImg{
        margin-bottom: 25px;
    }
}
.newsPan{
    border-bottom: solid 1px #e8e8e8;
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-align: left;
    .newsDate{
        display: block;
        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
        color: #fff;
        padding-bottom: 5px;
    }
    .newsTxt{
        h4{
            font-size: 22px;
            line-height: 30px;
            color: #fff;
            font-weight: 600;
        }
        p{

        }
    }
    a{
        color: #aeaeae;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.newsSlider{
    .newsTxt{
        color: #fff;
    }
    a{
        color: #fff;
    }
}


// Start 768px to 300px
@media screen and (max-width:768px) and (min-width:300px) {


    .videoWrap{
        padding: 30px 0;
    }
    .newsPan{
        border-bottom: 0;
        padding-bottom: 0;
    }
    .newsSlider{
        padding-bottom: 15px;
        margin-bottom: 25px;
        border-bottom: solid 1px #e8e8e8;
    }

    
}
// End 768px to 300px