<div class="container-fluid footer row mx-0">
    <div class="col-12 col-xl col-lg p-0">
        <ul class="socialLinks">
            <li><a href="#" class="icon-facebook"></a></li>
            <li><a href="#" class="icon-twitter"></a></li>
            <li><a href="#" class="icon-instagram"></a></li>
            <li><a href="#" class="icon-youtube"></a></li>
            <li><a href="#" class="icon-googleplus"></a></li>
            <li><a href="#" class="icon-linkedin"></a></li>
        </ul>
    </div>
    <div class="col-12 col-xl col-lg p-0">
        <ul class="footerLogo">
            <li><img src="assets/images/senado.png" alt="Senado" /></li>
            <li><img src="assets/images/CECFLLOGO.WEBP" alt="Cecfl" /></li>
            <li><img src="assets/images/camara.png" alt="Camara" /></li>
        </ul>
    </div>
    <div class="col-12 col-xl col-lg p-0">
        <ul class="footerLinks">
            <li class="fullWidth">&copy; {{ 'WEBSITE.COPYRIGHT' | translate }}</li>
            <li><a href="#">{{ 'WEBSITE.PRIVACY' | translate }}</a></li>
            <li><a href="#">{{ 'WEBSITE.LEGAL' | translate }}</a></li>
            <li><a href="#">{{ 'WEBSITE.QUICKLINK' | translate }}</a></li>
        </ul>
    </div>
</div>
