<div class="container pagewrapper">
  <div class="row">
    <div class="col-xl-12 p-0">
      <ul class="nav">
        <li><a href="#"><span>1</span>Start</a></li>
        <li><a href="#"><span>2</span>Program</a></li>
        <li><a href="#"><span>3</span>Evaluation</a></li>
        <li><a href="#"><span>4</span>Requirements</a></li>
        <li><a href="#"><span>5</span>Property</a></li>
        <li><a href="#"><span>6</span>Budget</a></li>
        <li><a href="#"><span>7</span>Submit</a></li>
      </ul>
    </div>
  </div>
</div>
