<!-- heading start -->
<mat-toolbar fxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading">
  <span class="heading">{{'USERMASTER.TITLE' | translate}}</span>
  <span fxFlex fxHide.xs></span>
  <!-- <mat-form-field>
    <mat-select placeholder="Select UserType" [(value)]="bydefatseleteduserType"
      (selectionChange)="UserTypechange($event)">
      <mat-option [value]="0">All </mat-option>
      <mat-option *ngFor="let ut of userType" [value]="ut.id">
        {{ ut.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <span fxFlex='2' fxHide.xs></span>
  <!-- <mat-form-field>
    <mat-select placeholder="Select State" [(value)]="bydefatseletedState" (selectionChange)="StateChange($event)">
      <mat-option [value]="0">All States </mat-option>
      <mat-option *ngFor="let st of StateList" [value]="st">
        {{ st.State }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span fxFlex='2' fxHide.xs></span>
  <mat-form-field>
    <mat-select placeholder="Select LGA" [(value)]="bydefatseletedlga" (selectionChange)="LgaChange($event)">
      <mat-option [value]="0">All LGA </mat-option>
      <mat-option *ngFor="let lga of LgaListing" [value]="lga">
        {{ lga }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <span fxFlex='2' fxHide.xs></span>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <span fxFlex="2" fxHide.xs></span>
</mat-toolbar>
<!-- heading end -->

<!-- <button mat-fab (click)="addMenu()" mat-raised-button color="accent" class="btn-sticky" matTooltip="Add Menu" matTooltipPosition="left">
	<mat-icon>add</mat-icon>
</button> -->
<button *ngIf="exportstatus" mat-fab mat-raised-button (click)="downloadExport()" color="primary" class="btn-sticky"
  matTooltip="Mobile App User Excel Report Download" matTooltipPosition="left">
  <img class="logo" src="assets/images/icon/excel.png">
</button>
<!-- loader -->
<!-- <div *ngIf="isLoadingResults">
  <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate" color="accent" class="loader"></mat-progress-bar>
</div> -->
<!-- Table start -->
<section class="p-a-md p-t-0">
  <div class="table-container shadow white-box">
    <mat-table  [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name_of_director">
        <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.hasOwnProperty('name_of_director') && row.name_of_director != '' || row.name_of_director != null">{{row.name_of_director}}
          </div>
          <strong
            *ngIf="!row.hasOwnProperty('name_of_director') || row.name_of_director == '' || row.name_of_director == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="entity_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.hasOwnProperty('entity_name') && row.entity_name != '' ||  row.entity_name != null">{{row.entity_name}}</div>
          <strong
            *ngIf="!row.hasOwnProperty('entity_name') || row.entity_name == '' ||  row.entity_name == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="designation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.hasOwnProperty('designation') && row.designation != '' ||  row.designation != null">
            {{row.designation}}</div>
          <strong
            *ngIf="!row.hasOwnProperty('designation')  || row.designation == '' ||  row.designation == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.hasOwnProperty('phone') && row.phone != '' ||  row.phone != null">
            {{row.phone}}</div>
          <strong
            *ngIf="!row.hasOwnProperty('phone') || row.phone == '' ||  row.phone == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.hasOwnProperty('state') && row.state != '' ||  row.state != null">
            {{row.state}}</div>
          <strong
            *ngIf="!row.hasOwnProperty('state') || row.state == '' ||  row.state == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lga">
        <mat-header-cell *matHeaderCellDef mat-sort-header>LGA</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.hasOwnProperty('lga') && row.lga != '' ||  row.lga != null">
            {{row.lga}}</div>
          <strong
            *ngIf="!row.hasOwnProperty('lga') || row.lga == '' ||  row.lga == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container> -->

      <!-- <ng-container matColumnDef="user_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>User Type</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.hasOwnProperty('user_type') && row.user_type != '' ||  row.user_type != null">
            {{row.user_type| uppercase}}</div>
          <strong
            *ngIf="!row.hasOwnProperty('user_type')  || row.user_type == '' ||  row.user_type == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Registration Date</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.hasOwnProperty('created_at') && row.created_at != '' ||  row.created_at != null">
            {{row.created_at| date}}</div>
          <strong
            *ngIf="!row.hasOwnProperty('created_at')  || row.created_at == '' ||  row.created_at == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="activeStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Login Permission</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button>
            <mat-icon *ngIf="row.hasOwnProperty('activeStatus') && row.activeStatus == '1'"
              [ngClass]="row.activeStatus == '1' ? 'status-active' : 'status-deactive'" matTooltip="Active">
              fiber_manual_record</mat-icon>
            <mat-icon *ngIf="row.activeStatus == '0'"
              [ngClass]="row.activeStatus == '0' ? 'status-deactive' : 'status-active'" matTooltip="Deactive">
              fiber_manual_record</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="View" color="accent" (click)="viewUser(row)">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Change Permission</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="Edit" color="primary" (click)="EditUser(row)">
            <mat-icon>border_color</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div *ngIf="userlisting.length > 0">
      <mat-paginator [length]="totalItem" #paginator [pageSizeOptions]="[10,20,50,100]" (page)="getNext($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</section>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
<!-- <div *ngIf="userlisting.length == 0" class="not-found top placeholder" fxLayout="column" fxLayoutAlign="center center">
  <img class="logo" src="assets/images/icon/loader.gif" height="32px" width="32px" *ngIf="isLoadingResults">
  <span class="mat-title">{{ showMessage }}</span>
</div> -->
