<div class="container pagewrapper">
  <div class="row">
    <div class="col-md-12  headerdiv">
      <!-- <div class="logo"><a href="/" title="CECFL"><img src="assets/images/logo.png" alt="" /></a></div> -->
      <div class="outer_heading">
        <div class="heading">
          <h1>{{ 'ROLETYPE.TITLE' | translate}} <span></span></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- heading start -->
<!-- <mat-toolbar fxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading">
  <span class="heading">{{ 'ROLETYPE.TITLE' | translate}}</span>
  <span fxFlex fxHide.xs></span>
  <span fxFlex="2" fxHide.xs></span>
</mat-toolbar> -->
<!-- heading end -->
<!-- loader -->
<!-- <div *ngIf="isLoadingResults">
  <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate" color="primry" class="loader"></mat-progress-bar>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <eco-fab-speed-dial [(open)]="open" [direction]="direction" [animationMode]="animationMode" [fixed]="fixed" class="btn-sticky">
        <eco-fab-speed-dial-trigger [spin]="spin">
          <button mat-fab color="primary" (click)="doAction('trigger')" matTooltip="Open" matTooltipPosition="left">
            <mat-icon>menu</mat-icon>
          </button>
        </eco-fab-speed-dial-trigger>
        <eco-fab-speed-dial-actions>
          <button mat-mini-fab color="primary" (click)="AddRoletype()" matTooltip="{{'ADMINUSER.ADD_USER.TITLE' | translate}}" matTooltipPosition="left">
            <mat-icon>add</mat-icon>
          </button>
        </eco-fab-speed-dial-actions>
      </eco-fab-speed-dial>
    </div>
  </div>
</div>
<!-- card start -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <section>
        <div fxLayout="row" fxLayoutAlign="start none" fxLayoutWrap class="card-wrap fxLayoutWrap">
          <mat-card *ngFor="let row of RoleListing;let i = index;" class="flat-card shadow" fxFlex="none" fxLayout="column" appRandomBackground>
            <mat-card-content fxFlex="auto">
              <h3 class="mat-subheading-2 m-b-0 company-name">{{row.roleName}}</h3>
              <p>{{row.roleDescription}}</p>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-icon-button matTooltip="Edit" matTooltipPosition="above" (click)="editRoletype(row)" *ngIf="editstatus">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Delete" matTooltipPosition="above" (click)="deleteRoletype(row)" *ngIf="deletestatus && row.roleKey !='system-admin' && row.roleKey !='companies' && row.roleKey !='analysts' && row.roleKey !='inspectors' && row.roleKey !='general-public'">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </section>
    </div>
  </div>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
<!-- <div *ngIf="RoleListing.length == 0" class="not-found top placeholder" fxLayout="column" fxLayoutAlign="center center">
  <img class="logo1" src="assets/images/icon/loader.gif" height="32px" width="32px" *ngIf="isLoadingResults">
  <span class="mat-title">{{ showMessage }}</span>
</div> -->


<!-- card end -->
