<div class="registerBg">
    <div class="container pagewrapper">
        <div class="row">
            <div class="col-md-12  headerdiv">
                <div class="logo">
                    <a href="/" title="CECFL">
                        <img src="assets/images/logo.png" alt="" />
                    </a>
                </div>
                <div class="outer_heading">
                    <div class="heading" *ngIf="router.url == '/pre-auth/registered'">
                        <h1>{{ 'REGISTRATION.TITLE' | translate}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="formbody bodywrapper">
        <form class="example-form" [formGroup]="addRegisterform" (ngSubmit)="addRegister(addRegisterform.value)">
            <!--section1-->
            <div class="container registation">  
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                                <p><em>{{ 'REGISTRATION.REQUIRED' | translate}}</em></p>
                                <label>{{ 'REGISTRATION.CATEGORY' | translate }}</label>
                                <div class="select-style newselect-style">
                                    <select formControlName="category">
                                    <option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
                                    <option value="Education">{{ 'REGISTRATION.CATEGORY_OPT.EDUCATION' | translate }}</option>
                                    <option value="Sports">{{ 'REGISTRATION.CATEGORY_OPT.SPORTS' | translate }}</option>
                                    <option value="Health">{{ 'REGISTRATION.CATEGORY_OPT.HEALTH' | translate }}</option>
                                    <option value="Economic">{{ 'REGISTRATION.CATEGORY_OPT.ECONOMIC' | translate }}</option>
                                    <option value="Social">{{ 'REGISTRATION.CATEGORY_OPT.SOCIAL' | translate }}</option>
                                    <option value="Art">{{ 'REGISTRATION.CATEGORY_OPT.ART' | translate }}</option>
                                    </select>
                                </div>
                                <p *ngIf="f1submitted && category.errors || ( category.errors &&(category.dirty || category.touched))">
                                    <small class="text-danger" *ngIf="category.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                </p>
                            </div>
                        <div class="form-group"> 
                            <label>{{ 'REGISTRATION.NAMEOFDIRECTOR' | translate}}</label>
                            <input type="text" id="" formControlName="name_of_director" placeholder="{{ 'REGISTRATION.NAMEOFDIRECTOR_LVL' | translate}}">
                            <!-- <small *ngIf="(f1.name_of_director.errors && f1.name_of_director.touched) || (f1submitted && addRegisterform.name_of_director.errors)"
                                class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small> -->
                            <p *ngIf="f1submitted && name_of_director.errors || ( name_of_director.errors &&(name_of_director.dirty || name_of_director.touched))">
                                <small class="text-danger" *ngIf="name_of_director.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                <small class="text-danger" *ngIf="name_of_director.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
                            </p>
                        </div>
                        <div class="form-group">
                            <label>{{ 'REGISTRATION.NAMEOFENTITY' | translate}}</label>
                            <input type="text" id="" formControlName="entity_name" placeholder="{{ 'REGISTRATION.NAMEOFENTITY_LVL' | translate}}">
                            <p *ngIf="f1submitted && entity_name.errors || ( entity_name.errors &&(entity_name.dirty || entity_name.touched))">
                                <small class="text-danger" *ngIf="entity_name.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                <small class="text-danger" *ngIf="entity_name.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ 'REGISTRATION.DATEOFINCORPORATION' | translate}}</label>
                            <!-- <input type="text"  id="" class="datepicker"  placeholder="Date of incorporation"> -->
                            <mat-form-field>
                                <input matInput [matDatepicker]="myDatepicker" [min]="minDate"  placeholder="MM/DD/YYYY" formControlName="dateofincorporation">
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                <mat-datepicker #myDatepicker></mat-datepicker>
                            </mat-form-field>
                            <p *ngIf="f1submitted && dateofincorporation.errors || ( dateofincorporation.errors &&(dateofincorporation.dirty || dateofincorporation.touched))">
                                <small class="text-danger" *ngIf="dateofincorporation.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                            </p>
                            <div class="spacer"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ 'REGISTRATION.DATEOFREGISTRATION' | translate}}</label>
                            <!-- <input type="number"  id="" formControlName="dateofregis" placeholder="Date of registration at Puerto Rico Department of State" > -->

                            <mat-form-field>
                                <input matInput [matDatepicker]="myDatepicker2" [min]="minDate" placeholder="MM/DD/YYYY" formControlName="dateofregis">
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
                                <mat-datepicker #myDatepicker2></mat-datepicker>
                            </mat-form-field>

                            <p *ngIf="f1submitted && dateofregis.errors || ( dateofregis.errors &&(dateofregis.dirty || dateofregis.touched))">
                                <small class="text-danger" *ngIf="dateofregis.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group ">
                            <label>{{ 'REGISTRATION.REGISTRATIONNUMBER' | translate}}</label>
                            <input type="text" formControlName="registrationnumber" placeholder="{{ 'REGISTRATION.REGISTRATIONNUMBER_LVL' | translate}}">

                            <p *ngIf="f1submitted && registrationnumber.errors || ( registrationnumber.errors &&(registrationnumber.dirty || registrationnumber.touched))">
                                <small class="text-danger" *ngIf="registrationnumber.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                <small class="text-danger" *ngIf="registrationnumber.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group radio-botmargin">
                            <label>{{ 'REGISTRATION.TAXEXEMTION' | translate}}</label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" (change)="handleChangetax($event.target.value)" value="1" name="taxexmpt"
                                    id="yesCheck" formControlName="taxexmpt">
                                <label class="custom-control-label" for="yesCheck">{{ 'REGISTRATION.YES' | translate}}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" (change)="handleChangetax($event.target.value)" value="0" name="taxexmpt"
                                    id="noCheck" formControlName="taxexmpt">
                                <label class="custom-control-label" for="noCheck">{{ 'REGISTRATION.NO' | translate}}</label>
                            </div>
                            <p *ngIf="f1submitted && taxexmpt.errors || ( taxexmpt.errors &&(taxexmpt.dirty || taxexmpt.touched))">
                                <small class="text-danger" *ngIf="taxexmpt.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div *ngIf="show" class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ 'REGISTRATION.TAXEXEMTION_CONFNUMBER' | translate}}</label>
                            <input type="text" formControlName="taxexmptconfno" id="" placeholder="{{ 'REGISTRATION.TAXEXEMTION_LVL' | translate}}">

                            <p *ngIf="f1submitted && taxexmptconfno.errors || ( taxexmptconfno.errors &&(taxexmptconfno.dirty || taxexmptconfno.touched))">
                                <small class="text-danger" *ngIf="taxexmptconfno.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                <small class="text-danger" *ngIf="taxexmptconfno.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ 'REGISTRATION.DATEOFISSUE_TAXEXEMTION' | translate}}</label>
                            <mat-form-field class="datepicker">
                                <input matInput [matDatepicker]="myDatepicker1" formControlName="dateofissue">
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
                                <mat-datepicker #myDatepicker1></mat-datepicker>
                            </mat-form-field>

                            <p *ngIf="f1submitted && dateofissue.errors || ( dateofissue.errors &&(dateofissue.dirty || dateofissue.touched))">
                                <small class="text-danger" *ngIf="dateofissue.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ 'REGISTRATION.MAILADDRESS' | translate}}</label>

                            <input type="email" formControlName="email" id="" placeholder="{{ 'REGISTRATION.MAILADDRESS_LVL' | translate}}">

                            <p *ngIf="f1submitted && email.errors || ( email.errors &&(email.dirty || email.touched))">
                                <small class="text-danger" *ngIf="email.errors.required  ">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                <small class="text-danger" *ngIf="email.errors.pattern">{{ 'PROPOSAL.VALIDEMAIL' | translate }}</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ 'REGISTRATION.TELEPHONENUMBER' | translate}}</label>
                            <input type="number" OnlyNumber="true" formControlName="phone" id="" placeholder="{{ 'REGISTRATION.TELEPHONENUMBER_LVL' | translate}}">

                            <p *ngIf="f1submitted && phone.errors || ( phone.errors &&(phone.dirty || phone.touched))">
                                <small class="text-danger" *ngIf="phone.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                <small class="text-danger" *ngIf="phone.errors.pattern">{{ 'PROPOSAL.PHONEPATTERN' | translate }}</small>
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{ 'REGISTRATION.PHYSICALADDRESS' | translate}}</label>
                            <textarea name="" cols="" rows="" formControlName="physicaladdr1" placeholder="Address"></textarea>
                            <p *ngIf="f1submitted && physicaladdr1.errors || ( physicaladdr1.errors &&(physicaladdr1.dirty || physicaladdr1.touched))">
                                <small class="text-danger" *ngIf="physicaladdr1.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                <small class="text-danger" *ngIf="physicaladdr1.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xl-5">
                        <div class="form-group citygroup">
                            <label>{{ 'REGISTRATION.CITY' | translate}}</label>
                            <div class="select-style newselect-style">
                                <select formControlName="city">
                                    <option value="">{{ 'REGISTRATION.SELECTCITY' | translate}}</option>
                                    <option *ngFor="let item of Citylisting" [value]="item.id">{{item.city}}</option>
                                </select>
                            </div>
                            <p *ngIf="f1submitted && city.errors || ( city.errors &&(city.dirty || city.touched))">
                                <small class="text-danger" *ngIf="city.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 col-xl-2">
                        <div class="form-group prradio">
                            <label>{{ 'REGISTRATION.STATE' | translate}}</label>
                            <div class="custom-control custom-radio custom-control-inline statediv">
                                <input type="radio" class="custom-control-input" id="pr" value="PR" formControlName="state1">
                                <label class="custom-control-label" for="pr">PR</label>
                            </div>
                            <p *ngIf="f1submitted && state1.errors || ( state1.errors &&(state1.dirty || state1.touched))">
                                <small class="text-danger" *ngIf="state1.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5 col-xl-5">
                        <div class="form-group">
                            <label>{{ 'REGISTRATION.ZIPCODE' | translate}}</label>
                            <input type="number" id="" placeholder="{{ 'REGISTRATION.ENTER_ZIP' | translate}}" formControlName="zip">

                            <p *ngIf="f1submitted && zip.errors || ( zip.errors &&(zip.dirty || zip.touched))">
                                <small class="text-danger" *ngIf="zip.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="postadd">{{ 'REGISTRATION.POSTALADDRESS' | translate}}</label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultChecked2" #test (change)="samefieldcopy($event.target.checked)">
                                <label class="custom-control-label" for="defaultChecked2">{{ 'REGISTRATION.CLICKHERE_SAME_PHYSICALADDRESS' | translate}}</label>
                            </div>
                            <textarea name="" cols="" rows="" placeholder="Address" formControlName="postal_addr2"></textarea>
                            <p *ngIf="f1submitted && postal_addr2.errors || ( postal_addr2.errors &&(postal_addr2.dirty || postal_addr2.touched))">
                                <small class="text-danger" *ngIf="postal_addr2.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                <small class="text-danger" *ngIf="postal_addr2.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xl-5">
                        <div class="form-group citygroup">
                            <label>{{ 'REGISTRATION.CITY' | translate}}</label>
                            <div class="select-style newselect-style">
                                <select formControlName="postal_city">
                                    <option value="">{{ 'REGISTRATION.SELECTCITY' | translate}}</option>
                                    <option *ngFor="let item of Citylisting" [value]="item.id">{{item.city}}</option>
                                </select>
                            </div>

                            <p *ngIf="f1submitted && postal_city.errors || ( postal_city.errors &&(postal_city.dirty || postal_city.touched))">
                                <small class="text-danger" *ngIf="postal_city.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 col-xl-2">
                        <div class="form-group prradio">
                            <label>{{ 'REGISTRATION.STATE' | translate}}</label>
                            <div class="custom-control custom-radio custom-control-inline statediv">

                                <input type="radio" class="custom-control-input" id="pr1" value="PR" formControlName="postal_state">
                                <label class="custom-control-label" for="pr1">PR</label>
                            </div>
                            <p *ngIf="f1submitted && postal_state.errors || ( postal_state.errors &&(postal_state.dirty || postal_state.touched))">
                                <small class="text-danger" *ngIf="postal_state.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5 col-xl-5">
                        <div class="form-group">
                            <label>{{ 'REGISTRATION.ZIPCODE' | translate}}</label>
                            <input type="number" id="" placeholder="{{ 'REGISTRATION.ENTER_ZIP' | translate}}" formControlName="postal_zip">
                            <p *ngIf="f1submitted && postal_zip.errors || ( postal_zip.errors &&(postal_zip.dirty || postal_zip.touched))">
                                <small class="text-danger" *ngIf="postal_zip.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                            </p>
                        </div>
                    </div>

                </div>

            </div>

            <input name="register" type="submit" value="{{ 'REGISTRATION.REGISTER' | translate}}" class="registerbutt" (click)="onActivate($event)">
        </form>
    </div>


    <ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>

</div>