<app-menu></app-menu>
<app-innear-header></app-innear-header>

<div class="container faqmaindiv" *ngIf="language == 'en'"><span [innerHTML]="faqData[0]?.description_en"></span></div>
<div class="container faqmaindiv" *ngIf="language == 'es'"><span [innerHTML]="faqData[0]?.description_es"></span></div>


<!-- <div class="container faqmaindiv">
    <h2>FAQ Details</h2>
    <div class="row qadiv">
        <div class="col-12">
         <p><a href="#">Can I select more than one programmatic approach?</a></p>
         <div>No, each NPO should select only one programmatic approach.</div>
       </div>
    </div>

    <div class="row qadiv">
            <div class="col-12">
             <p><a href="#">If the NPO has several community programs or services, can it submit more than one proposal?</a></p>
             <div>No, only one proposal will be accepted by OSFL. However, the NPO can frame its programs or services with
                    goals and objectives that address a programmatic approach to the Law of Legislative Funds for Community
                    Impact.</div>
           </div>
        </div>

        <div class="row qadiv">
        <div class="col-12">
                <p><a href="#">What is the difference between an Annual Operational Budget and the Budget to be submitted for the proposed
                community program or service?</a></p>
                <div>The current Annual Operational Budget is the document with dollar representation of the plans for a period of 12 months that includes program areas, projects, services and administration of the NPO. The ...</div>
        </div>
        </div>
</div> -->
<app-footer-website></app-footer-website>
