<app-menu></app-menu>
<app-innear-header></app-innear-header>
<!-- <div class="pageHeaderPan">
    <div class="container row">
        <div class="col-12 col-lg-11 col-md-11 px-0 filterLeft">
            <label>City</label>
            <div class="customSelect citySelect">
                <select>
                    <option>Location</option>
                </select>
            </div>
            <div class="customSelect">
                <select>
                    <option>Location</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-lg-1 col-md-1 px-0 text-right filterRight">
            <a href="#" class="icon-list"></a>
        </div>
    </div>
</div> -->
<div class="container defaltSearchPage">
  <div class="row">
    <div class="col-12 col-lg-4 col-md-4 generalDataLeft">
      <h4>{{ 'WEBSITE.GENDATA' | translate}} </h4>
      <div class="customSelect srchcity" style="margin-bottom: 20px;">
        <select (change)="cityChangeEvent($event.target.value)">
          <option value="">{{ 'REGISTRATION.SELECTCITY' | translate}}</option>
          <option *ngFor="let item of Citylisting" [value]="item.id">{{item.city}}</option>
        </select>
      </div>
      
      <ul>
        <li><span class="icon-hotel"></span>{{ 'WEBSITE.TOTORG' | translate}}: <strong>{{totOrg}}</strong></li>
        <li *ngFor="let data of barData; let i = index"><span class="icon-first-aid-kit"></span>{{ ('REGISTRATION.CATEGORY_OPT.' + data.category | uppercase ) | translate }}: <strong>{{data.tot}}</strong></li>
      </ul>
    </div>
    <div class="col-12 col-lg-8 col-md-8 generalDataRight" *ngIf="barChart">
      <div style="display: block;">
        <canvas baseChart [datasets]="barchartObj.barChartData" [labels]="barchartObj.barChartLabels" [options]="barchartObj.barChartOptions" [plugins]="barchartObj.barChartPlugins" [legend]="barchartObj.barChartLegend" [chartType]="barchartObj.barChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>
<app-footer-website></app-footer-website>
