
.defaltSearchPage{
    padding-top: 60px;
}
h4{
    font-size: 22px;
    line-height: 25px;
    color: #313131;
    font-weight: 500;
    margin-bottom: 25px;
}
p{
    color: #838383;
}
ul{
    list-style-type: none;
    li{
        font-weight: 300;
        padding-bottom: 10px;
        font-size: 15px;
        line-height: 22px;
        strong{
            font-weight: 500;
        }
        span{
            margin-right: 10px;
            font-size: 18px;
            position: relative;
            top: 3px;
        }
    }
}


// Start 768px to 300px
@media screen and (max-width:767px) and (min-width:300px) {

    .filterRight{
        order: 1;
        z-index: 999;
    }
    .filterLeft{
        order: 2;
        top: -34px;
    }
    .generalDataLeft{
        order: 2;
    }
    .generalDataRight{
        order: 1;
    }

}
// End 768px to 300px