  [hidden] {
    display: none !important;
  }
  .pull-right {
    float: right !important;
  }
  
  .pull-left {
    float: left !important;
  }
  
  .spacer{
      font-size:0;
      line-height:0;
      clear:both;
  }
  .container{
      padding-right:0!important;
      padding-left:0!important;
  }
  /*registration number*/
  .pagewrapper{
      // max-width:1210px;
      // width:100%;
      margin:0 auto 0;
      position: relative;
      font-family: 'Poppins', sans-serif;
      
  }
  .logo{
     /* margin-bottom:40px;
      width: 20%;
      position: absolute;
      top:10px;
      left: 39px; */
  }
 
  .pagewrapper h1{
      font-family: 'Poppins', sans-serif;
      font-size:20px;
      line-height:38px;
      color:#282828;
      background-color: #fff;
      text-align:center;
      text-transform: uppercase;
      font-weight: 400;
      
      /* padding-bottom:50px; */
  }
  .pagewrapper h1 span{
      display:block;
      font-family: 'Poppins', sans-serif;
      font-size:36px;
      line-height:36px;
      color: #013b85;
      font-weight:600;
  }
  .bodywrapper{
      // max-width:1210px;
      width:100%;
      margin: 0 auto ;
      
  }
  .formbody{
    //   background-color:#fff;
      font-family: 'Montserrat', sans-serif;
      padding-bottom:0;
      padding-top: 0;
  }
  .formbody .form-group{
      margin-bottom:28px;
      position:relative;
  }
  .section{
      padding:30px 0 0;
  }
  
  .formbody label{
      display:block;
      font-weight:600;
      font-size:16px;
      padding-bottom:5px;
  }
  .formbody input[type='text'], .formbody input[type='email'], .formbody input[type='number']{
      width:100%;
      height:100%;
      color:#282828;
      font-size:16px;
      font-weight:300;
      border-radius:0;
      padding: 15px  0 15px 21px;
      margin:0;
      border:none;
      border:solid 1px #b4c8d2;
      border-radius: 6px;
      background-color: #fff;
      text-align:left;
      -webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
      -moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
      box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
      
  }
 /* For Firefox */
 .formbody input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
.formbody input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  ::placeholder {
      color: #282828;
    }
  
  .datepicker{
      margin-top: 13px;
      width: 300px;
      }
  .custom-select{
      width:100px;
      font-size:18px;
      float:left;
      border:none;
      background-color:#f2f2f2;
      border-bottom:solid 1px #898989;
      
  }
  
  .select-style {
      width: 120px;
      overflow: hidden;
      background: #fff url("../images/icon-select.png") no-repeat 95% 50%;
    //   float:left;
     // -webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
     // -moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
      //box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
      
  }
  
  .newselect-style{
      width:100%!important;
  }
  
  .select-style select {
    //  padding:15px 0 15px 21px; 
      margin-top:0;
      font-size:16px;
      color:#282828;
      width: 100%;
      border: none;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none;
      border:solid 1px #b4c8d2;
      border-radius: 6px;
      line-height:50px ;
     
      }
 
  
  .select-style select:focus {
      outline: none;
  }
  
  textarea{
      width:100%;
      color:#282828;
      font-size:16px;
      font-weight:300;
      border-radius:6px;
      padding:15px 15px;
      margin:0;
      border:none;
      border: solid 1px #b4c8d2;
      background-color:#fff;
      text-align:left;
  }
  
  .custom-control-input:checked ~ .custom-control-label::before {
      color: #fff;
      border-color:blue!important;
      background-color:blue!important;
  }
  .radio-botmargin{
      margin-bottom:10px!important;
  }
  .nopad{
      padding:0px!important;
  }
  .exam-pad{
      margin-top:72px;
  }
  input.registerbutt{
	text-align:center;
	background: rgb(40,131,201);
    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%);
	font-size:16px;
	// width:196px;
	color:#fff;
	font-weight:600;
	border-radius:4px;
    text-transform: uppercase;
	display:block;
	padding:9px 10px;
	margin: 50px auto 0;
	border: 0;
}
  .footerbg{
      background:url(src/assets/images/footer_bg.jpg) repeat-y 0 0;
      padding: 25px 0 0;
  
  
  p.copyrighttxt{
      text-align: center;
      font-size: 12px;
      line-height: 50px;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
  }
  
  }
  .sectionbor{
      border-bottom: solid 1px #e0e0e0;
      padding-bottom: 70px;
  }
  
  a.logo img{
    //   display: none;
  }
//   .header .logo img{
//     height: inherit!important;
//   }
  .listingtable{
      padding-top: 30px;
  }
  .uploadtable{
      
      border-top:solid 1px #e0e0e0;
  }
  .uploadtable tr{
    border-bottom:solid 1px #e0e0e0;
    
  }
  .uploadtable tr td{
    padding: 30px 0 15px;
    word-break: break-word;
  }

  .uploadtable tr td p{
      color: #1e1e1e;
  }
  .uploadtable tr td p span{
      display: block;
      color: #001d6e;
      font-weight: bold;
  }

  .uploadtable tr td p.cross a{
      color: #fff;
      font-size: 21px;
      line-height:20px;
      background: rgb(40,131,201);
    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%);
    text-align: center;
    border-radius: 4px;
    display:inline-block;
    padding: 3px 5px;
    text-decoration: none;
  }
  .ngx-pagination{
    width:100%!important;
    display: inline!important;
    
}

.position-relative{
    padding: 25px;
}

// .eco-fab-speed-dial-container{
//     display: none!important;
// }
