// @import 'assets/css/website_font.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    // font-family: 'Poppins', sans-serif;   
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Heebo', sans-serif ;
    color: #7e7e7e;
}
a{
    outline: none;
}
p{
    font-weight: 300;
}

img{
    max-width: 100%;
    height: auto;
}

.blackLink{
    color: #000;
}
.whiteLink{
    color: #fff;
}

/* Header Style */

.carousel{
    .carousel-item {
        transition: opacity 0.7s ease!important;
        position: absolute!important;
        display: block!important;
        opacity: 0;
        &.active{
            position: relative!important;
            opacity: 1;
        }
    }
}


.topHeader{
    border-bottom:solid 1px #3d4a5a;
    background-color: #2966ab;
    // height: 152px;
    .logo{
        // width: 120px;
        // height: 120px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .topTxt{
        width: 50%;
        text-align: center;
        margin: auto 20px;
        h2{
            font-size: 24px;
            line-height: 38px;
            font-weight: 300;
            font-family: 'Poppins', sans-serif;
            color: #fff;
            span{
                display: block;
                font-weight: 500;
            }
            span.sub_txt{
                font-size: 16px;
                line-height: 68px;
            }
        }
        .carousel-indicators, 
        .carousel-control-prev, 
        .carousel-control-next{
            display: none;
        }
        .carousel{
            .carousel-item {
                display: block !important;
                z-index: 1;
                position: absolute;
                transform: translateX(100%);
                opacity: 0;
                transition:all  0.5s;
                visibility: hidden;
                &.active{
                    position: relative;
                    transform: translateX(0);
                    visibility: visible ;
                    opacity: 1;
                }
            }
        }
        

    }
    .searchWrap{
        margin-top: 2px;
        text-align: right;
        position: relative;
        padding-right: 20px;
        .searchInner{
            border-radius: 50px;
            background-color: #fff;
            padding: 5px 10px 5px 6px;
            height: 100%;
            overflow: hidden;
            input[type="text"]{
                display: inline-block;
                vertical-align: top;
                border:0;
                padding: 2px 5px;
                width: calc(100% - 20px);
            }
            button[type="submit"]{
                border: 0;
                background: none;
                display: inline-block;
                vertical-align: top;
                width: 20px;
                margin-top: 2px;
            }
        }
        .cancel{
            position: absolute;
            top: 8px;
            right: 0;
            font-size: 17px;
            color: #fff;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .headerCountPan{
        // width: 250px;
        width: 80%;
        text-align: left;
        margin: 0 0 0 17px;
        .col{
            font-size: 25px;
            line-height: 27px;
            font-weight: 700;
            color: #fff;
            span{
                font-size: 13px;
                line-height: 15px;
                font-weight: 300;
                display: block;
            }
        }
    }
    .topBtnPan{
        text-align: center;
        padding: 20px 0 15px;
        .btn{
            font-size: 13px;
            line-height: 40px;
            padding: 0px 20px;
            font-weight: 400;
            margin: 0 auto;
        }
    }

    .navbar{
        display: inline-block;
        .nav-item{
            font-size: 14px;
            font-weight: 300;
            padding: 0 5px;
            position: relative;
            a{
                color: #fff;
                font-family: 'Poppins', sans-serif;
                &:hover{
                    color: #eaaa2d;
                }
            }
        }

        .navbar-toggler{
            display: none;
        }
    }
    .searchIcon{
        margin-left: 10px;
        display: inline-block;
        position: relative;
        top: 2px;
        .fa{
            font-size: 20px;
            color: #fff;
        }
    }
    .navbar-toggler{
        color: #fff;
        font-size: 18px;
    }
    .headerRightNav{
        padding-top: 10px;
        height: 60px;
        width: 392px;
    }
    .langWrap{
        display: inline-block;
        ul{
            list-style-type: none;
            margin-bottom: 0;
            li{
                padding-left: 8px;
                padding-right: 8px;
                display: inline-block;
                font-size: 14px;
                font-weight: 300;
                position: relative;
                &:after{
                    content: "";
                    height: 28px;
                    border-right: solid 1px #fff;
                    position: absolute;
                    top: 4px;
                    left: 0;
                }
                &:first-child{
                    &:after{
                        display: none;
                    }
                }
                a{
                    padding-left: 0;
                    padding-right: 0;
                    color: #fff;
                    font-family: 'Poppins', sans-serif;
                    &.active{
                        color: #eaaa2d;
                    }
                }
            }
        }
    }
    .headerContent{
        color: #fff;
        padding-top: 140px;
        padding-top: calc(20px + 5vw);
        
      
        .headerTxt{
            font-size:28px;
            line-height: 40px;
            font-weight: 300;
            font-family: 'Poppins', sans-serif;
            & strong{
                font-weight: 500;
            }
        }

        .countDownPan{
            padding-top: 25px;
            width: 500px;
            margin: 0 auto;
            h4{
                font-size: 20px;
                font-weight: 300;
                position: relative;
                display: inline-block;
                padding-bottom: 25px;
                &:before, &:after{
                    content: "";
                    width: 60px;
                    border-top: solid 1px #868587;
                    position: absolute;
                }
                &:before{
                    top: 13px;
                    left: -65px;
                }
                &:after{
                    top: 13px;
                    right: -65px;
                }
            }
            .col{
                font-size: 15px;
                line-height: 16px;
                font-weight: 500;
                text-transform: uppercase;
                span{
                    font-size: 70px;
                    line-height: 75px;
                    font-weight: 700;
                    display: block;
                }
            }
        }

        .btn{
            font-size: 20px;
            line-height: 65px;
            padding: 0 45px;
            margin-top: 38px;
        }

    }

    
}

.srchpanel{
    background: url('../images/header-banner.jpg') 50% 0 no-repeat;
     min-height: 80%;
    // min-height: 100vh;
}

.innerHeader{
    //min-height: 80%;
   // min-height: 100vh;
    // background: url('../images/header-banner.jpg') 50% 0 no-repeat;
    position: relative;
  
    
}

.headerContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    &.container{
        max-width: 930px;
    }
    .searchBox{
        width: 100%;
        background-color: #fff;
        border-radius: 20px;
        padding-left: 28px;
        margin-top: auto;
        margin-bottom: auto;
        &::before,
        &::after{
            clear: both;
            content: "";
            display: table;
        }
        .searchSelect{
            float: left;
            padding: 13px 0 0;
            label{
                font-size: 12px;
                line-height: 14px;
                color: #9f9f9f;
                font-weight: 300;
                margin-bottom: 3px;
            }
            .selectWrap{
                border-right: solid 1px #ddd;
                padding-right: 10px;
            }
            label{
                display: block;
                padding-left: 5px;
            }
            .customSelect{
                width: 190px;
                border-bottom: 0;
                select{
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 400;
                    background: url('../images/drop-arrow-blue.png') 98% 50% no-repeat transparent;
                    option{
                        font-size: 15px;
                        line-height: 18px;
                    }
                }
            }
        }
        .searchInput{
            float: left;
            padding: 0 10px 0;
            width: calc(100% - 521px);
            input[type="text"]{
                border: 0;
                width: 100%;
                height: 68px;
                line-height: 68px;
            }
        }
        .btn{
            float: left;
            padding: 0;
            line-height: 70px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
            border-radius: 0;
            margin-top: 0;
            background-color: #008ec6;
            width: 160px;
            text-align: center;
            &:hover{
                background-color: #0c688c;
            }
            &.mapSearch{
                border-radius: 0 20px 20px 0;
                background-color: #e9a92d;
                &:hover{
                    background-color: #b17a11;
                }
            }

        }
    }

}


/* Header Style */

.headerBanner{
    height: 100%;
    height: 100vh;
    overflow: hidden;
    .headerSlider{
        .carousel{
            .carousel-item {
                height: 77vh;
            }
        }
        .carousel-inner{
            height: 80%;
            height: 80vh;
            // img{
            //     height: 77%;
            //     height: 77vh;
            //     width: 100%;
            // }
        }
        .carousel-control-next-icon, 
        .carousel-control-prev-icon{
            width: 60px;
            height: 60px;
            opacity: 0.5;
            cursor: pointer;
        }
        .carousel-indicators{
            bottom: 40px;
        }
    }
}

.btn{
    background: #eaaa2d;
    border: 0;
    border-radius:50px;
    font-size: 15px;
    line-height: 55px;
    padding: 0 40px;
    font-weight: 700;
    color: #000;
    margin-top: 10px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    &:hover{
        background: #b48b39;
    }
}


.titleWrap{
    position: relative;
    display: inline-block;
    margin: 0 auto 30px;
    h2{
        font-size: 70px;
        font-size: calc(2px + 3vw);
        line-height: 75px;
        line-height: calc(4px + 2vw);
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    &:after{
        // border-bottom: solid 1px#fff;
        position: absolute;
        bottom: 15%;
        content: "";
        left: -15%;
        right: 0;
        width: 130%;
    }
}

.newsPanel{
    width: 100%;
    margin: 0 auto;
    padding-top: 90px;
    padding-top: calc(5px + 4vw);
    min-height: 100%;
    min-height: 100vh;
    background: #2d4c9c;
}
.inside_newswrap{
    width: 1300px;
    margin: 0 auto;
}
body h3{
    text-transform: uppercase;
    font-size: 34px;
    font-size: calc(16px + 1vw);
    line-height: 38px;
    line-height: calc(18px + 1vw);
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}


.resourcesBg{
     min-height: 84%;
     min-height: 84vh;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    .row{
        margin: 0 auto;
        width: 80%;
    }
    h2{
        //width: 100%;
        
    }
    p{
        //width: 100%;
        font-size: 28px;
        line-height: 32px;
        font-weight: 300;
        display: block;
        color: #fff;
        padding-bottom: 40px;
        font-family: 'Poppins', sans-serif;
    }
    .btnContainer{
        text-align: center;
        width: 100%;
        a.btn{
            height: 60px;
            font-size: 18px;
            line-height: 60px;
            font-weight: 600;
            padding: 0 45px;
            background: #ebbe2a;
            border-radius: 50px;
            margin: 0 10px 0;
            border: solid 1px #ebbe2a;
            color: #111;
            transition: all .4s ease;
            -webkit-transition: all .4s ease;
            // &.btn1, 
            // &.btn2{
            //     padding-left: 65px;
            // }
            &.btn2{
                 background: #e9aa2d;
                color: #111;
                &:hover{
                    color: #111;
                }
            }
            span{
                margin-right: 15px;
                font-size: 25px;
                position: relative;
                top: 2px;
            }
            &:hover{
                background: #ffeac0;  
            }

        }
    }

}

.customSelect{
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #bebebe;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    select{
        padding: 4px 18px 4px 5px;
        width:100%;
        border: none;
        box-shadow: none;
        font-size: 17px;
        line-height: 20px;
        color: #363636;
        font-weight: 300;
        //background-image: none;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background: url('../images/drop-arrow.png') 96% 50% no-repeat #fff;
        outline: none;
        border-radius: none!important;
    }
    select::-ms-expand {
        display: none;
    }
    &:focus{
        outline: none;
    }

    &.icon-Down-arrow{
        font-size: 11px;
        line-height: 16px;
        color: #000;
        &:before{
            position: absolute;
            top: 5px;
            right: 10px;
        }
    }

}


.newsSlider, 
.videoSlider{

    .carousel-caption{
        position: static;
    }
    .carousel-control-next, 
    .carousel-control-prev{
        position: relative;
        width: 44px;
        height: 44px;
        display: inline-block;
        border: solid 1px #ebbe2a;
        cursor: pointer;
        opacity: 10;
        &:hover{
            border-color: #000;
            z-index: 2;
        }

        .carousel-control-prev-icon, 
        .carousel-control-next-icon{
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }

    .carousel-control-prev{
        .carousel-control-prev-icon{
           
            background: url('../images/slide-arrow-blue-prev.png') 50% 50% no-repeat;
            &:hover{
                background: url('../images/slide-arrow-black-prev.png') 50% 50% no-repeat;
            }
        }
    }
    .carousel-control-next{
        .carousel-control-next-icon{
            background: url('../images/slide-arrow-blue-next.png') 50% 50% no-repeat;
            &:hover{
               
                background: url('../images/slide-arrow-black-next.png') 50% 50% no-repeat;
            }
        }
    }
    .carousel-indicators{
        display: none;
    }
    .carousel-control-prev{
        left: 1px;
    }
}

.newsSlider{
    .carousel-inner{
        margin-bottom: 20px;
    }
}


.videoSlider{
    .carousel{
        padding-bottom: 45px;
    }
    .videoPan{
        &:before, 
        &:after{
            clear: both;
            display: table;
            content: "";
        }
        .videoTxt{
            float: left;
        }
        .videoDate{
            float: right;
        }
    }

    .carousel-indicators{
        display: block;
        margin-left: 0;
        margin-right: 0;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        li{
            background: #e0e0e0;
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 0;
            border-radius: 50%;
            &.active{
                background: #ebbe2a;
            }
        }
    }

    .carousel-control-next, 
    .carousel-control-prev{
        position: absolute;
        top: auto;
    }
}


.pageHeaderPan{
    border-bottom: solid 1px #cecece;
    .container{
        margin-left:auto;
        margin-right:auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    label{
        font-size: 16px;
        line-height: 40px;
        color: #858585;
        font-weight: 300;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
    }
    .customSelect{
        display: inline-block;
        vertical-align: top;
        max-width: 200px;
        width: 48%;
        margin-left: 20px;
        border-radius: 5px;
        border: solid 1px #fff;
        padding: 6px 20px 6px 10px;
        &.citySelect{
            border-radius: 5px;
            border: solid 1px #cecece;
            padding: 6px 10px;
            
            &:after{
                display: none;
            }
        }
        &:after{
            content: "";
            position: absolute;
            top: 7px;
            right: 0;
            border-right: solid 1px #cecece;
            height: 25px;
        }
        select{
            background: url('../images/drop-arrow-blue.png') 98% 50% no-repeat transparent;
            color: #2e2e2e;
            font-weight: 400;
        }
    }
    .icon-list{
        color: #2e2e2e;
        font-size: 20px;
        position: relative;
        top: 10px;
        &:hover{
            text-decoration: none;
        }
    }
    .resetFilter{
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        line-height: 20px;
        color: #38a4fd;
        font-weight: 500;
        margin-top: 10px;
        &:hover{
            color: #0b5695;
            text-decoration: none;
        }
    }

}
.pagesubHeaderPan{
    padding-top: 15px;
    .filterTxt{
        p{
            display: inline-block;
            vertical-align: top;
            font-size: 11px;
            line-height: 16px;
            font-weight: 300;
            margin-right: 30px;
            strong{
                font-weight: 500;
            }
            a.yellowLink{
                color: #fff;
                line-height: 30px;
                background-color: #e9a92d;
                border-radius: 5px;
                padding: 0 10px;
                display: inline-block;
                margin: 5px;
                &:hover{
                    text-decoration: none;
                }
            }
            span.filter{
                border-radius: 5px;
                border: solid 1px #cecece;
                padding: 6px 10px;
                margin: 2px 5px;
                display: inline-block;
                font-weight: 500;
                a{
                    font-style: 0;
                    line-height: 0;
                    text-indent: -5000px;
                    display: inline-block;
                    vertical-align: top;
                    width: 7px;
                    height: 7px;
                    background: url('../images/cross.png') 0 0 no-repeat;
                    margin:5px 0 0 5px;
                }
            }
        }
    }
}


.mapPan{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.mapPan iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


ul.contactInfoList{
    list-style-type: none;
    margin-top: 30px;
    padding-bottom: 0 !important;
    li{
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
        margin-right: 15px;
        border-right: solid 1px #cecece;
        padding-right: 15px;
        padding-bottom: 0 !important;
        color: #2e2e2e;
        background: none !important;
        padding-left: 0 !important;
        &:last-child{
            border-right: 0;
        }
        strong{
            color: #38a4fd;
        }
    }
    .icon{

        margin-right: 5px;
    }
}


//////18/02/2020 ///////@extend

.resourcesBg{
    &.faqBg{
    background: url(../../assets/images/faq-bg.jpg) 50% 50% no-repeat;
    .row{
        width: 100%;
    }

    .titleWrap{
        position: relative;
        display: inline-block;
        margin: 0 auto 30px;
        &:after{
            left: -2%;
            right: 0;
            width: 104%;
        }
    }

    .faqPan{
        width: 70%;
        margin-bottom: 60px;
        
        .faqLeft{
            text-align: right;
            padding-top: 40px;
            p{
                font-size: 15px;
                line-height: 20px;
                font-weight: 300;
                color: #88a1be;
                padding: 0 20px 15px 0;
                margin-bottom: 20px;
                &.selected{
                    border-bottom: solid 1px #1855a1;
                    color: #fff;
                }
            }
        }
        .faqRight{
            background: #1855a1;
            vertical-align: middle;
            display: flex;
            align-items: center;
            text-align: left;
            font-size: 22px;
            list-style: 25px;
            color: #fff;
            padding: 25px 75px;
            // opacity: 0.5;
        }
    }
    }

}

.resourcesBg{
    &.providerBg{
    background: url(../../assets/images/service-bg.jpg) 50% 50% no-repeat;

    
  
    .titleWrap{
        h2{
            color: #393939;
        }
        &:after{
            // border-bottom: solid 1px#393939;
            left: 0;
            width: 100%;
            bottom: 14px;
        }

        
    }

    .btnContainer{
        a.btn{
            background: #e9aa2d;
            border: 0;
            &:hover{
                background: #d09217;  
            }
        }
    }

    h3{
        color: #393939; 
       padding-bottom: 40px;
        text-transform: capitalize;
        text-align: center;
    }
    }

}



///////////////


// @media (min-width: 576px) { sm }

// @media (min-width: 768px) { md }

// @media (min-width: 992px) { lg }

// @media (min-width: 1200px) { xl }


// Start 992px to 768px
@media screen and (max-width:992px) and (min-width:768px) {

    .topHeader{
        .topTxt{
            h2{
                font-size: 14px;
                line-height: 25px;
            }
        }
    }


}



// Start 768px to 300px
@media screen and (max-width:767px) and (min-width:300px) {

    .headerBanner{
        height: auto;
        min-height: auto;
        .headerSlider{
            .carousel {
                .carousel-inner{
                    height: 300px;
                    .carousel-item{
                         height: 100%;
                    }
                    img{
                        max-width: 100%;
                        width: 100%;
                        max-height: 100%;
                        height: 100%;
                        max-height: 100%;
                        object-fit: cover;
                    }
                }
                .carousel-indicators{
                    display: none;
                }
            }

        }
    }

    .inside_newswrap{
        width: 100%;
    }

    .topHeader {
        padding-top: 0.6rem !important;
        padding-bottom: 130px !important;
        position: relative;
        .logo {
            max-width: 95px;
            max-height: 95px;
            width: 25%;
            height: 25%;
            margin-top: 0;
        }
        .topTxt{
            display: none;
        }
        .topHeaderRight{
            width: 70%;
            margin-top: 0;
            text-align: right;
            .headerRightCounter{
                position: absolute;
                bottom: 0;
                // left: 0;
                right: 0;
                top:54px;
            }
        }
        .headerRightNav{
            padding-top: 0;
            width: auto;
            height: auto;
        }
       

       
        


        .navbar{
            .navbar-toggler{
                display: block;
            }
            .navbarWrap{
                position: absolute;
                top: 30px;
                right: 0;
                background-color: #fff;
                width: 120px;
                display: none;
                text-align: left;
                z-index: 99;
                ul{
                    display: block;
                    .nav-item{
                        border-bottom: solid 1px #ccc;
                        font-size: 12px;
                        a{
                            color: #313131;
                        }
                        &:hover{
                            background-color:#eee ;
                        }
                    }
                }
            }
        }

        .langWrap{
            display: inline-block;
            ul{
                list-style-type: none;
                li{
                    padding-left: 7px;
                    padding-right: 7px;
                    &:after{
                        height: 20px;
                        top: 7px;
                    }
                }
            }
        }

        .searchIcon{
            margin-left: 0;
        }
    }

    .topHeader .headerCountPan {
        width: 95%;
        text-align: center;
    }
    .topHeader .headerCountPan .col{
            font-size: 16px;
        line-height: 22px;
        }

    .innerHeader{

        .headerContent{
            transform: translate(-50%, 10%);
            .searchBox{
                width: 95%;
                border-radius: 0;
                padding:0;
                margin: 0 auto;
                .searchSelect{
                    float: none;
                    padding: 10px;
                    .selectWrap{
                        border-right:0;
                        padding-right:0;
                    }
                    .customSelect{
                        width: 100%;
                    }
                }
                .searchInput{
                    float: none;
                    padding: 10px 14px;
                    width: 100%;
                    border-top: solid 1px #ccc;
                }
                .btn{
                    float: left;
                    line-height: 60px;
                    width: 50%;
                    &.mapSearch{
                        border-radius: 0;
                    }

                }
            }

        }
        
    }


    .floatingMenu{
        // display: none;
    }
    .newsWrap{
        
        a.blackLink{
            font-size: 12px;
        }
    }

    .videoWrap{
        padding-bottom: 30px;
    }

    .newsPanel{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 720px;
      
    }

    .resourcesBg {
        min-height: auto;
    
        p {
            font-size: 18px;
            line-height: 30px;
        }
        .btnContainer{
            a.btn{
                height: 50px;
                font-size: 12px;
                line-height: 50px;
                padding: 0 20px;
                margin-bottom: 10px;
                span{
                    margin-right: 10px;
                    font-size: 18px;
                }

            }
        }
    }

    .customSelect{
        select{
            font-size: 14px;
        }
    }

    .titleWrap{
        &:after{
            bottom: 0;
        }
    }

    .pageHeaderPan{
        .icon-list{
            top: 0;
        }
        label{
            display: block;
        }
        .customSelect{
            margin-left: 10px;
            padding-right: 0;
            &.citySelect{
                margin-left: 0;
            }
            &:after{
                display: none;
            }
        }
    }

    //////18/02/2020 //////

    .resourcesBg{
        &.faqBg{
        .faqPan{
            width: 100%;
            margin-bottom: 30px;
            .faqLeft{
                text-align: left;
                padding-top: 20px;
                h4{
                    padding-right: 0;
                }
                p{
                    padding-bottom: 10px;
                }
            }
            .faqRight{
                font-size: 18px;
                list-style: 20px;
                padding: 30px 20px;
            }
        }

    }
    }

    .resourcesBg{
        &.providerBg{
        .titleWrap{
            &:after{
                bottom: 0;
            }
        }
    }
    }

    /////////////////


}
// End 768px to 300px

/* Safari 9+ */

@supports (-webkit-marquee-repetition:infinite) and (object-fit:fill) {

    .cartTxt{
        padding-top: 15px;
        a{
            .icon {
                top: -5px;
                
            }
        }
    }
    
    
}

