<!-- <ng-container>
    <app-header></app-header>
    <router-outlet></router-outlet>
</ng-container> -->

<!-- <ng-container>
    <app-header></app-header>
      
            <router-outlet></router-outlet>
   
    <app-footer></app-footer>
</ng-container> -->


<!-- <ng-container>
    <app-header></app-header>
    <router-outlet></router-outlet>
</ng-container>
 -->
<app-header (navToggle)="sidenav.toggle()"></app-header>

<mat-sidenav-container fxLayout="row wrap" fxFill class="wrapper">
  <mat-sidenav #sidenav [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()" class="mat-elevation-z4">
    <mat-nav-list>
      <ng-container *ngFor="let menu of sideMenuList">
        
        <mat-list-item class="accordion" *ngIf="menu.canAccess && menu.childmenu.length>0;else withoutaccordion">
          <mat-expansion-panel class="mat-elevation-z0 sub-menu" routerLinkActive="activeRoute" (opened)="true">
            <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
              <mat-panel-title>
                <!-- <mat-icon >{{menu.matIcon}}</mat-icon>
                <img class="logo" [src]="getImgUrl(menu.matIcon)"> -->
                <span class="m-l">
                  <i class="fa faClass {{menu.matIcon}}" aria-hidden="true"></i>{{menu.name | translate}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <ng-container *ngFor="let childmenu of menu.childmenu">
                <mat-list-item *ngIf="childmenu.canAccess" routerLink="{{childmenu.routeUrl}}"
                  routerLinkActive="activeRoute" (click)="isLargeScreen() ? sidenav.open() : sidenav.close()">
                  <!-- <mat-icon mat-list-icon>{{childmenu.matIcon}}</mat-icon> -->
                  <!-- <img class="logo" [src]="getImgUrl(childmenu.matIcon)"> -->
                  <span class="m-l"><i class="fa faClass {{childmenu.matIcon}}" aria-hidden="true"></i>{{childmenu.name | translate}}</span>
                </mat-list-item>
              </ng-container>
            </mat-list>
          </mat-expansion-panel>
        </mat-list-item>
        

        <ng-template #withoutaccordion>
          <mat-list-item routerLink="{{menu.routeUrl}}" routerLinkActive="activeRoute"
            (click)="isLargeScreen() ? sidenav.open() : sidenav.close()" *ngIf="menu.canAccess">
            <!-- <mat-icon mat-list-icon>{{menu.matIcon}}</mat-icon> -->
            <!-- <img class="logo" [src]="getImgUrl(menu.matIcon)"> -->
            <!-- <mat-icon mat-list-icon>{{menu.icon}}</mat-icon> -->
            <span class="m-l"><i class="fa faClass {{menu.matIcon}}" aria-hidden="true"></i>{{ menu.name | translate }}</span>
          </mat-list-item>
        </ng-template>

      </ng-container>
    </mat-nav-list>

    <!-- <mat-nav-list >
      <ng-container>
        <mat-list-item (click)="goToLink('proposal')">
          <img class="logo" [src]="getImgUrl('report-icon.png')">
          <span class="m-l">proposal
          </span>
        </mat-list-item>
      </ng-container>
    </mat-nav-list> -->
  </mat-sidenav>

  <mat-sidenav-content fxFlex fxLayout="column">
    <div fxFlex class="position-relative">
      <router-outlet></router-outlet>
    </div>
    <app-footer fxFlex="nogrow"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>