<div class="videoWrap">
  <h3>{{ 'WEBSITE.LATESTVIDEOS' | translate }}</h3>
  <div class="videoSlider">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <!-- <img src="assets/images/vider-img.gif" alt="Random first slide"> -->
          <iframe width="100%" height="388" [src]="safeURL_en" *ngIf="language == 'en'"> </iframe>
          <iframe width="100%" height="388" [src]="safeURL_es" *ngIf="language == 'es'"> </iframe>
          <!-- <iframe width="100%" height="388" src="https://www.youtube.com/embed/EB1_EmIql38"> </iframe> -->
        </div>
        <div class="carousel-caption videoPan">
          <span class="videoTxt">{{ 'WEBSITE.ABOUTOURWORKSPACE' | translate }}</span>
          <div class="videoDate">{{cmsData.updated_at | date: 'longDate'}}</div>
        </div>
      </ng-template>
      <!-- <ng-template ngbSlide>
                <div class="picsum-img-wrapper">

                 
                    <iframe width="100%" height="388" src="//www.youtube.com/embed/9B7te184ZpQ?rel=0"></iframe>
                </div>
                <div class="carousel-caption videoPan">
                    <span class="videoTxt">About Our Workplace</span>
                    <div class="videoDate">Sep 25 2019</div>
                </div>
            </ng-template>   -->
      <!-- <ng-template ngbSlide>
                <div class="picsum-img-wrapper">

                    <img src="assets/images/vider-img.gif" alt="Random first slide">
                </div>
                <div class="carousel-caption videoPan">
                    <span class="videoTxt">About Our Workplace</span>
                    <div class="videoDate">Sep 25 2019</div>
                </div>
            </ng-template> -->
    </ngb-carousel>
  </div>
</div>
