
.videoSlider{
    .sliderImg{
        margin-bottom: 25px;
    }
    .videoTxt{
        font-size: 19px;
        line-height: 22px;
        font-weight: 500;
        color: #fff;
    }
    .videoDate{
        font-size: 12px;
        line-height: 22px;
        color: #fff;
    }
}

.video { position: relative; }

