/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: #fff;
  position: relative;
}

.floatleft {
  float: left
}

.floatright {
  float: right
}

.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px
}

.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px
}

.aligncenter {
  display: block;
  margin: 0 auto 15px
}

a:focus {
  outline: 0px solid
}

img {
  max-width: 100%;
  height: auto
}

.fix {
  overflow: hidden
}

p {
  margin: 0 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

a:hover {
  color: #ec4445;
  text-decoration: none;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0 none;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0
}

.clear {
  clear: both
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
