<div class="container-fluid resourcesBg scrollSection" id="commission">
    <div *ngFor="let data of commissionData" class="row">
        <div class="titleWrap">
            <h2 *ngIf="language == 'en'">{{data.title_en}}</h2>
            <h2 *ngIf="language == 'es'">{{data.title_es}}</h2>
        </div>
        <p *ngIf="language == 'en'" [innerHTML]="data.description_en"></p>
        <p *ngIf="language == 'es'" [innerHTML]="data.description_es"></p>
        <div class="btnContainer">
            <a href="javascript:void(0);" (click)="navigate('/our-commission')" class="btn"><span class="icon-comission"></span>{{ 'WEBSITE.ABOUTUS' | translate}}</a>
        </div>
    </div>
    
</div>
