.resourcesBg{
    // background: url(../../../../assets/images/commission-bg.jpg) 0 0 no-repeat;
    background: url(../../../../assets/images/header-banner.jpg) 50% 50% no-repeat;
}

h3{
    margin-bottom: 45px;
}