@import "src/scss/theme";
// logo style
// .loginBoxLogo {
// 	text-align: center;
// 	a {
// 		display: inline-block;
// 	}
// }

.loginPage{
	background: url(src/assets/images/login-bg.jpg) 50% 50% no-repeat;
}