<div fxFill fxLayout="column" fxLayoutAlign="center center" class="loginPage">
  <div class="loginFormOuter m-a" fxLayout="column">
    <h2>{{ 'LOGIN.TXT_CAPTION' | translate }}</h2>
    <div class="loginForm">
      <div class="loginBoxLogo">
        <div class="logoWrap">
          <a href="/">
            <img src="assets/images/logo.png" alt="">
          </a>
        </div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-form-field class="fullWidth" color="accent">
          <input matInput placeholder="{{ 'LOGIN.EMAIL' | translate }}" type="text" formControlName="email" >
          <mat-error>
            {{ 'LOGIN.EMAIL_TXT' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="fullWidth m-t" color="accent">
          <input matInput placeholder="{{ 'LOGIN.PASSWORD' | translate }}" type="password" formControlName="password" >
          <mat-error>
            {{ 'LOGIN.PASS_TXT' | translate }}
          </mat-error>
          <a routerLink="/pre-auth/forgot-password" href="javascript:void(0);" class="forgotLink">{{ 'LOGIN.FORGET_PASS' | translate }}</a>
        </mat-form-field>
        <mat-checkbox color="accent" formControlName="rememberMe">{{ 'LOGIN.REMEMBER_ME' | translate }}</mat-checkbox>
        <div class="m-t text-center">
          <button type="submit" [disabled]="!loginForm.valid || loading" class="btn">{{ 'LOGIN.LOGIN_TXT' | translate }}<i class="fa fa-refresh fa-spin" style="margin-left: 5px" *ngIf="loading"></i></button>
          <p class="registerTxt">{{ 'LOGIN.REGISTER_TXT1' | translate }} <a href="javascript:void(0)" routerLink="../registered">{{ 'LOGIN.REGISTER_TXT' | translate }}.</a></p>
        </div>
      </form>
      <mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>
    </div>
  </div>
</div>
