<mat-toolbar color="primary">
    <span class="mat-title m-a-0">CECFL Notes</span>
    <span fxFlex></span>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-dialog-content >
    <!-- Tabs -->
<section id="tabs">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a [className]="noteList == true ? 'nav-item nav-link' : 'nav-item nav-link  active'" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"  [attr.aria-selected]="noteList == true ?true:false">Add Notes</a>
						<a [className]="noteList == true ? 'nav-item nav-link active' : 'nav-item nav-link'" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"  [attr.aria-selected]="noteList == true ?false:true">List</a>
						
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          
            <div [className]="noteList == true ? 'tab-pane fade' : 'tab-pane fade  show active'" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <form class="example-form" [formGroup]="addNotesform" (ngSubmit)="addNotes(addNotesform.value)">
              <textarea formControlName="NotesBody" cols="" rows=""></textarea>
              <small *ngIf="(f1.NotesBody.errors && f1.NotesBody.touched) || (f1submitted && f1.NotesBody.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>

              <div class="uploadwrap">
                <div class="upload-btn-wrapper">
                  <button class="btn browserupload">browse & upload Documents</button>
                  <input name="department_of_finance" type="file" (change)="fileChangeEvent($event)" multiple class="form-control" />
                </div>
                <!-- <input name="" type="submit" value="Upload" class="addnewbutt" /> -->
                <div class="wrap-temp" *ngFor="let eachfile of urls"><p class="upfiletxt">{{eachfile}}</p><a href="javascript:"
                    (click)="removefile(eachfile)">X</a></div>
              </div>
              
              
              <input name="submit" type="submit" value="Submit" class="submitbutt">
            </form>
            </div>
          
					<div [className]="noteList == true ? 'tab-pane fade show active' : 'tab-pane fade'"  id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="uploadtable">
                            <tr style="border-top:none;">
                            <th>
                            <p><span>Date</span></p>
                            </th>
                            
                            <th>
                            <p><span>Note</span></p>
                            </th>

                            <th>
                              <p><span>Download</span></p>
                              </th>
                           
                            <th>
                            <p class="cross"> <span>Delete</span></p>
                            </th>
                            </tr>
                            <tr *ngFor="let data of noteslisting">
                                <td>
                                <p>{{data.created_at}}</p>
                                </td>
                                
                                <td>
                                <p>{{data.note}}</p>
                                </td>

                                <td *ngIf="data.note_file_path">
                                  <a href="{{fileBaseUrl}}{{data.note_file_path}}"><i class="fa fa-download"
                                    aria-hidden="true"></i></a>
                                </td>
                                <td *ngIf="!data.note_file_path">--
                                  
                                </td>
                              
                                <td style="padding-top: 0px;">
                                <a href="javascript:void(0)"(click)="notesdelete(data.id)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                                </tr>
                            </table>
                            
					</div>
				
				</div>
			
			</div>
		</div>
	</div>
</section>
<!-- ./Tabs -->
  </mat-dialog-content>
