<mat-toolbar color="primary">
    <span class="mat-title m-a-0">More Info</span>
    <span fxFlex></span>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-dialog-content >
    <!-- Tabs -->
<section id="tabs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a *ngIf="showData.status == 'notView'" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Add Info </a>
            <a *ngIf="showData.status == 'notView' || showData.status == 'view'"  class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">List</a>
            
            <!-- <a *ngIf="showData.status == 'view'"  class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">List</a> -->
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          
            <div *ngIf="showData.status == 'notView'" class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <form class="example-form" [formGroup]="addMoreinfoform" (ngSubmit)="addMoreinfo(addMoreinfoform.value)">
              <textarea formControlName="MoreInfoBody" cols="" rows=""></textarea>
              <small *ngIf="(f1.MoreInfoBody.errors && f1.MoreInfoBody.touched) || (f1submitted && f1.MoreInfoBody.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>

              <input name="submit" type="submit" value="Submit" class="submitbutt">
            </form>
            </div>
          
					<div *ngIf="showData.status == 'notView' || showData.status == 'view'" class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <!-- <div *ngIf="showData.status == 'view' " class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"> -->
            
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="uploadtable">
                            <tr style="border-top:none;">
                            <th>
                            <p><span>Date</span></p>
                            </th>
                            <th>
                            <p><span>Description</span></p>
                            </th>
                           
                            <th>
                            <p class="cross"> Action</p>
                            </th>
                            </tr>
                            <tr *ngFor="let data of moreinfolisting">
                                <td>
                                <p>{{data.created_at}}</p>
                                </td>
                                <td>
                                <p>{{data.info_note}}</p>
                                </td>
                              
                                <td style="padding-top: 0px;">
                                <a href="#"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                                </tr>
                            </table> 
          </div>
          <!-- </div> -->
				
				</div>
			
			</div>
		</div>
	</div>
</section>
<!-- ./Tabs -->
  </mat-dialog-content>
