<mat-toolbar color="primary">
  <span class="mat-title m-a-0">CECFL Document</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <!-- Tabs -->
  <section id="tabs">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a [className]="attachList == true ? 'nav-item nav-link' : 'nav-item nav-link  active'" id="nav-home-tab"
                data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                [attr.aria-selected]="attachList == true ?false:true">Add Doc</a>

              <a [className]="attachList == true ? 'nav-item nav-link active' : 'nav-item nav-link'"
                id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                [attr.aria-selected]="attachList == true ?true:false">List Doc</a>

            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div [className]="attachList == true ? 'tab-pane fade' : 'tab-pane fade  show active'" id="nav-home"
              role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="row">
                <form class="example-form" [formGroup]="attachForm" (ngSubmit)="addAttach(attachForm.value)">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Classification</label>
                      <input type="text" class="form-control" formControlName="desc" id=""
                        placeholder="Enter Classification">
                      <small *ngIf="formSubmit && desc.errors || (desc.errors && (desc.dirty || desc.touched))"
                        class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="uploadwrap">
                      <div class="upload-btn-wrapper">
                        <button class="btn browserupload">browse & upload Documents</button>
                        <input name="department_of_finance" type="file" (change)="fileChangeEvent($event)" multiple class="form-control" />
                      </div>
                      <input name="" type="submit" value="Upload" class="addnewbutt" />
                      <div class="wrap-temp" *ngFor="let eachfile of urls"><p class="upfiletxt">{{eachfile}}</p><a href="javascript:"
                          (click)="removefile(eachfile)">X</a></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div [className]="attachList == true ? 'tab-pane fade show active' : 'tab-pane fade'" id="nav-profile"
              role="tabpanel" aria-labelledby="nav-profile-tab">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="uploadtable">
                <tr style="border-top:none;">
                  <th>
                    <p><span>Classification</span></p>
                  </th>
                  <th>
                    <p align="center"><span>Document</span></p>
                  </th>

                  <th>
                    <p class="cross"> Download</p>
                  </th>
                </tr>
                <tr *ngFor="let data of attachListing">
                  <td>
                    <p>{{data.desc}}</p>
                  </td>
                  <td>
                    <p>{{data.file_name}}</p>
                  </td>

                  <td style="padding-top: 0px;">
                    <a href="{{fileBaseUrl}}{{data.file_path}}" ><i class="fa fa-download"
                        aria-hidden="true"></i></a>

                  </td>
                </tr>
              </table>

            </div>

          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ./Tabs -->
</mat-dialog-content>
