.mapWrapper{
    max-height: 600px;
    overflow: hidden;
}
.centerDiv{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}


// Start 768px to 300px
@media screen and (max-width:767px) and (min-width:300px) {

    .filterRight{
        order: 1;
        z-index: 999;
    }
    .filterLeft{
        order: 2;
        top: -34px;
    }

    .pageHeaderPan{
        .container{
            padding-bottom: 0;
        }
    }

}
// End 768px to 300px