<div class="container-fluid resourcesBg providerBg scrollSection" id="service">
    <div *ngFor="let data of commissionData" class="row">
        <div class="titleWrap">
            <h2 *ngIf="language== 'en'">{{data.title_en}}</h2>
            <h2 *ngIf="language== 'es'">{{data.title_es}}</h2>
        </div>
        <div *ngIf="language== 'en'" [innerHTML]="data.description_en"></div>
        <div *ngIf="language== 'es'" [innerHTML]="data.description_es"></div>
        <div class="btnContainer">
            <a href="javascript:void(0);" (click)="navigate('/search')" class="btn btn1"><span class="icon-comission"></span>{{ 'WEBSITE.VIEWLIST' | translate }}</a>
        </div>
        
    </div>
</div>