<div class="container pagewrapper">
  <div class="row">
    <div class="col-md-12  headerdiv">
      <!-- <div class="logo"><a href="/" title="CECFL"><img src="assets/images/logo.png" alt="" /></a></div> -->
      <div class="outer_heading">
        <div class="heading" *ngIf="router.url == '/post-auth/news-list'">
          <h1>{{ 'NEWS_LIST.HTITLE' | translate}} <span></span></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container formbody">
  <!-- <div class="row multibutt" *ngIf="createtatus">
    <div class="col-md-12">
      <ul>
        <li><a [routerLink]="['/post-auth/news-add']"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'GLOBAL.ADD' | translate }}</a></li>
      </ul>
    </div>
  </div> -->
  <div class="row entity-srchbox formbody">
    <div class="col-md-8">
      <div class="form-group">
        <input type="text" id="" [(ngModel)]="searchString" placeholder="{{ 'PROPOSAL_LIST.Enterthesearchfield' | translate}}">
      </div>
      
    </div>
    <div class="col-md-2"> 
      <input name="register" type="button" value="{{ 'PROPOSAL_LIST.Search' | translate}}" (click)="newsSearch()" class="serchbutt">
    </div>
    <div class="col-md-2">
        <ul>
            <li><a [routerLink]="['/post-auth/news-add']"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'GLOBAL.ADD' | translate }}</a></li>
          </ul>
    </div>
  </div>
  <div class="row entrysrch_table">
    <div class="col-md-12 p-0 restable">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" >
          <thead>
        <tr>
          <th width="25%">{{ 'NEWS_LIST.TITLE' | translate}}</th>
          <th width="50%">{{ 'NEWS_LIST.DESC' | translate}}</th>
          <th width="15%">{{ 'NEWS_LIST.PUBLISH' | translate}}</th>
          <th width="10%">{{ 'NEWS_LIST.ACTION' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of newsliting | paginate: {itemsPerPage: itemsPerPage, currentPage: p, totalItems: length}">
          <td *ngIf="language == 'en'">
            <p>{{data.NewsTitle}}</p>
          </td>
          <td *ngIf="language == 'es'">
            <p>{{data.NewsTitleSpanish}}</p>
          </td>
          <td *ngIf="language == 'en'">
            <p [innerHTML]="(data.NewsBody?.length >220)? (data.NewsBody | slice:0:220)+'....':(data.NewsBody)"> </p>
          </td>
          <td *ngIf="language == 'es'">
            <p [innerHTML]="(data.NewsBodySpanish?.length >220)? (data.NewsBodySpanish | slice:0:220)+'....':(data.NewsBodySpanish)"> </p>
          </td>
          <td>
            <p> {{data.Status == 1 ? ('NEWS_LIST.PUBLISHED' | translate) : ('NEWS_LIST.NOTPUBLISHED' | translate)}} </p>
          </td>
          <td><a *ngIf="editstatus" href="javascript:void(0)" class="edit" routerLink="/post-auth/news-edit/{{data.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a *ngIf="deletestatus" href="javascript:void(0)" class="view" (click)="newsdelete(data.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
  <div align="center" *ngIf="length == 0">{{'NEWS_LIST.NoRecordsFound' | translate}}</div>
  <div *ngIf="length > 0" class="row paginationdiv">
    <div class="col-md-12">
      <pagination-controls (pageChange)="paginationFeed($event)"></pagination-controls>
    </div>
  </div>
</div>

<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
