<div class="container pagewrapper">
  <div class="row">
    <div class="col-md-12  headerdiv">
      <div class="outer_heading">
        <div class="heading">
          <h1>{{ 'EditProfile.TITLE' | translate}}
            <span>{{ entityNameTitle }}</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="formbody bodywrapper">
  <div class="container">
    <form class="example-form" [formGroup]="addRegisterform" (ngSubmit)="addRegister(addRegisterform.value)">
      <!--section1-->
      <div class="section">
        <div class="container registation">
          <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
              <ul class="addmember">
                <li>
                  <a [routerLink]="['/post-auth/add-entity-member']"><i class="fa fa-plus" aria-hidden="true"></i> Add member</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{ 'REGISTRATION.CATEGORY' | translate }}</label>
                <div class="select-style newselect-style">
                  <select formControlName="category">
                    <option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
                    <option value="Education">{{ 'REGISTRATION.CATEGORY_OPT.EDUCATION' | translate }}</option>
                    <option value="Sports">{{ 'REGISTRATION.CATEGORY_OPT.SPORTS' | translate }}</option>
                    <option value="Health">{{ 'REGISTRATION.CATEGORY_OPT.HEALTH' | translate }}</option>
                    <option value="Economic">{{ 'REGISTRATION.CATEGORY_OPT.ECONOMIC' | translate }}</option>
                    <option value="Social">{{ 'REGISTRATION.CATEGORY_OPT.SOCIAL' | translate }}</option>
                    <option value="Art">{{ 'REGISTRATION.CATEGORY_OPT.ART' | translate }}</option>
                  </select>
                </div>
                <p *ngIf="f1submitted && f1.category.errors || ( f1.category.errors &&(f1.category.dirty || f1.category.touched))">
                  <small class="text-danger" *ngIf="f1.category.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                </p>
              </div>
              <div class="form-group">
                <label>{{ 'EditProfile.NameofAdministratororDirector' | translate}} </label>
                <input type="text" id="" formControlName="name_of_director" placeholder="Enter name of Administrator of Director">
                <p *ngIf="f1submitted && f1.name_of_director.errors || ( f1.name_of_director.errors &&(f1.name_of_director.dirty || f1.name_of_director.touched))">
                  <small class="text-danger" *ngIf="f1.name_of_director.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                  <small class="text-danger" *ngIf="f1.name_of_director.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
                </p>
              </div>
              <div class="form-group">
                <label>{{ 'EditProfile.NameofNewEntityorOrganization' | translate}}</label>
                <input type="text" id="" formControlName="entity_name" placeholder="Enter name of new Entity or Organization">
                <p *ngIf="f1submitted && f1.entity_name.errors || ( f1.entity_name.errors &&(f1.entity_name.dirty || f1.entity_name.touched))">
                  <small class="text-danger" *ngIf="f1.entity_name.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                  <small class="text-danger" *ngIf="f1.entity_name.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ 'EditProfile.DateofIncorporation' | translate}} </label>
                <mat-form-field>
                  <input matInput readonly [matDatepicker]="myDatepicker" [min]="minDate" [max]="maxDate" formControlName="dateofincorporation" readonly="">
                  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker></mat-datepicker>
                </mat-form-field>
                <small *ngIf="(( f1submitted || f1.dateofincorporation.touched) && f1.dateofincorporation.errors && f1.dateofincorporation.errors.required)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                <div class="spacer"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ 'EditProfile.DateofRegistration' | translate}} </label>
                <mat-form-field>
                  <input matInput [matDatepicker]="myDatepicker2" [min]="minDate" [max]="maxDate" formControlName="dateofregis" readonly="">
                  <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker2></mat-datepicker>
                </mat-form-field>
                <small *ngIf="(( f1submitted || f1.dateofregis.touched) && f1.dateofregis.errors && f1.dateofregis.errors.required)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{ 'EditProfile.RegistrationNumber' | translate}} </label>
                <input type="text" id="" formControlName="registrationnumber" placeholder="Number of registration at Puerto Rico Department of State">
                <p *ngIf="f1submitted && f1.registrationnumber.errors || (f1.registrationnumber.errors &&(f1.registrationnumber.dirty || f1.registrationnumber.touched))">
                  <small class="text-danger" *ngIf="f1.registrationnumber.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                  <small class="text-danger" *ngIf="f1.registrationnumber.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group radio-botmargin">
                <label>{{ 'EditProfile.TaxExemption' | translate}} </label>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" (change)="handleChangetax($event.target.value)" value="1" name="taxexmpt" id="yesCheck" formControlName="taxexmpt">
                  <label class="custom-control-label" for="yesCheck">{{ 'EditProfile.Yes' | translate}}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" (change)="handleChangetax($event.target.value)" value="0" name="taxexmpt" id="noCheck" formControlName="taxexmpt">
                  <label class="custom-control-label" for="noCheck">{{ 'EditProfile.No' | translate}}</label>
                </div>
                <p *ngIf="f1submitted && f1.taxexmpt.errors || ( f1.taxexmpt.errors &&(f1.taxexmpt.dirty || f1.taxexmpt.touched))">
                  <small class="text-danger" *ngIf="f1.taxexmpt.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="show" class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ 'EditProfile.TaxExemptionConfirmationNo' | translate}}</label>
                <input type="text" formControlName="taxexmptconfno" id="" placeholder="Enter Tax Exemption No">
                <!-- <p *ngIf="f1submitted && f1.taxexmptconfno.errors || ( f1.taxexmptconfno.errors &&(f1.taxexmptconfno.dirty || f1.taxexmptconfno.touched))">
                  <small class="text-danger" *ngIf="f1.taxexmptconfno.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                  <small class="text-danger" *ngIf="f1.taxexmptconfno.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
                </p> -->
                <small *ngIf="(( f1submitted || f1.taxexmptconfno.touched) && f1.taxexmptconfno.errors && f1.taxexmptconfno.errors.required)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                <small *ngIf="(( f1submitted || f1.taxexmptconfno.touched) && f1.taxexmptconfno.errors && f1.taxexmptconfno.errors.pattern)" class="text-danger">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ 'EditProfile.DateofissuanceTaxExemption' | translate}}</label>
                <mat-form-field class="datepicker">
                  <input matInput [matDatepicker]="myDatepicker1" formControlName="dateofissue" readonly="">
                  <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker1></mat-datepicker>
                </mat-form-field>
                <small *ngIf="(( f1submitted || f1.dateofissue.touched) && f1.dateofissue.errors && f1.dateofissue.errors.required)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ 'EditProfile.mailAddress' | translate}}</label>
                <input type="email" formControlName="email" placeholder="Enter e-mail address">
                <p *ngIf="f1submitted && f1.email.errors || ( f1.email.errors &&(f1.email.dirty || f1.email.touched))">
                  <small class="text-danger" *ngIf="f1.email.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ 'EditProfile.TelephoneNumber' | translate}} </label>
                <input type="number" formControlName="phone" id="" placeholder="Enter telephone number">
                <p *ngIf="f1submitted && f1.phone.errors || ( f1.phone.errors &&(f1.phone.dirty || f1.phone.touched))">
                  <small class="text-danger" *ngIf="f1.phone.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                  <small class="text-danger" *ngIf="f1.phone.errors.pattern">{{ 'PROPOSAL.PHONEPATTERN' | translate }}</small>
                </p>
              </div>
            </div>
            <hr>
          </div>
          <hr>
        </div>
      </div>
      <!--section1-->
      <!--section2-->
      <div class="section">
        <div class="container registation">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{ 'EditProfile.PhysicalAddress' | translate}} </label>
                <textarea name="" cols="" rows="" formControlName="physicaladdr1" placeholder="Address"></textarea>
                <p *ngIf="f1submitted && f1.physicaladdr1.errors || ( f1.physicaladdr1.errors &&(f1.physicaladdr1.dirty || f1.physicaladdr1.touched))">
                  <small class="text-danger" *ngIf="f1.physicaladdr1.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                  <small class="text-danger" *ngIf="f1.physicaladdr1.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 col-xl-5">
              <div class="form-group citygroup">
                <label>{{ 'EditProfile.City' | translate}} </label>
                <div class="select-style newselect-style">
                  <select formControlName="city">
                    <option value="">{{ 'EditProfile.SelectCity' | translate}}</option>
                    <option *ngFor="let item of Citylisting" [value]="item.id">{{item.city}}</option>
                  </select>
                </div>
                <p *ngIf="f1submitted && f1.city.errors || ( f1.city.errors &&(f1.city.dirty || f1.city.touched))">
                  <small class="text-danger" *ngIf="f1.city.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                </p>
              </div>
            </div>
            <div class="col-md-2 col-xl-2">
              <div class="form-group prradio">
                <label>{{ 'EditProfile.State' | translate}}</label>
                <div class="custom-control custom-radio custom-control-inline statediv">
                  <input type="radio" class="custom-control-input" id="pr" value="PR" formControlName="state1">
                  <label class="custom-control-label" for="pr">{{ 'EditProfile.PR' | translate}}</label>
                </div>
                <p *ngIf="f1submitted && f1.state1.errors || ( f1.state1.errors &&(f1.state1.dirty || f1.state1.touched))">
                  <small class="text-danger" *ngIf="f1.state1.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                </p>
              </div>
            </div>
            <div class="col-md-5 col-xl-5">
              <div class="form-group">
                <label>{{ 'EditProfile.ZipCode' | translate}} </label>
                <input type="text" id="" placeholder="Enter your zip code" formControlName="zip">
                <p *ngIf="f1submitted && f1.zip.errors || ( f1.zip.errors &&(f1.zip.dirty || f1.zip.touched))">
                  <small class="text-danger" *ngIf="f1.zip.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--section2-->
      <!--section3-->
      <div class="section">
        <div class="container registation">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="postadd">{{ 'EditProfile.PostalAddress' | translate}} </label>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultChecked2" #test (change)="samefieldcopy($event.target.checked)" formControlName="checkPostalAddress">
                  <label class="custom-control-label" for="defaultChecked2">{{ 'EditProfile.ClickhereifsameasPhysicalAddress' | translate}}</label>
                </div>
                <textarea name="" cols="" rows="" placeholder="Address" formControlName="postal_addr2"></textarea>
                <p *ngIf="f1submitted && f1.postal_addr2.errors || (f1.postal_addr2.errors &&(f1.postal_addr2.dirty || f1.postal_addr2.touched))">
                  <small class="text-danger" *ngIf="f1.postal_addr2.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                  <small class="text-danger" *ngIf="f1.postal_addr2.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 col-xl-5">
              <div class="form-group citygroup">
                <label>{{ 'EditProfile.City' | translate}}</label>
                <div class="select-style newselect-style">
                  <select formControlName="postal_city">
                    <option value="MM">{{ 'EditProfile.SelectCity' | translate}}</option>
                    <option *ngFor="let item of Citylisting" [value]="item.id">{{item.city}}</option>
                  </select>
                </div>
                <p *ngIf="f1submitted && f1.postal_city.errors || (f1.postal_city.errors &&(f1.postal_city.dirty || f1.postal_city.touched))">
                  <small class="text-danger" *ngIf="f1.postal_city.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                </p>
              </div>
            </div>
            <div class="col-md-2 col-xl-2">
              <div class="form-group prradio">
                <label>{{ 'EditProfile.State' | translate}}</label>
                <div class="custom-control custom-radio custom-control-inline statediv">
                  <input type="radio" class="custom-control-input" id="pr1" value="PR" formControlName="postal_state">
                  <label class="custom-control-label" for="pr1">{{ 'EditProfile.PR' | translate}}</label>
                </div>
                <p *ngIf="f1submitted && f1.postal_state.errors || (f1.postal_state.errors &&(f1.postal_state.dirty || f1.postal_state.touched))">
                  <small class="text-danger" *ngIf="f1.postal_state.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                </p>
              </div>
            </div>
            <div class="col-md-5 col-xl-5">
              <div class="form-group">
                <label>{{ 'EditProfile.ZipCode' | translate}} </label>
                <input type="text" id="" placeholder="Enter your zip code" formControlName="postal_zip">
                <p *ngIf="f1submitted && f1.postal_zip.errors || (f1.postal_zip.errors &&(f1.postal_zip.dirty || f1.postal_zip.touched))">
                  <small class="text-danger" *ngIf="f1.postal_zip.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="form-group radio-botmargin">
                            <label>{{ 'EditProfile.Status' | translate}} </label>
                            <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" value="1" id="activeCheck"
                                formControlName="activeStatus" >

                            <label class="custom-control-label" for="activeCheck">{{ 'EditProfile.Active' | translate}}</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" value="0" id="inactiveCheck"
                                formControlName="activeStatus" >

                            <label class="custom-control-label" for="inactiveCheck">{{ 'EditProfile.Inactive' | translate}}</label>
                            </div>

                            <p *ngIf="f1submitted && activeStatus.errors || ( activeStatus.errors &&(activeStatus.dirty || activeStatus.touched))">
                            <small class="text-danger"
                                *ngIf="activeStatus.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                            </p>

                        </div>
                    </div>
                </div> -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{ 'EditProfile.Services' | translate}} </label>
                <textarea name="" cols="" rows="" formControlName="service_offered" placeholder="{{ 'EditProfile.Services' | translate}}"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{ 'EditProfile.ServiceDescription' | translate}} </label>
                <textarea name="" cols="" rows="" formControlName="service_description" placeholder="{{ 'EditProfile.ServiceDescription' | translate}}"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ 'EditProfile.Website' | translate}}</label>
                <input type="text" formControlName="website" placeholder="{{ 'EditProfile.Website' | translate}}">
              </div>
              <p *ngIf="f1submitted && f1.website.errors || (f1.website.errors &&(f1.postal_addr2.dirty || f1.website.touched))">
                <small class="text-danger" *ngIf="f1.website.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                <small class="text-danger" *ngIf="f1.website.errors.pattern">{{ 'EditProfile.ValidUrl' | translate }}</small>
              </p>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div>
                  <img src="{{imageUrl}}" width="100" height="100">
                </div>
                <button type="button" class="btn browserupload" mat-button fxFlex (click)="fileInput.click()">
                  <label class="d-block mat-body-2">{{ 'EditProfile.Logo' | translate}}</label>
                </button>
                <input hidden type="file" accept="image/*" id="validatedCustomFile" #fileInput multiple (change)="onSelectFile($event)"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--section3-->
      <input name="register" type="submit" value="{{ 'EditProfile.Register' | translate}}" class="registerbutt" (click)="onActivate($event)">
    </form>
  </div>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
