h1 {
    font-size: 30px;
    font-weight: 600;
}

/*header*/
.logo {
    margin-bottom: 40px;
    width: 20%;
    position: absolute;
    top: 10px;
    left: 39px;
}

.headerdiv{
	// background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
	height: 100%;
	padding-bottom: 0;
}
.formbody{
    padding-top: 0px;
}
.registerbutt{
    padding: 8px 10px;
}
@media (min-width: 360px) and (max-width: 768px) {
	.logo {
		width:30%;
		left:14px;
	}
}
/*header*/ 
.postadd{
    display: inline-block;
}
.custom-checkbox{
    display: inline-block;
    margin-left: 10px;  
}
.custom-control-label{
    font-weight: normal;
    line-height: 25px;
}
.registation input[type="text"], .registation input[type="email"], .registation input[type="number"]{
    box-shadow: none;
}
.newselect-style{
    box-shadow: none;
}
.select-style select{
    padding-left:23px;
    color: #94908b;
}
.statediv{
    margin-top:18px;
}
.prradio{
    text-align: center;
}
ul.addmember{
background-color: #2c2c2c;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 44px;
    display: block;
    font-weight: 500;
    padding: 0 13px;
    border-radius: 4px;
    text-align: center;
}
ul.addmember li a{
    color: #fff;
}
.browserupload{
background: url(src/assets/images/upload.png) no-repeat 10px 0px;
height: 25px;
display: block;
font-size: 14px;
// width: 235px;
line-height: 25px;
color: #000;
padding-left:49px;
text-transform: uppercase;
font-weight: 600;
font-family: 'Poppins', sans-serif;
cursor: pointer;
margin-left: 15px;
}

@media (min-width: 360px) and (max-width: 768px) {
.custom-checkbox{
    margin-bottom: 10px;
}
.citygroup{
  height: 100%;
    overflow:hidden;
}
.statediv{
    margin-top:0px;
}
.prradio{
    text-align: left;
}


}