<app-menu></app-menu>
<!-- <app-top-header></app-top-header> -->
<app-home-header></app-home-header>
<app-commission></app-commission>

<div class="newsPanel scrollSection" id="latest">
    <div class="row inside_newswrap">
        <div class="col-lg-7 col-xl-7 col-md-7 col-12 ">
            <app-news></app-news>
        </div>
        <div class="col-lg-5 col-xl-5 col-md-5 col-12">
            <app-video></app-video>
        </div>
    </div>
</div>

<!-- <app-resources></app-resources> -->
<app-providers></app-providers>
<app-faq></app-faq>
<app-contact></app-contact>
<app-footer-website></app-footer-website>
