<div class="floatingMenu">
  <ul>
    <li>
      <a href="#header" class="icon-home"></a>
      <div class="menuTips">Home</div>
    </li>
    <li>
      <a href="#commission" class="icon-comission"></a>
      <div class="menuTips">Commission</div>
    </li>
    <li>
      <a href="#latest" class="icon-events"></a>
      <div class="menuTips">News</div>
    </li>
    <!-- <li>
                <a href="#resources" class="icon-resources"></a>
                <div class="menuTips">Resources</div>
            </li> -->
    <li>
      <a href="#service" class="icon-service--providers"></a>
      <div class="menuTips">Service</div>
    </li>
    <li>
      <a href="#faq" class="icon-faq"></a>
      <div class="menuTips">FAQ</div>
    </li>
    <li>
      <a href="#contact" class="icon-contact" title="Contact"></a>
      <div class="menuTips">Contact</div>
    </li>
  </ul>
</div>
