h1 {
    font-size: 30px;
    font-weight: 600;
}
/*header*/
.logo {
    margin-bottom: 40px;
    width: 20%;
    position: absolute;
    top: 10px;
    left: 39px;
}


.headerdiv{
	// background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
	height: 100%;
	padding-bottom: 0;
}
.paginationdiv{
    padding-bottom: 50px;
}

@media (min-width: 360px) and (max-width: 768px) {
	.logo {
		width:30%;
		left:14px;
    }
    .headerdiv{
        padding-bottom: 0px!important;
    }
}
/*header*/  
.formbody{
    padding-top: 40px;
}
ul{
    display: block;
    text-align: center;
}
ul li{
    display:inline-block;
    padding-right: 3px;
    
}
ul li a{
    background-color: #2c2c2c;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 44px;
    display: block;
    font-weight: 500;
    padding: 0 23px;
    border-radius: 4px;
}
.multibutt ul li a i{
    padding-right: 10px;
}
ul li a:hover{
    background: rgb(40,131,201);
    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%); 
}

.multibutt{
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 24px;
}
.entity-srchbox{
    padding:0px 0 25px;
    border-bottom: solid 1px #e5e5e5;
}

.entity-srchbox h2{
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding-bottom: 25px;
    width: 100%;
}

.newselect-style select{
    padding-left: 22px;
}
.serchbutt{
  line-height: 47px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 0 20px;
    margin-top:0px;
    background: rgb(40,131,201);
     background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%);
    font-size: 14px;
    // background:#000 url("src/assets/images/serch-img.png") no-repeat 95% 50%;
}
.entrysrch_table table tr{
    border-bottom: solid 1px #e0e0e0;
   
}
.entrysrch_table table tr th{
    padding: 20px 0;
    color: #013b85;
    font-size: 16px;
}
.entrysrch_table table tr td{
    padding: 20px 0;
    vertical-align: top;
}
.entrysrch_table table tr td p{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
}
.entrysrch_table table tr td p i{
    padding-right: 5px;
}
a.view, a.edit{
    width:28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    margin: 0 1px;
}
a.view{
    background-color: #2c2c2c;
}
a.view:hover{
    background-color: #413f3f;  
}
a.edit{
    background-color: #1f4aae;
}
a.edit:hover{
    background-color: #2259da;  
}

.paginationdiv{
    // width: 300px;
     margin: 45px auto 0;
     text-align: center;
 }
 .restable td p{
     padding:0 15px;
 }

 ul{
    display: block;
    text-align: right;
}
ul li{
    display:inline-block;
    padding-right: 3px;
    
}
ul li a{
    background-color: #2c2c2c;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 44px;
    display: block;
    font-weight: 500;
    padding: 0 23px;
    border-radius: 4px;
}
.multibutt ul li a i{
    padding-right: 10px;
}
ul li a:hover{
    background: rgb(40,131,201);
    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%); 
}

.multibutt{
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 24px;
} 


 @media (min-width: 767px) and (max-width: 991px) {
    ul li a{
        padding: 0 13px;
    }

    .restable{
        width:1200px;
        margin: 0 10px;
    }
    
    .entrysrch_table {
        overflow-x: scroll;
     }
     .entrysrch_table p{
        padding: 0 15px 0 0;
    }
    a.view{
        margin-bottom: 4px;
    }
}

@media (min-width: 360px) and (max-width: 766px) {
   
    ul li a{
        padding:0 16px;
        margin-bottom: 3px;
    }
    .restable{
        width:1200px;
        margin: 0 10px;
		}
        .entrysrch_table {
        overflow-x: scroll;
        }
        .entrysrch_table p{
            padding: 0 15px 0 0;
        }

        .paginationdiv{
            margin-bottom: 40px;
        }
        a.view{
            margin-bottom: 4px;
        }
    .entity-srchbox h2{
        padding-left: 13px
    }
    .entityselect{
        margin-bottom: 15px;
    }
}

.searchWrap{
    width: 250px;
    position: relative;
    input{
        width: 100%;
        font-size: 15px;
        padding-right: 25px;
        padding-left: 5px;
    }
    button{
        position: absolute;
        top: 0;
        right: 3px;
        background: none;
        border: 0;
        outline: none;
    }
    &.form-group{
        input{
            padding-right: 30px;
            padding-left: 20px;
        }  
        button{
            top: 7px;
            right: 5px;
        }
    }
}