<div class="container pagewrapper">
    <div class="row">
        <div class="col-md-12  headerdiv">
            <div class="outer_heading">
                <div class="heading" *ngIf="router.url == '/post-auth/cms-list'">
                <h1>{{'CMS.CmsList'|translate}} <span></span></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container formbody">
   
    <div class="row entity-srchbox formbody">
        <div class="col-md-9">
          <div class="form-group">
            <input type="text" id="" [(ngModel)]="searchString" placeholder="{{ 'PROPOSAL_LIST.Enterthesearchfield' | translate}}">
          </div>
          
        </div>
        <div class="col-md-1"> 
          <input name="register" type="button" value="{{ 'PROPOSAL_LIST.Search' | translate}}" (click)="projectSearch()" class="serchbutt">
        </div>
        <div class="col-md-2 multibutt">
                <ul>
                <li><a [routerLink]="['/post-auth/cms-add']"><i class="fa fa-plus" aria-hidden="true"></i> {{'Project.Add'|translate}}</a></li>
               </ul>
        </div>
    </div>
    <div class="row entrysrch_table">
        <div class="col-md-12 p-0 restable">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                <tr >
                    <th>{{'CMS.title(English)'|translate}}</th>
                    <th>{{'CMS.title(Spanish)'|translate}}</th>
                    <th>{{'CMS.Description(English)'|translate}}</th>
                    <th>{{'CMS.Description(Spanish)'|translate}}</th>
                    <th>{{'Project.Status'|translate}}</th>
                    <th>{{'Project.Action'|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of cmsData | paginate: {itemsPerPage: itemsPerPage, currentPage: p, totalItems: length}">
                    <td>
                        <p>{{data.title_en}}</p>
                    </td>
                    <td>
                        <p>{{data.title_es}}</p>
                    </td>
                    <td>
                        <p [innerHTML]="data.description_en|slice:0:100">  </p>
                    </td>
                    <td>
                        <p [innerHTML]="data.description_en|slice:0:100"> </p>
                    </td>
                    
                    <td>
                        <p *ngIf="language =='en'">{{data.status == 1 ? "Active" : "Inactive"}}</p>
                        <p *ngIf="language =='es'">{{data.status == 1 ? "Activo" : "Inactivo"}}</p>
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="edit" routerLink="/post-auth/cms-edit/{{data.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" (click)="onClickDeleteCms(data.id)" class="view"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
  <div align="center" *ngIf="length == 0">{{'NEWS_LIST.NoRecordsFound' | translate}}</div>
  <div *ngIf="length > 0" class="row paginationdiv">
    <div class="col-md-12">
      <pagination-controls (pageChange)="paginationFeed($event)"></pagination-controls>
    </div>
  </div>

</div>

<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>

