<div class="container pagewrapper">
    <div class="row">
        <div class="col-md-12  headerdiv">
            <!-- <div class="logo"><a href="/" title="CECFL"><img src="assets/images/logo.png" alt="" /></a></div> -->
            <div class="outer_heading">
                <div class="heading" *ngIf="router.url == '/post-auth/add-entity-member'">
                    <h1>{{ 'ADDMEMBER.TITLE' | translate }}
                        <!-- <span>DANZACTIVA, INC.</span> -->
                    </h1>
                </div>
                <div class="heading" *ngIf="edittitle">
                    <h1>{{ 'ADDMEMBER.EDIT_TITLE' | translate }}
                        <!-- <span>DANZACTIVA, INC.</span> -->
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pagewrapper">
    <div class="formbody bodywrapper">
        <form class="example-form" [formGroup]="addMemberform" (ngSubmit)="addMember(addMemberform.value)">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{ 'ADDMEMBER.MEMBERNAME' | translate }}</label>
                            <input type="text" class="form-control" formControlName="member_name">
                            <p *ngIf="formSubmit && member_name.errors || ( member_name.errors &&(member_name.dirty || member_name.touched))">
                                <small class="text-danger" *ngIf="member_name.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                <small class="text-danger" *ngIf="member_name.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="margin-bottom:10px;">{{ 'ADDMEMBER.DESIGNATION' | translate }}</label>
                            <div class="select-style newselect-style">
                                <select  class="city" formControlName="designation">
                                    <option>Director</option>
                                    <option>VP</option>
                                    <option>Administrador</option>
                                    <option>Presidente</option>
                                    <option>Secretario(a)</option>
                                    <option>Tesorero(a)</option>
                                    <option>Vice-Presidente</option>
                                    <option>Agente Fiscal</option>
                                    <option>Vocal</option>
                                    <option>Junta de Síndicos</option>
                                </select>
                            </div>
                            <small *ngIf="formSubmit && designation.errors || (designation.errors && (designation.dirty || designation.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>       
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{ 'ADDMEMBER.TELEPHONE' | translate }}</label>
                            <input type="number" class="form-control" formControlName="telephone">
                            <p *ngIf="formSubmit && telephone.errors || ( telephone.errors &&(telephone.dirty || telephone.touched))">
                                <small class="text-danger" *ngIf="telephone.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                <small class="text-danger" *ngIf="telephone.errors.pattern">{{ 'PROPOSAL.PHONEPATTERN' | translate }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{ 'ADDMEMBER.EMAIL' | translate }}</label>
                            <input type="email" class="form-control" formControlName="email">
                            <p *ngIf="formSubmit && email.errors || ( email.errors &&(email.dirty || email.touched))">
                                <small class="text-danger" *ngIf="email.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                <small class="text-danger" *ngIf="email.errors.pattern">{{ 'PROPOSAL.VALIDEMAIL' | translate }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{ 'ADDMEMBER.ADDRESS' | translate }}</label>
                            <textarea class="form-control"  placeholder="" formControlName="address"></textarea>
                            <p *ngIf="formSubmit && address.errors || ( address.errors &&(address.dirty || address.touched))">
                                <small class="text-danger" *ngIf="address.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                <small class="text-danger" *ngIf="address.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
                            </p>       
                        </div>
                    </div>
                </div>
                <div class="row">

                        <div class="col-md-5 col-xl-5">
                                <div class="form-group citygroup">
                                    <label>{{ 'ADDMEMBER.CITY' | translate }} </label>
                                    <div class="select-style newselect-style">
                                        <select formControlName="city">
                                            <option value="">{{ 'REGISTRATION.SELECTCITY' | translate}}</option>
                                            <option *ngFor="let item of Citylisting" [value]="item.id">{{item.city}}</option>
                                        </select>
                                        
                                    </div>
                                    <small *ngIf="formSubmit && city.errors || (city.errors && (city.dirty || city.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>  
        
                                </div>
                            </div>
                        
                        <div class="col-md-2 col-xl-2">
                            <div class="form-group prradio">
                                <label>{{ 'ADDMEMBER.STATE' | translate }}</label>
                                <div class="custom-control custom-radio custom-control-inline statediv">
                                    <input type="radio"  class="custom-control-input" id="pr" value="PR" formControlName="state">
                                    <label class="custom-control-label" for="pr">PR</label>
                                    
                                </div><br>
                                <small *ngIf="formSubmit && state.errors || (state.errors && (state.dirty || state.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>      
                            </div>
                           
                        </div>
                        <div class="col-md-5 col-xl-5">
                            <div class="form-group">
                                <label>{{ 'ADDMEMBER.ZIPCODE' | translate }}</label>
                                <input type="number" id=""  formControlName="zip">
                                <small *ngIf="formSubmit && zip.errors || (zip.errors && (zip.dirty || zip.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small> 
                            </div>
                            
                        </div>
                    </div>
            </div>
            <input *ngIf="memberId == 0" name="save" type="submit" value="{{ 'GLOBAL.SUBMIT' | translate }}" class="registerbutt">
            <input *ngIf="memberId > 0" name="save" type="submit" value="{{ 'GLOBAL.UPDATE' | translate }}" class="registerbutt newspub">
        </form>
    </div>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>