<div class="container pagewrapper">
  <div class="row">
    <div class="col-md-12  headerdiv">
      <!-- <div class="logo"><a href="/" title="CECFL"><img src="assets/images/logo.png" alt="" /></a></div> -->
      <div class="outer_heading">
        <div class="heading" *ngIf="router.url == '/post-auth/proposal-list'">
          <h1> {{ 'PROPOSAL_LIST.TITLE' | translate}}<span></span></h1>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row" *ngIf="loggedUserType===0">
    <div class="col-md-12">
        <ul class="prev_list">
            <li><a href="javascript:void(0)" (click)="exportAsXLSX()"> <i class="fa fa-file-excel-o" aria-hidden="true"></i>{{ 'GLOBAL.EXPORT' | translate}}</a></li>
         
        </ul>
        
    </div>
  </div> -->
  <div class="row entity-srchbox formbody">
    <div class="col-12 col-md-7 col-xl-6">
      <div class="form-group">
        <input type="text" id="" [(ngModel)]="searchString" placeholder="{{ 'PROPOSAL_LIST.Enterthesearchfield' | translate}}">
      </div>
    </div>
    <div class="col-4 col-md-2 col-xl-1">
      <input name="register" type="button" value="{{ 'PROPOSAL_LIST.Search' | translate}}" (click)="proposalSearch()" class="serchbutt">
    </div>
    <div class="col-7 col-md-3 col-xl-3" style="margin-right: 0;" *ngIf="loggedUserType===0">
      <ul class="prev_list">
        <li><a href="javascript:void(0)" (click)="exportAsXLSX()"> <i class="fa fa-file-excel-o" aria-hidden="true"></i> {{ 'GLOBAL.EXPORT' | translate}}</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row entrysrch_table">
    <div class="col-md-12 p-0 restable" style="overflow-x:auto;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th width="8%">{{ 'PROPOSAL_LIST.APP_ID' | translate}}</th>
            <th width="10%">{{ 'PROPOSAL_LIST.ENTITY_NAME' | translate}}</th>
            <th width="10%">{{ 'PROPOSAL_LIST.City' | translate}}</th>
            <th width="10%">{{ 'PROPOSAL_LIST.ProjectName' | translate}}</th>
            <th width="10%" *ngIf="loggedUserRole==='system-admin' ">{{ 'PROPOSAL_LIST.assignUser' | translate}}</th>
            <th width="10%">{{ 'PROPOSAL_LIST.FINAL_GRANT' | translate}}</th>
            <th width="10%">{{ 'PROPOSAL_LIST.APP_STATUS' | translate}}</th>
            <th width="12%">{{ 'PROPOSAL_LIST.APP_SUBMITTED_ON' | translate}}</th>
            <th width="10%">{{ 'PROPOSAL_LIST.LAST_UPDATED_ON' | translate}}</th>
            <th width="5%">{{ 'PROPOSAL_LIST.ACTION' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of proposallisting.data  | paginate: {itemsPerPage: itemsPerPage, currentPage: p, totalItems: length}">
            <td>
              <p>{{data.proposal_unique_id}}</p>
            </td>
            <td>
              <p>{{data.entity_name}}</p>
            </td>
            <td>
              <p>{{data.city}}</p>
            </td>
            <td>
              <p *ngIf="language =='en'">{{data.projectNameEn}}</p>
              <p *ngIf="language =='es'">{{data.projectNameEs}}</p>
            </td>
            <td *ngIf="loggedUserRole==='system-admin' ">
              <p *ngIf="data.assignUser">{{data.assignUser.admin_first_name}} {{data.assignUser.admin_last_name}}</p>
              <p *ngIf="!data.assignUser">--</p>
            </td>
            <td>
              <p *ngIf="data.approved_grant">${{ data.approved_grant }}</p>
              <p *ngIf="!data.approved_grant">--</p>
            </td>
            <td>
              <p *ngIf="language =='en'">{{data.app_status_txt}}</p>
              <p *ngIf="language =='es'">{{data.app_status_txt_es}}</p>
            </td>
            <td>
              <p>{{data.created_at | date: 'dd/MM/yyyy'}}</p>
            </td>
            <td>
              <p>{{data.updated_at | date: 'dd/MM/yyyy'}}</p>
            </td>
            <td>
              <a href="javascript:void(0)" class="edit" (click)="goToLink(data.id)" *ngIf="loggedUserType===1 && (data.application_status == 0 || data.application_status == 3)"><i class="fa fa-pencil" aria-hidden="true"></i></a>

              <a href="javascript:void(0)" class="edit" (click)="goToLink(data.id)" *ngIf="loggedUserType===1 && data.notifyUser == 1 && (data.application_status == 1 || data.application_status == 2) && data.requested_grant > data.approved_grant && data.approved_grant != 0 && data.approved_grant != null"><i class="fa fa-pencil" aria-hidden="true"></i></a>

              <a href="javascript:void(0)" class="edit" (click)="goToLink(data.id)" *ngIf="loggedUserType===0"><i class="fa fa-pencil" aria-hidden="true"></i></a>

              <a href="javascript:void(0)" class="view" (click)="goToView(data.id)"><i class="fa fa-eye" aria-hidden="true"></i></a>

              <a href="javascript:void(0)" class="qlt-report" (click)="goToReport(data.id)" *ngIf="data.application_status == 5"><i class="fa fa-address-card" aria-hidden="true"></i></a>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="proposallisting.data?.length == 0" class="row entrysrch_table">
    <div class="col-md-12 p-0 restable">
      <span>No proposal found</span>
    </div>
  </div>
  <div *ngIf="length > 0" class="row paginationdiv">
    <div class="col-md-12">
      <pagination-controls (pageChange)="paginationFeed($event)"></pagination-controls>
    </div>
  </div>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
