<app-menu></app-menu>
<app-innear-header (citySrchListner)="citySrchFunc($event)"></app-innear-header>

<!-- <div class="pageHeaderPan">
    <div class="container row px-0">
        <div class="col-12 col-lg-11 col-md-11 filterLeft">
            <label>City</label>
            <div class="customSelect citySelect">
                <select>
                    <option>Location</option>
                </select>
            </div>
            <div class="customSelect">
                <select>
                    <option>Location</option>
                </select>
            </div>
            <a href="javascript:void(0);" class="resetFilter">Reset Filter</a>
        </div>
        <div class="col-12 col-lg-1 col-md-1 text-right filterRight">
            <a href="#" class="icon-list"></a>
        </div>
    </div>
</div> -->
<div class="pagesubHeaderPan">
    <div class="container filterTxt px-0">
        <div class="col-12">
            <p>{{searchList.length}} {{ 'WEBSITE.MATCHFOUND' | translate}}: <strong> {{ ('REGISTRATION.CATEGORY_OPT.' + category | uppercase ) | translate }} </strong> 
                <!-- <a href="#" class="yellowLink">Show education near me</a> -->
            </p>
            <!-- <p>Filters Applied:
                <span class="filter">Aguadilla <a href="#">close</a></span>
                <span class="filter">Education <a href="#">close</a></span>
                <span class="filter">4-6 Preschool <a href="#">close</a></span>
                <span class="filter">Female <a href="#">close</a></span></p> -->
        </div>
    </div>
</div>

<div class="container searchList">
    <div class="row">

        <div class="col-12 col-sm-6 col-md-4 col-xl-3" *ngFor="let item of searchList">
            <div class="schoolBox">
                <div class="logo">
                    <img [src]="imageUrl+item.logo_name" alt="logo" />
                </div>
                <div class="schoolName">
                    <h4><a href="javascript:void(0);" (click)="gotoDetails(item)">{{item.entity_name}}</a></h4>
                    <p>Orci varius natoque</p>
                    <div class="location">
                        <span class="icon-placeholder icon"></span>
                        <p class="text">{{item.physicaladdr1}}</p>
                    </div>
                </div>
                <p *ngIf="language == 'en'">{{item.projectNameEn}}</p>
                <p *ngIf="language == 'es'">{{item.projectNameEs}}</p>
                <!-- <div class="timing">
                    <span class="icon-clock icon"></span>
                    <div class="text">
                        Mon - Sun
                        <strong>9:00 AM - 10:30 PM</strong>
                    </div>
                </div> -->
                <div class="filterPan">
                    <span>Aguadilla</span>
                    <span>{{item.community}}</span>
                    <span *ngFor="let data of jsonDecode(item.population)">{{data.value}}</span>
                    <span *ngIf="item.categories == 0">{{ 'PROPOSAL.MALE' | translate }}</span>
                    <span *ngIf="item.categories == 1">{{ 'PROPOSAL.FEMALE' | translate }}</span>
                    <span *ngIf="item.categories == 2">{{ 'PROPOSAL.BOTH' | translate }}</span>
                </div>
                <div class="contactPan row">
                    <div class="col-6 divider">
                        <a href="{{'mailto:'+item.email}}"><span class="icon-arroba-symbol"></span>{{ 'WEBSITE.EMAILUS' | translate }}</a>
                    </div>
                    <div class="col-6"><a href="{{'tel:'+item.phone}}"><span class="icon-call"></span>{{ 'WEBSITE.CALLUS' | translate }}</a></div>
                </div>
            </div>
        </div>
        <div class="centerDiv" *ngIf="showNoData">
            <h5>Sorry! No Result Found.</h5>
        </div>
        

    </div>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
<app-footer-website></app-footer-website>
