
.searchList{
    padding-top: 20px;
    padding-bottom: 40px;
}
.centerDiv{
    display: flex;
    justify-content: center;
    width: 100%;
}
.schoolBox{
    border:solid 1px #cecece;
    border-radius: 5px;
    padding: 30px 20px 0 20px;
    margin: 15px 0;

    .logo{
        text-align: center;
        margin: 0 auto 30px;
        max-height: 145px;
        display: flex;
        justify-content: center;
    }
    p{
        font-size: 14px;
        list-style: 20px;
        color: #7e7e7e;
        font-weight: 300;
    }
    .schoolName{
        h4{
            color: #38a4fd;
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            margin-bottom: 0;
            a{
                color: #38a4fd;
            }
        }
        p{
            color: #9f9f9f;
            margin-bottom: 2px;
        }
        .location{
            color: #2e2e2e;
            font-weight: 500;
            margin-bottom: 10px;
            margin-top: 5px;

            p{
                color: #2e2e2e; 
            }
        }

    }
    span.icon{
        margin-right: 3px;
        color: #000;
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        width: 20px;
        margin-top: 3px;
    }
    .text{
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 25px);
    }
    .timing{
        font-size: 14px;
        list-style: 20px;
        font-weight: 400;
        color: #2e2e2e;
        margin-bottom: 15px;
        strong{
            font-weight: 300;
            display: block;
        }
    }
    .filterPan{
        span{
            color: #545353;
            background-color: #e2e2e2;
            display: inline-block;
            vertical-align: top;
            padding: 0 5px;
            font-size: 12px;
            list-style: 18px;
            font-weight: 300;
            margin: 0 2px;
        }
    }
    .contactPan{
        text-align: center;
        margin: 35px -20px 0;
        padding: 12px 0;
        border-top: solid 1px #cecece;
        a{
            color: #38a4fd;
            font-size: 14px;
            line-height: 18px;
            display: block;
            &:hover{
                text-decoration: none;
            }
            span{
                color: #000;
                margin-right: 5px;
                position: relative;
                top: 2px;
            }
        }
        .divider{
            border-right: solid 1px #cecece;
        }
        .col-6{
            padding:5px 0;
        }
    }
}



// Start 768px to 300px
@media screen and (max-width:767px) and (min-width:300px) {

    .filterRight{
        order: 1;
        z-index: 999;
    }
    .filterLeft{
        order: 2;
        top: -34px;
    }

    .schoolBox{
        .logo{
            height: auto;
            margin-bottom: 20px;
        }
        padding: 15px 10px 0 10px;
        .contactPan{
            margin:15px -10px 0;
        }
    }

    .pageHeaderPan{
        border-bottom: 0;
        .container{
            padding-bottom: 0;
        }
    }
    .pagesubHeaderPan{
        padding-top: 0;
    }
    .searchList{
        padding-top: 0;
    }

}
// End 768px to 300px