<div class="container-fluid contactWrap scrollSection" id="contact">
  <h3 style="color: #393939; text-align: center;">{{ 'CONTACT.CONTACT' | translate }}</h3>
  <div class="row">
    <div class="col-12 col-xl-7 col-lg-7 contactLeft">
      <form class="example-form" [formGroup]="addContactform" (ngSubmit)="addContact(addContactform.value)">
        <div class="inside_left">
          <!-- <h3>{{ 'CONTACT.CONTACT' | translate }}</h3> -->
          <div class="form-group">
            <input type="text" class="form-control" formControlName="name" placeholder="{{'CONTACT.NAME'|translate}}">
            <small *ngIf="formSubmit && name.errors || (name.errors && (name.dirty || name.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="ofsl_name" placeholder="{{ 'CONTACT.OFSL' | translate }}">
            <small *ngIf="formSubmit && ofsl_name.errors || (ofsl_name.errors && (ofsl_name.dirty || ofsl_name.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <div class="customSelect">
                  <select class="form-control" *ngIf="Citylisting.length > 0" formControlName="town">
                    <option value="">{{ 'CONTACT.SELECTTOWN' | translate }}</option>
                    <option *ngFor="let item of Citylisting" [value]="item.city">{{item.city}}</option>
                  </select>
                  <small *ngIf="formSubmit && town.errors || (town.errors && (town.dirty || town.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="form-group">
                <input type="number" class="form-control" formControlName="telephone" placeholder="{{ 'CONTACT.TELEPHONE' | translate }}">
                <small *ngIf="formSubmit && telephone.errors || (telephone.errors && (telephone.dirty || telephone.touched))" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="email" placeholder="{{ 'CONTACT.EMAIL' | translate }}">
            <p *ngIf="formSubmit && email.errors || ( email.errors &&(email.dirty || email.touched))"><small class="text-danger" *ngIf="email.errors.required  ">{{ 'PROPOSAL.REQUIRED' | translate }}</small><small class="text-danger" *ngIf=" email.errors.pattern">{{ 'PROPOSAL.VALIDEMAIL' | translate }}</small></p>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="3" formControlName="comment" placeholder="{{ 'CONTACT.COMMENT' | translate }}"></textarea>
          </div>
          <div class="form-group btnWrap">
            <button type="submit" class="btn btn-default">{{ 'GLOBAL.SUBMIT' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-xl-5 col-lg-5 contactRight px-0">
      <div class="mapPan">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60553.38972842992!2d-66.10442352928278!3d18.457058186065126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c036ec2cd8a7b61%3A0xf36e664693f59a12!2sSan%20Juan%2C%2000902%2C%20Puerto%20Rico!5e0!3m2!1sen!2sin!4v1578030418826!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
      <div class="contactTxt">
        <h5>Baltasar Corrada del Rio Building</h5>
        <p *ngIf="language == 'en'">104 Paseo Covadonga <br>
          Next parking lot Luis A. Ferré<br>
          San Juan, PR 00902</p>
        <p *ngIf="language == 'es'">104 Paseo Covadonga <br>
          Al lado estacionamiento Luis A. Ferré<br>
          San Juan, PR 00902</p>
        <div class="contactNum">
          <p *ngIf="language == 'en'">Call - 787-724-2099 / 787-725-2040<br>Fax - 787-724-6449</p>
          <p *ngIf="language == 'es'">Llamada - 787-724-2099 / 787-725-2040<br>Fax - 787-724-6449</p>
        </div>
        <p><strong>{{ 'LOGIN.EMAIL' | translate }} -</strong><a href="mailto:lbrivera@senado.pr.gov">lbrivera@senado.pr.gov</a></p>
      </div>
    </div>
  </div>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
