h1 {
    font-size: 30px;
    font-weight: 600;
}

/*header*/
.logo {
    margin-bottom: 40px;
    width: 20%;
    position: absolute;
    top: 10px;
    left: 39px;
}
.premium-calculation ul{
	text-align:center;
	display:table;
	table-layout:fixed;
    width:100%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
}
.premium-calculation ul li{
	display:table-cell;
	width:33%;
	text-align:center;
	position:relative;
}
.premium-calculation ul li span{
	display:block;
	padding-top:15px;
	color:#aeaeae;
	font-weight:400;
    font-size:12px;
    text-transform: uppercase;
    font-weight:600;
}
.premium-calculation ul li.active span, .premium-calculation ul li.alreadyactive span{
	color:#000;
	
}

.premium-calculation ul li .number{
	width:25px;
	height:25px;
	border-radius:28px;
	border:solid 1px #a6a6a6;
	color:#a9a9a9;
	font-size:12px;
	line-height:22px;
	text-align:center;
	display:inline-block;
	background-color:#fff;
	position:relative;
	z-index:9;
}
.premium-calculation ul li .reactive{
    color:#000;
    border:solid 1px #000;
	/* background-color:#298fd7; */
}
.premium-calculation ul li:after{
	content:"";
 	width:50%;
	height:1px;
	background-color:#e5e5e5;
	position:absolute;
	right:0;
	top:23%;
}
.premium-calculation ul li:nth-child(2):after{
	width:100%;
}
.premium-calculation ul li:nth-child(3):after{
	width:100%;
}
.premium-calculation ul li:nth-child(4):after{
	width:100%;
}
.premium-calculation ul li:nth-child(5):after{
	width:100%;
}
.premium-calculation ul li:nth-child(6):after{
	width:100%;
}
.premium-calculation ul li:nth-child(7):after{
	width:100%;
}
.premium-calculation ul li:nth-child(8):after{
	width:100%;
}
.premium-calculation ul li:nth-child(9):after{
	width:100%;
}
.premium-calculation ul li:nth-child(10):after{
	width:100%;
}
.premium-calculation ul li:last-child:after{
	right:auto;
	left:0;
}

.premium-calculation ul li.active:before, .premium-calculation ul li.alreadyactive:before{
	content: "";
	/* width: 23%; */
	 /* height: 4px;
	background-color: #298fd7;  */
	position: absolute;
	left:55%;
	top: 26%;
	z-index: 99;
}


.premium-calculation ul li.alreadyactive:before{
	width: 90%;
	color:#222222;
	
}
.premium-calculation ul li:last-child:before{
	display:none;
}

.headerdiv{
	// background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
	height: 100%;
	// overflow:hidden;
}


// @media (min-width: 360px) and (max-width: 768px) {
// 	.logo {
// 		width:30%;
// 		left:14px;
// 	}
// }
/*header*/ 



.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
	display: inline-block;
	margin-bottom: 15px;
  }
  
  .btn {
     background: url(src/assets/images/uploadbutt.png) no-repeat 0 0;
     height: 51px;
    display: block;
    font-size: 14px;
    width: 235px;
    line-height: 39px;
    color: #fff;
    padding-left:49px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    }

.browserupload{
	background: url(src/assets/images/upload.png) no-repeat 0 12px;
   width: 100%;
   padding-left: 43px;
   border-top-right-radius: 6px;
   position: relative;
   margin-bottom: 20px;
    }
 .d-block{
	color:#000;
   font-weight: 600;
   font-size: 16px;
 }
 .mat-body-2{
	 position: absolute;
	 top:12px;
	 left:45px;
 }

 .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .addnewbutt{
    display: inline-block;
    background: url('src/assets/images/addnew_bg.jpg') no-repeat 0 0;
    width:110px;
    height: 47px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    vertical-align: top;
    border-radius:3px;
    border: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 2px;
}

.btn-link{
	border:none;
	background-color: inherit;
	font-size: 16px;
	font-weight: 600;
}
.accord_below{
	padding-top: 25px;
}

.wrap-temp{
	border:solid 1px #b4c8d2;
	border-radius: 4px;
	padding: 20px 20px 0 20px;
    line-height: 20px;
	color: #5a75c1;
	background-color: #fff;
	margin-bottom: 5px;
}
p.upfiletxt{
	display: inline-block;
	
}
.wrap-temp a{
	color: #fff;
    background-color: #a3000d;
    width: 20px;
    height: 20px;
    border-radius: 50%;
	display: inline-block;
	float:right;
    text-align: center;
}
.upload-thumbnail{
	margin-right: 10px;
	width: 20%;
	padding: 10px;
	
}

.upload-thumbnail .btn{
	background-image: inherit;
    width: auto;
    color: #fff;
    width: 20px;
    height: 20px;
    background-color:#225db6;
    border-radius: 50%;
	padding: 0;
	float: right;
    margin-top: 9px;
}
.mat-icon i.material-icons{
	font-size: 15px;
	line-height: 15px;
	top:-14px;
	left: -2px;
}