<div class="container pagewrapper">
  <div class="row">
    <div class="col-md-12  headerdiv">
      <div class="outer_heading">
        <div class="heading" *ngIf="router.url == '/post-auth/news-add'">
          <h1>{{ 'NEWS.TITLE' | translate}} <span></span></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="formbody bodywrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div *ngIf="successMsg">
          <div class="alert alert-success"><strong>{{ msg }}</strong></div>
        </div>
        <div *ngIf="errorMsg">
          <div class="alert alert-danger"><strong>{{ msg }}</strong></div>
        </div>
      </div>
    </div>
  </div>
  <form class="example-form" [formGroup]="addNewsform" (ngSubmit)="addNews(addNewsform.value)">
    <div class="container">
      <!-- accordian -->
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class=" btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{ 'NEWS.ENGLISH' | translate }}
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>{{ 'NEWS.NEWS_TITLE' | translate }}</label>
                    <input type="hidden" name="UpdatedBy" value="1">
                    <input type="text" class="form-control" formControlName="NewsTitle" id="" placeholder="{{ 'NEWS.NEWS_TITLE_LVL' | translate }}">
                    <small *ngIf="(f1.NewsTitle.errors && f1.NewsTitle.touched) || (f1submitted && f1.NewsTitle.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>{{ 'NEWS.NEWS_BODY' | translate }}</label>
                    <!-- <ck-editor name="editor1" [(ngModel)]="editorValue"  formControlName="NewsBody" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor> np -->
                    <ck-editor name="editor1" placeholder="Describe..." formControlName="NewsBody" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
                    <small *ngIf="(f1.NewsBody.errors && f1.NewsBody.touched) || (f1submitted && f1.NewsBody.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                  </div>
                  <button class=" btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">{{ 'NEWS.NEWS_GO_TO' | translate }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class=" btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {{ 'NEWS.SPANISH' | translate }}
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>{{ 'NEWS.NEWS_TITLE' | translate }}</label>
                    <input type="hidden" name="UpdatedBy" value="1">
                    <input type="text" class="form-control" formControlName="NewsTitleSpanish" id="" placeholder="{{ 'NEWS.NEWS_TITLE_LVL' | translate }}">
                    <small *ngIf="(f1.NewsTitleSpanish.errors && f1.NewsTitleSpanish.touched) || (f1submitted && f1.NewsTitleSpanish.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>{{ 'NEWS.NEWS_BODY' | translate }}</label>
                    <!-- <ck-editor name="editor1" [(ngModel)]="editorValue"  formControlName="NewsBody" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor> np -->
                    <ck-editor name="editor2" placeholder="Describe..." formControlName="NewsBodySpanish" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
                    <small *ngIf="(f1.NewsBodySpanish.errors && f1.NewsBodySpanish.touched) || (f1submitted && f1.NewsBodySpanish.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- accordian -->
      <div class="row accord_below">
        <div class="col-md-12">
          <div class="form-group prradio">
            <label>{{ 'NEWS.NEWS_PUBLISH' | translate }}</label>
            <div class="custom-control custom-radio custom-control-inline statediv">
              <input type="radio" formControlName="Status" class="custom-control-input" id="Yes" value="1">
              <label class="custom-control-label" for="Yes">{{ 'GLOBAL.YES' | translate }}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline statediv">
              <input type="radio" class="custom-control-input" id="No" formControlName="Status" value="0">
              <label class="custom-control-label" for="No">{{ 'GLOBAL.NO' | translate }}</label>
            </div>
            <br>
            <small *ngIf="(f1.Status.errors && f1.Status.touched) || (f1submitted && f1.Status.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-7">
          <button type="button" class="btn browserupload" mat-button fxFlex (click)="fileInput.click()">
            <!-- <mat-icon>cloud_upload</mat-icon> -->
            <label class="d-block mat-body-2">{{ 'PROPOSAL.BROWSEUPLOADDOCUMENT' | translate }}</label>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-7">
          <div fxLayout.gt-xs="column" fxLayout.xs="column" class="uploadwrap">
            <div fxLayout="row" class="m-b">
              <div class="upload-thumbnail mat-elevation-z6 p-d" *ngFor="let data of imageUrl;let i = index">
                <!-- <img *ngIf="this.newslistid == 0" [src]="data"> -->
                <img *ngIf="this.newslistid > 0" [src]="getImgUrl(data.doc_path)">
                <button class="btn" mat-icon-button matTooltip="Delete">
                  <mat-icon (click)="deleteImge(i,data)"><i class="material-icons">
                      close
                    </i></mat-icon>
                </button>
              </div>
              <input hidden type="file" [multiple]="true" (change)="onImagechange($event)" #fileInput />
            </div>
            <div class="wrap-temp" *ngFor="let eachfile of upFiles">
              <p class="upfiletxt">{{eachfile.name}}</p><a href="javascript:" (click)="removefile(eachfile)">X</a>
            </div>
            <mat-error *ngIf="filevaidation">
              {{ 'NEWS.FILE_VALIDATION' | translate }}
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input name="register" type="submit" value="{{ 'NEWS.ADD_NEWS' | translate }}" class="registerbutt newspub" (click)="onActivate($event)">
        </div>
      </div>
    </div>
  </form>
</div>
